In [1]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ê°€ì ¸ì˜¤ê¸°

import pandas as pd # Series, DataFrame ì‚¬ìš©
import numpy as np  # ê°’ì„ ìƒì„±í•˜ëŠ”ë° ì‚¬ìš©

# â¬› ê³„ì¸µ ìƒ‰ì¸

- í–‰, ì—´ì˜ ê° ì¶•ì— ëŒ€í•´ ë‹¤ì¤‘ ë‹¨ê³„(ê³„ì¸µ)ì„ ì§€ì •í•˜ì—¬ ë°ì´í„°ì— ì°¨ì›ì„ ì„¤ì •
- ì¸ë±ìŠ¤ì— ë‹¤ì°¨ì› ë¦¬ìŠ¤íŠ¸ë¥¼ ì „ë‹¬í•˜ë©´ ê³„ì¸µ ìƒ‰ì¸ì„ ì§€ì •í•  ìˆ˜ ìˆìŒ
- ë°ì´í„° êµ¬ì¡°ë¥¼ ì¬ë°°ì—´í•˜ê±°ë‚˜ pivot í…Œì´ë¸”ê³¼ ê°™ì€ ê·¸ë£¹ ê¸°ë°˜ ì‘ì—…ì— ìœ ìš©

- ì¬ë°°ì—´ ë©”ì„œë“œ
    - stack() : ì»¬ëŸ¼ì„ ë¡œìš°ë¡œ í”¼ë²—
    - unstack() : ë¡œìš°ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ í”¼ë²—

In [2]:
# ğŸ”´ Series (ì´ì¤‘ ë¼ë²¨ë§)

## ğŸ”¸ ì¸ë±ìŠ¤ì— ë‹¤ì°¨ì› ë¦¬ìŠ¤íŠ¸(ì•„ì´í…œ 2ê°œ)ë¥¼ ì „ë‹¬
## ğŸ”¸ ë‹¤ì°¨ì›ë¦¬ìŠ¤íŠ¸[0] ìƒìœ„ê³„ì¸µ
## ğŸ”¸ ìƒìœ„ ê³„ì¸µ ì‘ì„±ì‹œ ì£¼ì˜ì  : ê° ê³„ì¸µë³„ë¡œ ì†í•˜ëŠ” í•˜ìœ„ê³„ì¸µ ê°’ì˜ ê°œìˆ˜ë§Œí¼ ê³„ì¸µëª… ì‘ì„±
## ğŸ”¸ ìƒìœ„ ê³„ì¸µ ë¦¬ìŠ¤íŠ¸ì˜ ê°œìˆ˜ = í•˜ìœ„ ê³„ì¸µ ë¦¬ìŠ¤íŠ¸ ê°œìˆ˜
## ğŸ”¸ ë‹¤ì°¨ì›ë¦¬ìŠ¤íŠ¸[1] : í•˜ìœ„ê³„ì¸µ

## ğŸ”¸ ì‹¤ìŠµ ---->
### ë¡œìš° ì¸ë±ìŠ¤ - ìƒìœ„ ê³„ì¸µ : a, b, c, d
### í•˜ìœ„ ê³„ì¸µ - a(1, 2, 3), b(1, 2), c(1, 2, 3, 4), d(1)

s1 = pd.Series(np.arange(10), index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'c', 'c', 'd'],
                                     [1, 2, 3, 1, 2, 1, 2, 3, 4, 1]])

# ğŸ’› ì¸ë±ìŠ¤ë¥¼ ì´ì¤‘ ë¦¬ìŠ¤íŠ¸ë¡œ ì£¼ë©´ ê°™ì€ ê°’ë¼ë¦¬ ë¬¶ì—¬ì„œ ê·¸ë£¹í•‘ì´ ëœë‹¤.

In [3]:
s1

a  1    0
   2    1
   3    2
b  1    3
   2    4
c  1    5
   2    6
   3    7
   4    8
d  1    9
dtype: int32

In [4]:
## ğŸ”¸ ì¸ë±ìŠ¤ í™•ì¸ => multi index (ë‹¤ì¤‘ ì¸ë±ìŠ¤)

s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2),
            ('c', 3),
            ('c', 4),
            ('d', 1)],
           )

In [5]:
# ğŸ”´ ìƒìœ„ ê³„ì¸µì— ì ‘ê·¼

## ğŸ”¸ ê³„ì¸µ ìƒ‰ì¸ì´ ì ìš©ëœ ê°ì²´ì˜ ìƒìœ„ ì¸ë±ìŠ¤ì— ì ‘ê·¼ : ì¼ë°˜ì ì¸ Series ì¸ë±ì‹±ìœ¼ë¡œ ì ‘ê·¼

s1['c']

1    5
2    6
3    7
4    8
dtype: int32

In [6]:
# ğŸ”´ ê³„ì¸µ ìƒ‰ì¸ë° ëŒ€í•œ ìŠ¬ë¼ì´ì‹± : ë§ˆì§€ë§‰ ì¸ë±ìŠ¤ë„ í¬í•¨('b' : 'd' ì…ë ¥ì‹œ b, c, dë¥¼ ì¡°íšŒ)

s1['b':'d']

b  1    3
   2    4
c  1    5
   2    6
   3    7
   4    8
d  1    9
dtype: int32

In [7]:
s1

a  1    0
   2    1
   3    2
b  1    3
   2    4
c  1    5
   2    6
   3    7
   4    8
d  1    9
dtype: int32

In [8]:
# ğŸ”´ í•˜ìœ„ ê³„ì¸µì— ì ‘ê·¼

## ğŸ”¸ a, b, c, dì—ì„œ í•˜ìœ„ê³„ì¸µ ë¼ë²¨ë²ˆí˜¸ 2ì¸ ë°ì´í„°ë§Œ ì¡°íšŒ
## ğŸ”¸ ë°ì´í„°[ìƒìœ„ê³„ì¸µëª…,í•˜ìœ„ê³„ì¸µë²ˆí˜¸]

s1[:, 2]

## ìƒìœ„ê³„ì¸µ : ë²”ìœ„ ì „ì²´
## í•˜ìœ„ê³„ì¸µ : 2ë²ˆì§¸ ë²ˆí˜¸ë§Œ
## ê²°ê³¼ê°’ : aì˜ 2ë²ˆì§¸, bì˜ 2ë²ˆì§¸, cì˜ ë‘ ë²ˆì§¸

a    1
b    4
c    6
dtype: int32

In [9]:
# ğŸ”´ í•˜ìœ„ ê³„ì¸µì— ìŠ¬ë¼ì´ì‹± : loc ë©”ì„œë“œë¥¼ ì´ìš©í•´ì„œ ìŠ¬ë¼ì´ì‹±

## ğŸ”¸ ìƒìœ„ ê³„ì¸µì´ cì´ê³  í•˜ìœ„ê³„ì¸µì„ 2 ~ 4 ê¹Œì§€ ìŠ¬ë¼ì´ì‹±(.locëŠ” ë§ˆì§€ë§‰ ë²ˆí˜¸ë„ í¬í•¨)

s1['c'].loc[2:4]

2    6
3    7
4    8
dtype: int32

In [10]:
# ğŸ”´ unstack() : ìµœí•˜ìœ„(ê¸°ë³¸ë™ì‘)ì— ìˆëŠ” ë¡œìš° ê³„ì¸µì„ ì»¬ëŸ¼ìœ¼ë¡œ ì ìš©í•˜ì—¬ ìœ„ë¡œ ì˜¬ë¦¼

## ğŸ”¸ Series ê°ì²´ë¥¼ DataFrameí™” í•  ìˆ˜ ìˆìŒ
## ğŸ”¸ NaN : ê¸°ì¡´ì— ì—†ë˜ ë¡œìš° ê³„ì¸µì— ëŒ€í•œ ê°’

s1.unstack()

## ğŸ”¸ ì¼ì°¨ì› ë°ì´í„°ë¥¼ 2ì°¨ì› ë°ì´í„°ë¡œ ë°”ê¾¸ì–´ë²„ë¦¼

     1    2    3    4
a  0.0  1.0  2.0  NaN
b  3.0  4.0  NaN  NaN
c  5.0  6.0  7.0  8.0
d  9.0  NaN  NaN  NaN

In [11]:
# ğŸ”´ stack() ë©”ì„œë“œ : ì»¬ëŸ¼ì— ìˆë˜ ê°’ì„ ê°€ì¥ í•˜ìœ„ ì¸ë±ìŠ¤ë¡œ ë‚´ë ¤ì„œ ì¬ë°°ì—´

## ğŸ”¸ DataFrameì„ ë‹¤ì‹œ Seriesí™” í•  ë•Œ ì‚¬ìš©

s1.unstack().stack()

a  1    0.0
   2    1.0
   3    2.0
b  1    3.0
   2    4.0
c  1    5.0
   2    6.0
   3    7.0
   4    8.0
d  1    9.0
dtype: float64

In [12]:
# ğŸ”´ DataFrame ìƒì„±

## êµ¬ì¡° : 4,5
## row : ìƒìœ„(2017, 2018), í•˜ìœ„(ëª¨ë“  ìƒìœ„ ì¸ë±ìŠ¤ì— ëŒ€í•´ ë™ì¼í•˜ê²Œ a, b)
## col : ìƒìœ„(ì„œìš¸, ê²½ê¸°), í•˜ìœ„(ì„œìš¸- ê°•ë‚¨,ì ì‹¤ / ê²½ê¸°-ì•ˆì–‘,ìˆ˜ì›,íŒêµ)
## ê°’ : 1ì”© ì¦ê°€í•˜ëŠ” 20ê°œ

df = pd.DataFrame(np.arange(20).reshape(4,5), 
                  index=[[2017, 2017, 2018, 2018],['a', 'b', 'a', 'b']], 
                  columns = [['ì„œìš¸', 'ì„œìš¸', 'ê²½ê¸°', 'ê²½ê¸°', 'ê²½ê¸°'], ['ê°•ë‚¨', 'ì ì‹¤', 'ì•ˆì–‘', 'ìˆ˜ì›', 'íŒêµ']])
df

        ì„œìš¸      ê²½ê¸°
        ê°•ë‚¨  ì ì‹¤  ì•ˆì–‘  ìˆ˜ì›  íŒêµ
2017 a   0   1   2   3   4
     b   5   6   7   8   9
2018 a  10  11  12  13  14
     b  15  16  17  18  19

In [13]:
# ğŸ”´ ì»¬ëŸ¼ì˜ ìƒìœ„ ê³„ì¸µ ì ‘ê·¼ : ì¼ë°˜ì ì¸ df ì»¬ëŸ¼ ì¸ë±ì‹± ë°©ì‹

## 'ì„œìš¸' ë°ì´í„° ì¡°íšŒ

df['ì„œìš¸']

        ê°•ë‚¨  ì ì‹¤
2017 a   0   1
     b   5   6
2018 a  10  11
     b  15  16

In [14]:
# ğŸ”´ ì»¬ëŸ¼ì´ ì´ì¤‘ êµ¬ì¡°ë¡œ ë˜ì–´ ìˆìœ¼ë¯€ë¡œ, ì¸ë±ì‹±ë„ ì´ì¤‘ìœ¼ë¡œ í•´ì•¼ í•˜ë‚˜ì˜ ìš”ì†Œë¥¼ ì¡°íšŒí•  ìˆ˜ ìˆìŒ

print(df['ì„œìš¸']['ê°•ë‚¨'])
print("--------------------")
print(df['ì„œìš¸', 'ê°•ë‚¨'])
print("--------------------")

## ğŸ”¸ íŠœí”Œë¡œ ì „ë‹¬ì‹œ í•˜ë‚˜ì˜ ë¦¬ìŠ¤íŠ¸ë¡œ 2ê°œ ì´ìƒì˜ ê³„ì¸µ ì²˜ë¦¬ ê°€ëŠ¥
print(df[('ì„œìš¸', 'ê°•ë‚¨')])

2017  a     0
      b     5
2018  a    10
      b    15
Name: ê°•ë‚¨, dtype: int32
--------------------
2017  a     0
      b     5
2018  a    10
      b    15
Name: (ì„œìš¸, ê°•ë‚¨), dtype: int32
--------------------
2017  a     0
      b     5
2018  a    10
      b    15
Name: (ì„œìš¸, ê°•ë‚¨), dtype: int32

In [15]:
# ğŸ”´ rowì˜ ìƒìœ„ ê³„ì¸µ ì ‘ê·¼

## ğŸ”¸ 2017ë…„ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ì£¼ì„¸ìš”
df.loc[2017]

  ì„œìš¸    ê²½ê¸°
  ê°•ë‚¨ ì ì‹¤ ì•ˆì–‘ ìˆ˜ì› íŒêµ
a  0  1  2  3  4
b  5  6  7  8  9

In [16]:
## ğŸ”¸ 2017ë…„ì˜ ì „ë°˜ê¸°a ë°ì´í„°ë¥¼ ì¡°íšŒí•´ì£¼ì„¸ìš”

### â—¾ ë°©ë²•1)

df.loc[2017, 'a']
df.loc[(2017, 'a')]

ì„œìš¸  ê°•ë‚¨    0
    ì ì‹¤    1
ê²½ê¸°  ì•ˆì–‘    2
    ìˆ˜ì›    3
    íŒêµ    4
Name: (2017, a), dtype: int32

In [17]:
### â—¾ ë°©ë²•2)

df.loc[2017].loc['a']

ì„œìš¸  ê°•ë‚¨    0
    ì ì‹¤    1
ê²½ê¸°  ì•ˆì–‘    2
    ìˆ˜ì›    3
    íŒêµ    4
Name: a, dtype: int32

In [18]:
# ğŸ”´ ë¶„ë‹¹ ~ ìˆ˜ì›ê¹Œì§€ ë°ì´í„° ì¡°íšŒ

## ğŸ”¸ ì£¼ì˜ì  : ë°ì´í„°í”„ë ˆì„ ì»¬ëŸ¼ì€ row ìŠ¬ë¼ì´ì‹± ê²°ê³¼ì— ëŒ€í•´ì„œë§Œ ìŠ¬ë¼ì´ì‹± ì ìš©
df['ê²½ê¸°'].loc[:, "ì•ˆì–‘":"ìˆ˜ì›"]

        ì•ˆì–‘  ìˆ˜ì›
2017 a   2   3
     b   7   8
2018 a  12  13
     b  17  18

In [19]:
# ğŸ”´ ë¡œìš°ì˜ ìµœí•˜ìœ„ê³„ì¸µ(a, b)ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ì˜¬ë¦¬ê¸° : unstack()

df.unstack()

      ì„œìš¸              ê²½ê¸°
      ê°•ë‚¨      ì ì‹¤      ì•ˆì–‘      ìˆ˜ì›      íŒêµ
       a   b   a   b   a   b   a   b   a   b
2017   0   5   1   6   2   7   3   8   4   9
2018  10  15  11  16  12  17  13  18  14  19

In [20]:
df

        ì„œìš¸      ê²½ê¸°
        ê°•ë‚¨  ì ì‹¤  ì•ˆì–‘  ìˆ˜ì›  íŒêµ
2017 a   0   1   2   3   4
     b   5   6   7   8   9
2018 a  10  11  12  13  14
     b  15  16  17  18  19

In [21]:
# ğŸ”´ ì»¬ëŸ¼ì˜ ìµœí•˜ìœ„ê³„ì¸µì„ ë¡œìš°ì˜ í•˜ìœ„ê³„ì¸µìœ¼ë¡œ ì¬ë°°ì—´ : stack()

df.stack()

             ê²½ê¸°    ì„œìš¸
2017 a ê°•ë‚¨   NaN   0.0
       ìˆ˜ì›   3.0   NaN
       ì•ˆì–‘   2.0   NaN
       ì ì‹¤   NaN   1.0
       íŒêµ   4.0   NaN
     b ê°•ë‚¨   NaN   5.0
       ìˆ˜ì›   8.0   NaN
       ì•ˆì–‘   7.0   NaN
       ì ì‹¤   NaN   6.0
       íŒêµ   9.0   NaN
2018 a ê°•ë‚¨   NaN  10.0
       ìˆ˜ì›  13.0   NaN
       ì•ˆì–‘  12.0   NaN
       ì ì‹¤   NaN  11.0
       íŒêµ  14.0   NaN
     b ê°•ë‚¨   NaN  15.0
       ìˆ˜ì›  18.0   NaN
       ì•ˆì–‘  17.0   NaN
       ì ì‹¤   NaN  16.0
       íŒêµ  19.0   NaN

In [22]:
# ğŸ”´ ê³„ì¸µì˜ ì¸ë±ìŠ¤ ë²ˆí˜¸ ë˜ëŠ” ë¼ë²¨ì„ ì‚¬ìš©í•˜ì—¬ ìƒ, í•˜ìœ„ê°„ êµí™˜

## ğŸ”¸ swaplevel(key1, key2, axis=0(ê¸°ë³¸ê°’))
## ğŸ”¸ axisê°€ 0ì¸ ê²½ìš°ëŠ” rowì˜ ìƒí•˜ìœ„ ê°œë…ì´ ë’¤ì§‘íŒë‹¤.

df.swaplevel(1, 0)

        ì„œìš¸      ê²½ê¸°
        ê°•ë‚¨  ì ì‹¤  ì•ˆì–‘  ìˆ˜ì›  íŒêµ
a 2017   0   1   2   3   4
b 2017   5   6   7   8   9
a 2018  10  11  12  13  14
b 2018  15  16  17  18  19

In [23]:
## ğŸ”¸ swaplevelì— axis=1ì„ ì£¼ë©´ ê³„ì¸µì´ ì•„ë‹Œ ì»¬ëŸ¼ì— ë³€ë™ì´ ìƒê¹ë‹ˆë‹¤.

df.swaplevel(1, 0, axis=1)

        ê°•ë‚¨  ì ì‹¤  ì•ˆì–‘  ìˆ˜ì›  íŒêµ
        ì„œìš¸  ì„œìš¸  ê²½ê¸°  ê²½ê¸°  ê²½ê¸°
2017 a   0   1   2   3   4
     b   5   6   7   8   9
2018 a  10  11  12  13  14
     b  15  16  17  18  19

### â¬› ê°ì²´ ë³µì‚¬

- í• ë‹¹ê¸°í˜¸(=) / ìŠ¬ë¼ì´ì‹± : ì›ë³¸ê³¼ ìƒí˜¸ ì¢…ì†ì ì¸ ë³µì‚¬ë³¸ ê°ì²´ ìƒì„± (ì–•ì€ ë³µì‚¬)
- obj.copy() : ì›ë³¸ê³¼ ë…ë¦½ì ì¸ ë³µì‚¬ë³¸ ê°ì²´ ìƒì„±(ê¹Šì€ ë³µì‚¬)

In [24]:
# ğŸ”´ ëª¨ë“  ê°’ì´ 1ì¸ 5*1 êµ¬ì¡°ì˜ Series ìƒì„±

s1 = pd.Series(np.ones(5))
s1

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [25]:
# ğŸ”´ í• ë‹¹ê¸°í˜¸ = ë¡œ ë³µì‚¬ : ì–•ì€ ë³µì‚¬

s2 = s1
s2

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [26]:
# ğŸ”´ í• ë‹¹ ê¸°í˜¸ë¡œ ë³µì‚¬í•œ ê°ì²´ì˜ ì•„ì´í…œ ìˆ˜ì •

s2[0] = 10
s2

0    10.0
1     1.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [27]:
## ğŸ”¸ =ì„ ì´ìš©í•œ ëŒ€ì…ì€ ì›ë³¸ ê°ì²´ë„ ë³€ê²½ë¨
s1

0    10.0
1     1.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [28]:
# ğŸ”´ ì›ë³¸ ê°ì²´ì˜ ì•„ì´í…œ ìˆ˜ì •

## ğŸ”¸ ì›ë³¸ë„ ë³µì‚¬ë³¸ì—ê²Œ ì˜í–¥ì„ ì¤Œ

s1[1] = 30
print(s1)
print(s2)

0    10.0
1    30.0
2     1.0
3     1.0
4     1.0
dtype: float64
0    10.0
1    30.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [29]:
# ğŸ”´ ìŠ¬ë¼ì´ì‹±ìœ¼ë¡œ ë³µì‚¬

## ğŸ”¸ ì¼ë°˜ íŒŒì´ì¬ì—ì„œëŠ” ê¹Šì€ ë³µì‚¬ë¡œ ê°„ì£¼ë˜ì§€ë§Œ
## ğŸ”¸ íŒ¬ë”ìŠ¤ì—ì„œëŠ” ì–•ì€ ë³µì‚¬ë¡œ ì·¨ê¸‰ëœë‹¤. ğŸ’›

s3 = s1[:]
s3

0    10.0
1    30.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [30]:
## ğŸ”¸ ë³µì‚¬ë³¸ ê°ì²´ ì•„ì´í…œ ìˆ˜ì • => s1, s2ì— ì˜í–¥

s3[2] = -9

print("------< s3 >----")
print(s3)
print("------< s1 >----")
print(s1)
print("------< s2 >----")
print(s2)

------< s3 >----
0    10.0
1    30.0
2    -9.0
3     1.0
4     1.0
dtype: float64
------< s1 >----
0    10.0
1    30.0
2    -9.0
3     1.0
4     1.0
dtype: float64
------< s2 >----
0    10.0
1    30.0
2    -9.0
3     1.0
4     1.0
dtype: float64

In [31]:
# ğŸ”´ ì›ë³¸ ë³€ê²½ => s2, s3ì— ì˜í–¥

s1[3] = 33

print("------< s1 >----")
print(s1)
print("------< s2 >----")
print(s2)
print("------< s3 >----")
print(s3)

------< s1 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s2 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s3 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64

In [32]:
# ğŸ”´ ê¹Šì€ ë³µì‚¬ë¥¼ í•˜ê³ ì‹¶ìœ¼ë©´ ? => .copy()ë¥¼ ì´ìš©

s4 = s1.copy()
s4

0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64

In [33]:
## ğŸ”¸ s4ë¥¼ ë°”ê¿”ë„ s1, s2, s3ì€ ì˜í–¥ì„ ë°›ì§€ ì•ŠìŒ.

s4[4] = 200

print("------< s1 >----")
print(s1)
print("------< s2 >----")
print(s2)
print("------< s3 >----")
print(s3)
print("------< s4 >----")
print(s4)

------< s1 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s2 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s3 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s4 >----
0     10.0
1     30.0
2     -9.0
3     33.0
4    200.0
dtype: float64

In [34]:
## ğŸ”¸ ë§ˆì°¬ê°€ì§€ë¡œ s1ì„ ë³€ê²½í•´ë„ s4ì—ëŠ” ì˜í–¥ì„ ì£¼ì§€ ì•ŠìŒ

s1[0] = 2929229

print("------< s1 >----")
print(s1)
print("------< s2 >----")
print(s2)
print("------< s3 >----")
print(s3)
print("------< s4 >----")
print(s4)

------< s1 >----
0    2929229.0
1         30.0
2         -9.0
3         33.0
4          1.0
dtype: float64
------< s2 >----
0    2929229.0
1         30.0
2         -9.0
3         33.0
4          1.0
dtype: float64
------< s3 >----
0    2929229.0
1         30.0
2         -9.0
3         33.0
4          1.0
dtype: float64
------< s4 >----
0     10.0
1     30.0
2     -9.0
3     33.0
4    200.0
dtype: float64

### â¬› ì •ë ¬ (ğŸ’›x5)

- obj.sort_index() : ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ (ê¸°ë³¸ê°’ì€ ascending=True, ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬)
    - DataFrame, Series
        - axis = 0 : ê¸°ë³¸ê°’, ë¡œìš° ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
        - axis = 1 : ì»¬ëŸ¼ ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
        
        
- obj.sort_values() : ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
    - DataFrame, Series
        - by : ì •ë ¬ì˜ ê¸°ì¤€ì´ ë˜ëŠ” ì¸ë±ìŠ¤ ê°’ ì „ë‹¬
        - axis = 0 : ê¸°ë³¸ê°’, ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë¡œìš° ì¸ë±ìŠ¤ë¥¼ ì •ë ¬í•˜ë©° ê¸°ì¤€ê°’ìœ¼ë¡œ byì— ì¸ë±ìŠ¤ ì»¬ëŸ¼ ë ˆë²¨ ë˜ëŠ” ì»¬ëŸ¼ëª… ì „ë‹¬
        - axis = 1 : ë¡œìš° ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì»¬ëŸ¼ ë¼ë²¨ì„ ì •ë ¬í•˜ë©° ê¸°ì¤€ê°’ìœ¼ë¡œ byì— ë ˆë²¨ ë˜ëŠ” ë¼ë²¨ëª… ì „ë‹¬

In [35]:
# ğŸ”´ ì‹œë¦¬ì¦ˆ ìƒì„±

## ê°’ê³¼ ì¸ë±ìŠ¤ë¼ë²¨ì´ ìˆœì„œëŒ€ë¡œ ë“¤ì–´ê°€ì§€ ì•Šì€ ì‹œë¦¬ì¦ˆ

s1 = pd.Series([2, 3, 1, 7, 0], index=list('gacfd'))
s1

g    2
a    3
c    1
f    7
d    0
dtype: int64

In [36]:
# ğŸ”´ ì¸ë±ìŠ¤ ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

## ğŸ”¸ ê¸°ë³¸ ë™ì‘ : ì˜¤ë¦„ì°¨ìˆœ & ë¡œìš° ì¸ë±ìŠ¤

s1.sort_index()

a    3
c    1
d    0
f    7
g    2
dtype: int64

In [37]:
# ğŸ”´ ì¸ë±ìŠ¤ ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

s1.sort_index(ascending=False)

g    2
f    7
d    0
c    1
a    3
dtype: int64

In [38]:
## ğŸ”¸ ì¼ì‹œì  ë³€ê²½ì´ë¯€ë¡œ s1ì—ëŠ” ì˜í–¥ì„ ì£¼ì§€ ì•ŠìŒ

s1

g    2
a    3
c    1
f    7
d    0
dtype: int64

In [39]:
# ğŸ”´ ê°’ ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

s1.sort_values()

d    0
c    1
g    2
a    3
f    7
dtype: int64

In [40]:
# ğŸ”´ ê°’ ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

s1.sort_values(ascending=False)

f    7
a    3
g    2
c    1
d    0
dtype: int64

In [41]:
## ğŸ”¸ ì›ë³¸ì— ë°”ë¡œ ë°˜ì˜ë˜ì§€ ì•ŠìŒ
s1

g    2
a    3
c    1
f    7
d    0
dtype: int64

In [53]:
# ğŸ”´ ë°ì´í„° í”„ë ˆì„ ìƒì„±

## 4 *5 ë¬´ì‘ìœ„ ì •ìˆ˜(np.random.randint())
## ë¡œìš° / ì»¬ëŸ¼ ì¸ë±ìŠ¤ë„ ìˆœì„œê°€ ì—†ëŠ” ê°’ ì§€ì •

df1 = pd.DataFrame(np.random.randint(20, size=(4,5)) , index=list('hcae'), columns=list('EAFCD'))
df1

    E   A   F  C   D
h  15   1  19  7   7
c   7   1   8  5  14
a   0  12  15  0  14
e   7  18  11  7  18

In [54]:
# ğŸ”´ row ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬(axis=0)

df1.sort_index()

    E   A   F  C   D
a   0  12  15  0  14
c   7   1   8  5  14
e   7  18  11  7  18
h  15   1  19  7   7

In [55]:
# ğŸ”´ ë¡œìš° ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

df1.sort_index(ascending=False)

    E   A   F  C   D
h  15   1  19  7   7
e   7  18  11  7  18
c   7   1   8  5  14
a   0  12  15  0  14

In [56]:
# ğŸ”´ ì»¬ëŸ¼ëª… ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

df1.sort_index(axis=1)

    A  C   D   E   F
h   1  7   7  15  19
c   1  5  14   7   8
a  12  0  14   0  15
e  18  7  18   7  11

In [57]:
# ğŸ”´ ì»¬ëŸ¼ëª… ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

df1.sort_index(axis=1, ascending=False)

    F   E   D  C   A
h  19  15   7  7   1
c   8   7  14  5   1
a  15   0  14  0  12
e  11   7  18  7  18

In [58]:
# ğŸ”´ ì»¬ëŸ¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„, ë¡œìš° ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

df1.sort_index(axis=1, ascending=False).sort_index()

    F   E   D  C   A
a  15   0  14  0  12
c   8   7  14  5   1
e  11   7  18  7  18
h  19  15   7  7   1

In [59]:
## ğŸ”¸ ì›ë³¸ì€ ë³€í•˜ì§€ ì•ŠëŠ”ë‹¤.

df1

    E   A   F  C   D
h  15   1  19  7   7
c   7   1   8  5  14
a   0  12  15  0  14
e   7  18  11  7  18

In [60]:
# ğŸ”´ ê°’ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬

## ğŸ”¸ ì»¬ëŸ¼ Dì˜ ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
## sort_values(axis=0, by='ê¸°ì¤€ì»¬ëŸ¼ëª…')

df1.sort_values(by='D')

    E   A   F  C   D
h  15   1  19  7   7
c   7   1   8  5  14
a   0  12  15  0  14
e   7  18  11  7  18

In [61]:
## ğŸ”¸ ì»¬ëŸ¼ Aë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

df1.sort_values(by='A', ascending=False)

    E   A   F  C   D
e   7  18  11  7  18
a   0  12  15  0  14
h  15   1  19  7   7
c   7   1   8  5  14

In [62]:
## ğŸ”¸ ì¸ë±ìŠ¤ë¼ë²¨(row)ì˜ cì˜ ê°’ì„ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

## ê²°ê³¼ì ìœ¼ë¡œ ì •ë ¬ë˜ëŠ” ëŒ€ìƒ : ì»¬ëŸ¼
## ì •ë ¬ì˜ ê¸°ì¤€ : rowë¼ë²¨

df1.sort_values(axis=1, by='c')

    A  C   E   F   D
h   1  7  15  19   7
c   1  5   7   8  14
a  12  0   0  15  14
e  18  7   7  11  18

In [63]:
## ğŸ”¸ row 'e'ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê°’ì„ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

df1.sort_values(axis=1, by='e', ascending=False)

    A   D   F   E  C
h   1   7  19  15  7
c   1  14   8   7  5
a  12  14  15   0  0
e  18  18  11   7  7

In [69]:
# ğŸ”´ ë‘ ê°œì˜ ì»¬ëŸ¼ì— ëŒ€í•´ì„œ ì •ë ¬ : ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ì„œ byì˜ ì¸ìê°’ìœ¼ë¡œ ì „ë‹¬

## ğŸ”¸ ì •ë ¬ ìš°ì„ ìˆœìœ„ : ì°¨ë¡€ëŒ€ë¡œ 1ìˆœìœ„ > 2ìˆœìœ„(1ìˆœìœ„ ë™ì •ì‹œ 2ìˆœìœ„ë¡œ ë„˜ì–´ê°)
## ğŸ”¸ 1ìˆœìœ„ ì •ë ¬ í›„, 1ìˆœìœ„ ì»¬ëŸ¼ì˜ ë™ì ê°’ì— ëŒ€í•´ 2ìˆœìœ„ ì»¬ëŸ¼ì˜ ê°’ì´ ì¬ì •ë ¬
## ğŸ”¸ ë™ì¼í•œ ê°’ì´ ì•„ë‹ˆë¼ë©´ ë¬´ì¡°ê±´ 1ìˆœìœ„ ì»¬ëŸ¼ì´ ìš°ì„ 

df1.sort_values(by=['D','E'])

### Dë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•˜ë˜, ë™ì ìê°€ ë‚˜ì˜¤ë©´ Eë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œ ë²ˆ ë” ì •ë ¬ì„ í•´ë¼(ë‘˜ ë‹¤ ì˜¤ë¦„ì°¨ìˆœ)
### Dë¥¼ ê¸°ì¤€ìœ¼ë¡œ aì™€ cê°€ 14ë¡œ ë™ì ì¼ ë•Œ, Eì—ì„œëŠ” a(0), c(7)ë¡œ ì •ë ¬ë¨

    E   A   F  C   D
h  15   1  19  7   7
a   0  12  15  0  14
c   7   1   8  5  14
e   7  18  11  7  18

In [70]:
## ğŸ”¸ DëŠ” ì˜¤ë¦„ì°¨ìˆœì¸ë°, EëŠ” ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ í•˜ê³  ì‹¶ì€ ê²½ìš°

## ğŸ”¸ ascending = [True, False]ì™€ ê°™ì´, ê°ê°ì˜ ì»¬ëŸ¼ì— ëŒ€í•´ì„œ ascendingì„ ë”°ë¡œ ë§¤ê²¨ì¤€ë‹¤.

df1.sort_values(by=['D','E'], ascending=[True, False])

    E   A   F  C   D
h  15   1  19  7   7
c   7   1   8  5  14
a   0  12  15  0  14
e   7  18  11  7  18

### <<ì—°ìŠµë¬¸ì œ>>

1. ì•„ë˜ì˜ ë°ì´í„° í”„ë ˆì„ì„ ìƒì„±í•˜ì„¸ìš”
- í•™ìƒë“¤ì˜ ì ìˆ˜ëŠ” 50ì´ìƒ 100ë¯¸ë§Œ ë¬´ì‘ìœ„ ì •ìˆ˜ê°’ì„ ìƒì„±í•˜ì—¬ ì‚¬ìš©

<img src="img/df_sort_practice1.png" width=250 align='left'>

In [86]:
df1 = pd.DataFrame(np.random.randint(50, 100, size=(5,4)), 
                   index=['Kim', 'Park', 'Lee', 'Jung', 'Moon'],
                   columns=[['2016', '2016', '2017', '2017'],['ì˜ì–´', 'ìˆ˜í•™', 'ì˜ì–´', 'ìˆ˜í•™']])
df1

     2016     2017
       ì˜ì–´  ìˆ˜í•™   ì˜ì–´  ìˆ˜í•™
Kim    64  70   80  68
Park   59  79   70  88
Lee    83  75   83  69
Jung   87  88   99  63
Moon   77  98   76  58

In [88]:
df1.index.name = 'í•™ìƒëª…'
df1

     2016     2017
       ì˜ì–´  ìˆ˜í•™   ì˜ì–´  ìˆ˜í•™
í•™ìƒëª…
Kim    64  70   80  68
Park   59  79   70  88
Lee    83  75   83  69
Jung   87  88   99  63
Moon   77  98   76  58

In [107]:
## ğŸ”¸ ì»¬ëŸ¼ ì¸ë±ìŠ¤ ì„¤ì •(ë¦¬ìŠ¤íŠ¸ë¡œ ë„˜ê¹€) ğŸ’›

###  ë©€í‹° ì¸ë±ìŠ¤ëŠ” ë¬´ì¡°ê±´ set_namesë¥¼ ì´ìš©í•´ì•¼ ì…ë ¥ ê°€ëŠ¥

df1.columns.set_names(['ì—°ë„', 'ê³¼ëª©ëª…'], inplace=True)
df1

ì—°ë„   2016     2017
ê³¼ëª©ëª…    ì˜ì–´  ìˆ˜í•™   ì˜ì–´  ìˆ˜í•™
í•™ìƒëª…
Kim    64  70   80  68
Park   59  79   70  88
Lee    83  75   83  69
Jung   87  88   99  63
Moon   77  98   76  58

#### 2. 2016ë…„ ë°ì´í„°ë§Œ ë³„ë„ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë¶„ë¦¬ ì €ì¥í•˜ì„¸ìš”(ê¹Šì€ ë³µì‚¬)

In [120]:
df2016 = df1['2016'].copy()
df2016

ê³¼ëª©ëª…   ì˜ì–´  ìˆ˜í•™
í•™ìƒëª…
Kim   64  70
Park  59  79
Lee   83  75
Jung  87  88
Moon  77  98

#### 3. 2016 ë°ì´í„°ì— ëŒ€í•´ í•™ìƒ ì´ë¦„ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.

In [114]:
df2016.sort_index()

ê³¼ëª©ëª…   ì˜ì–´  ìˆ˜í•™
í•™ìƒëª…
Jung  87  88
Kim   64  70
Lee   83  75
Moon  77  98
Park  59  79

#### 4. 2016 ë°ì´í„°ì˜ ê³¼ëª©ë³„ ì ìˆ˜ì— ëŒ€í•˜ì—¬ ì˜ì–´ì ìˆ˜ê°€ ë†’ì€ ìˆœì„œë¡œ ì •ë ¬í•˜ê³ , ì˜ì–´ì ìˆ˜ ë™ì ìì˜ ê²½ìš° ìˆ˜í•™ ì ìˆ˜ê°€ ë‚®ì€ ìˆœì„œë¡œ ì •ë ¬í•˜ì„¸ìš”

In [115]:
df2016.sort_values(by=['ì˜ì–´','ìˆ˜í•™'], ascending=[False, True])

ê³¼ëª©ëª…   ì˜ì–´  ìˆ˜í•™
í•™ìƒëª…
Jung  87  88
Lee   83  75
Moon  77  98
Kim   64  70
Park  59  79

### â¬› ë°ì´í„° í•©ì¹˜ê¸° (sqlì˜ joinê³¼ ë¹„ìŠ·í•¨)


- merge
    - pandas ê°ì²´ì˜ ë©”ì„œë“œë¡œ pandas.merge(df1, df2...)ë¡œ ì‚¬ìš©
    - ë‘ ê°œì˜ ë°ì´í„° í”„ë ˆì„ì— ëŒ€í•´ íŠ¹ì • ì»¬ëŸ¼(ì¼ì¹˜í•˜ëŠ” ë°ì´í„°ê°€ ìˆëŠ” ì»¬ëŸ¼)ì„ ê¸°ì¤€ìœ¼ë¡œ í•©ì¹˜ê¸°
        - ê¸°ë³¸ì ìœ¼ë¡œëŠ” í”„ë¼ì´ë¨¸ë¦¬í‚¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•˜ê² ì§€
          
    - ì£¼ìš” íŒŒë¼ë¯¸í„°
        - how : í•©ì¹˜ëŠ” ë°©ì‹ìœ¼ë¡œ inner(ê¸°ë³¸ê°’), left, right, outer ë°©ì‹ ì¡´ì¬
        - on : í•©ì¹˜ëŠ” ê¸°ì¤€ìœ¼ë¡œ ë‘ ê°œì˜ ë°ì´í„° í”„ë ˆì„ì— ê³µí†µìœ¼ë¡œ ì¡´ì¬í•˜ëŠ” ì»¬ëŸ¼ëª…ì„ ì‚¬ìš©í•´ì•¼ í•¨(ê¸°ë³¸ê°’ = None)

In [124]:
# ğŸ”´ ê³ ê° ë²ˆí˜¸ì™€ ê³ ê°ëª…ì„ ì €ì¥í•˜ê³  ìˆëŠ” ë°ì´í„° í”„ë ˆì„ ìƒì„±

## ğŸ”¸ë”•ì…”ë„ˆë¦¬ íƒ€ì…ìœ¼ë¡œ ë°ì´í„° í”„ë ˆì„ ë°ì´í„° ìƒì„± : key:col, value->list() : row ğŸ’› 

data = {'no' : [30, 31, 32, 33, 34], 'name' : ['ê¹€íŒŒì´ì¬', 'ì´ì¥ê³ ', 'ë°•íŒ¬ë”ìŠ¤', 'ê°•ë„˜íŒŒì´', 'ìµœì£¼í”¼í„°']}

data

{'no': [30, 31, 32, 33, 34], 'name': ['ê¹€íŒŒì´ì¬', 'ì´ì¥ê³ ', 'ë°•íŒ¬ë”ìŠ¤', 'ê°•ë„˜íŒŒì´', 'ìµœì£¼í”¼í„°']}

In [127]:
df = pd.DataFrame(data, index=list('01234'))
df

   no  name
0  30  ê¹€íŒŒì´ì¬
1  31   ì´ì¥ê³
2  32  ë°•íŒ¬ë”ìŠ¤
3  33  ê°•ë„˜íŒŒì´
4  34  ìµœì£¼í”¼í„°

In [126]:
## ì„ ìƒë‹˜ ë‹µ

df1 = pd.DataFrame({'no' : [30, 31, 32, 33, 34], 
                   'name' : ['ê¹€íŒŒì´ì¬', 'ì´ì¥ê³ ', 'ë°•íŒ¬ë”ìŠ¤', 'ê°•ë„˜íŒŒì´', 'ìµœì£¼í”¼í„°']})
df1

   no  name
0  30  ê¹€íŒŒì´ì¬
1  31   ì´ì¥ê³
2  32  ë°•íŒ¬ë”ìŠ¤
3  33  ê°•ë„˜íŒŒì´
4  34  ìµœì£¼í”¼í„°

In [128]:
# ğŸ”´ ê³ ê°ë²ˆí˜¸ì™€ ì£¼ë¬¸ ìˆ˜ëŸ‰ì„ ì €ì¥í•˜ê³  ìˆëŠ” ë°ì´í„° í”„ë ˆì„ ìƒì„±

## ğŸ”¸ ë‹¤ë¥¸ ê³ ê°ë²ˆí˜¸(no)ë¥¼ ì¼ë¶€ ì§€ì •

df2 = pd.DataFrame({'no' : [30, 33, 40, 41],
              'amount' : [100, 130, 40, 60]})
df2

   no  amount
0  30     100
1  33     130
2  40      40
3  41      60

In [129]:
# ğŸ”´ ê°€ì¥ ê¸°ë³¸ì ì¸ merge ë°©ì‹ : ê³µí†µ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë‘ dfì— ëª¨ë‘ ì¡´ì¬í•˜ëŠ” êµì§‘í•©ë§Œ ì¶”ì¶œ

## ğŸ”¸ ê¸°ë³¸ ë™ì‘ : how = 'inner'

## ğŸ”¸ df1 & df2ì˜ ê³µí†µ ì»¬ëŸ¼ : no
## ğŸ”¸ ê³µí†µ ì»¬ëŸ¼ ë‚´ë¶€ì˜ ê³µí†µ ê°’ : 30, 33

## ğŸ”¸ df1 : 30 ~ 34
## ğŸ”¸ df2 : 30, 33, 40, 41

pd.merge(df1, df2)

   no  name  amount
0  30  ê¹€íŒŒì´ì¬     100
1  33  ê°•ë„˜íŒŒì´     130

In [130]:
# ğŸ”´ how = 'outer' : ê²°í•© ê¸°ì¤€ìœ¼ë¡œ ê³µí†µ ì»¬ëŸ¼ì„ ì‚¬ìš©í•¨

## ğŸ”¸ êµì§‘í•©ì´ ì•„ë‹Œ ë¶€ë¶„ì— ëŒ€í•´ì„œëŠ” NaNìœ¼ë¡œ ì²˜ë¦¬(ëˆ„ë½ë˜ëŠ” ë°ì´í„° ì—†ìŒ)
## ğŸ”¸ í•©ì§‘í•© í˜•íƒœë¡œ ë§Œë“¤ì–´ì¤Œ

pd.merge(df1, df2, how='outer')

   no  name  amount
0  30  ê¹€íŒŒì´ì¬   100.0
1  31   ì´ì¥ê³      NaN
2  32  ë°•íŒ¬ë”ìŠ¤     NaN
3  33  ê°•ë„˜íŒŒì´   130.0
4  34  ìµœì£¼í”¼í„°     NaN
5  40   NaN    40.0
6  41   NaN    60.0

In [131]:
# ğŸ”´ left : ì²« ë²ˆì§¸ë¡œ ì „ë‹¬í•œ df1ì˜ ë°ì´í„°ëŠ” ëª¨ë‘ ì‚´ë¦¬ê³ , df2ì—ì„œëŠ” df1ê³¼ ê²¹ì¹ ë•Œë§Œ ë‚¨ê¹€

pd.merge(df1, df2, how='left')

   no  name  amount
0  30  ê¹€íŒŒì´ì¬   100.0
1  31   ì´ì¥ê³      NaN
2  32  ë°•íŒ¬ë”ìŠ¤     NaN
3  33  ê°•ë„˜íŒŒì´   130.0
4  34  ìµœì£¼í”¼í„°     NaN

In [132]:
# ğŸ”´ right : ë‘ ë²ˆì§¸ ë°ì´í„° í”„ë ˆì„ì˜ ë°ì´í„°ë§Œ ë³´ì¡´, df1ì—ì„œëŠ” df2ì™€ ê²¹ì¹˜ëŠ” ê²½ìš°ì— í•œí•´ ë°ì´í„°ë¥¼ ë‚¨ê¹€

pd.merge(df1, df2, how='right')

   no  name  amount
0  30  ê¹€íŒŒì´ì¬     100
1  33  ê°•ë„˜íŒŒì´     130
2  40   NaN      40
3  41   NaN      60

In [136]:
# ğŸ”´ ê³µí†µ ì»¬ëŸ¼ì´ ë‘ ê°œ ì´ìƒì¸ ê²½ìš°

## ğŸ”¸ 'ê³ ê°ëª…', 'ë‚ ì§œ', 'ì •ë³´' ì»¬ëŸ¼ 3ê°œì˜ ë°ì´í„°ë¥¼ ì €ì¥í•˜ê³  ìˆëŠ” ë°ì´í„° í”„ë ˆì„ ìƒì„±
df3 = pd.DataFrame({'ê³ ê°ëª…':['ê¹€íŒŒì´ì¬', 'ì´ì¥ê³ ', 'ë°•íŒ¬ë”ìŠ¤'],
                    'ë‚ ì§œ' : ['2020-06-01', '2020-06-10', '2020-06-14'],
                    'ì •ë³´' : ['010', '011', '019']})
df3

    ê³ ê°ëª…          ë‚ ì§œ   ì •ë³´
0  ê¹€íŒŒì´ì¬  2020-06-01  010
1   ì´ì¥ê³   2020-06-10  011
2  ë°•íŒ¬ë”ìŠ¤  2020-06-14  019

In [137]:
## ğŸ”¸ 'ê³ ê°ëª…', 'ì •ë³´'ë¥¼ ì €ì¥í•˜ê³  ìˆëŠ” ë°ì´í„° í”„ë ˆì„ ìƒì„±

df4 = pd.DataFrame({'ê³ ê°ëª…': ['ê¹€íŒŒì´ì¬', 'ë°•íŒ¬ë”ìŠ¤', 'ìµœë„˜íŒŒì´'],
                    'ì •ë³´' : ['F', 'M', 'M']})
df4

    ê³ ê°ëª… ì •ë³´
0  ê¹€íŒŒì´ì¬  F
1  ë°•íŒ¬ë”ìŠ¤  M
2  ìµœë„˜íŒŒì´  M

In [140]:
# ğŸ”´ (ë¬¸ì œ) ê³µí†µëœ ì´ë¦„ì„ ê°€ì§„ ì»¬ëŸ¼ì´ 2ê°œ ì´ìƒì¸ ê²½ìš°, íŒŒë¼ë¯¸í„°ê°€ ì—†ìœ¼ë©´ ê²°ê³¼ë„ ì—†ë‹¤

pd.merge(df3, df4)

Empty DataFrame
Columns: [ê³ ê°ëª…, ë‚ ì§œ, ì •ë³´]
Index: []

In [144]:
# ğŸ”´ (í•´ê²°) on íŒŒë¼ë¯¸í„° ì‚¬ìš© : ê³µí†µëœ ì»¬ëŸ¼ì´ ì—¬ëŸ¿ì¸ ê²½ìš° ê²°í•© ê¸°ì¤€ ì»¬ëŸ¼ì„ ì§€ì •

## ğŸ”¸ í•©ì¹ ë•Œ keyë¡œ ì‚¬ìš©í•  ì»¬ëŸ¼ : 'ê³ ê°ëª…'
## ğŸ”¸ ê³µí†µ ì»¬ëŸ¼ ê²°ê³¼ : ê³ ê°ëª…, ì •ë³´ -> ì •ë³´ ì»¬ëŸ¼ ê²°ê³¼ë¥¼ í™•ì¸
## ğŸ”¸ ê¸°ë³¸ ë™ì‘ìœ¼ë¡œ merge : inner

pd.merge(df3, df4, on='ê³ ê°ëª…')

    ê³ ê°ëª…          ë‚ ì§œ ì •ë³´_x ì •ë³´_y
0  ê¹€íŒŒì´ì¬  2020-06-01  010    F
1  ë°•íŒ¬ë”ìŠ¤  2020-06-14  019    M

In [145]:
# ğŸ”´ left_on, right_on : ë‘ ê°œì˜ ë°ì´í„°í”„ë ˆì„ì— ëŒ€í•´ì„œ ì„œë¡œ ë‹¤ë¥¸ ê¸°ì¤€ ì»¬ëŸ¼ì„ ì§€ì •

## ğŸ”¸ ë™ì¼í•œ ì†ì„±ì˜ ìë£Œë¥¼ ì €ì¥í•˜ëŠ” ì»¬ëŸ¼ì¸ë° ì´ë¦„ì´ ë‹¤ë¥¸ ê²½ìš°(ì´ë¦„, ê³ ê°ëª…)

## ğŸ”¸ ê³ ê°ì´ë¦„, ë‚ ì§œ, êµ¬ë§¤ê¸ˆì•¡ì„ ì €ì¥í•˜ê³  ìˆëŠ” ë°ì´í„° í”„ë ˆì„ ìƒì„±

df5 = pd.DataFrame({'ê³ ê°ì´ë¦„' : ['ê¹€íŒŒì´ì¬', 'ë°•íŒ¬ë”ìŠ¤', 'ê°•ì£¼í”¼í„°'],
                    'ë‚ ì§œ' : ['2020-01-01', '2020-02-01', '2020-02-15'],
                    'êµ¬ë§¤ê¸ˆì•¡' : [1, 2, 3]})
df5

   ê³ ê°ì´ë¦„          ë‚ ì§œ  êµ¬ë§¤ê¸ˆì•¡
0  ê¹€íŒŒì´ì¬  2020-01-01     1
1  ë°•íŒ¬ë”ìŠ¤  2020-02-01     2
2  ê°•ì£¼í”¼í„°  2020-02-15     3

In [146]:
## ğŸ”¸ 'ê³ ê°ëª…', 'ì„±ë³„'ì„ ì§€ì •í•˜ê³  ìˆëŠ” ë°ì´í„° í”„ë ˆì„ ìƒì„±

df6 = pd.DataFrame({'ê³ ê°ëª…': ['ê¹€íŒŒì´ì¬', 'ë°•íŒ¬ë”ìŠ¤'],
                    'ì„±ë³„' : ['F', 'M']})
df6

    ê³ ê°ëª… ì„±ë³„
0  ê¹€íŒŒì´ì¬  F
1  ë°•íŒ¬ë”ìŠ¤  M

In [148]:
# ğŸ”´ ê²¹ì¹˜ëŠ” ì»¬ëŸ¼ëª…ì´ ì—†ì–´ì„œ ì—ëŸ¬ ë°œìƒ

pd.merge(df5, df6)

## ì—ëŸ¬ ë©”ì„¸ì§€ : MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [149]:
# ğŸ”´ left(df5), right(df6)ì—ì„œ ê³µí†µ ì»¬ëŸ¼ëª…ì„ ê°ê° ì§€ì •

tmp = pd.merge(df5, df6, left_on='ê³ ê°ì´ë¦„', right_on='ê³ ê°ëª…')
tmp

## ğŸ”¸ (ë¬¸ì œ) í•©ì³ì§€ê¸´ í•˜ì§€ë§Œ, ì–´ë–¤ ì»¬ëŸ¼ëª…ì„ ìš°ì„ í•  ê²ƒì¸ì§€ ì• ë§¤í•´ì„œ ë‘ ê°œë¥¼ ì‚¬ìš©í•¨

   ê³ ê°ì´ë¦„          ë‚ ì§œ  êµ¬ë§¤ê¸ˆì•¡   ê³ ê°ëª… ì„±ë³„
0  ê¹€íŒŒì´ì¬  2020-01-01     1  ê¹€íŒŒì´ì¬  F
1  ë°•íŒ¬ë”ìŠ¤  2020-02-01     2  ë°•íŒ¬ë”ìŠ¤  M

In [152]:
## ğŸ”¸ (í•´ê²°) drop ë©”ì„œë“œë¥¼ ì´ìš©í•´ 'ê³ ê°ëª…' ì»¬ëŸ¼ì„ ì‚­ì œí•´ì£¼ì„¸ìš”

### â—¾ ë°©ë²•1)
tmp.drop(columns='ê³ ê°ëª…', inplace=True)
tmp

   ê³ ê°ì´ë¦„          ë‚ ì§œ  êµ¬ë§¤ê¸ˆì•¡ ì„±ë³„
0  ê¹€íŒŒì´ì¬  2020-01-01     1  F
1  ë°•íŒ¬ë”ìŠ¤  2020-02-01     2  M

In [ ]:
### â—¾ ë°©ë²•2)
tmp.drop('ê³ ê°ëª…', axis=1, inplace=True)
tmp

### â¬› concat

- íŠ¹ì • keyë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ í•©ì¹˜ëŠ”(=merge) ê²ƒì´ ì•„ë‹ˆë¼, í–‰/ì—´ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì—°ê²°(sqlì˜ union ê°™ì€ ëŠë‚Œ)


- ì£¼ìš” íŒŒë¼ë¯¸í„°
    - axis : 0 / í–‰ ë°©í–¥(ê¸°ë³¸ê°’)ì´ë©° ì»¬ëŸ¼ì„ keyë¡œ í•©ì¹˜ê³ , 1/ì—´ ë°©í–¥ìœ¼ë¡œ ë¡œìš°ë¥¼ keyë¡œ í•©ì¹¨
    - join : ë°ì´í„°í”„ë ˆì„ë¼ë¦¬ ì—°ê²°í•  ë•Œ í•©ì¹˜ëŠ” ë°©ë²•ìœ¼ë¡œ outer(ê¸°ë³¸ê°’), inner ë°©ì‹ ì¡´ì¬
    - ignore_index : í•©ì¹œ í›„, ê¸°ì¡´ ì¸ë±ìŠ¤ë¥¼ ìœ ì§€ ë˜ëŠ” ìƒˆë¡œìš´ ì¸ë±ìŠ¤ë¥¼ ì§€ì •

In [154]:
# ğŸ”´ ê³µí†µ ì¸ë±ìŠ¤ ë¼ë²¨ì„ ê°€ì§€ëŠ” Series 2ê°œ ìƒì„±

s1 = pd.Series([1, 2, 3], index=list('abc'))
s2 = pd.Series([5, 6, 7, 8], index=list('abfh'))

In [155]:
s1

a    1
b    2
c    3
dtype: int64

In [156]:
s2

a    5
b    6
f    7
h    8
dtype: int64

In [157]:
# ğŸ”´ ë‘ ì‹œë¦¬ì¦ˆ ê°„ ì—°ê²°

## ğŸ”¸ ê¸°ë³¸ : axis=0 (í–‰ ë°©í–¥ìœ¼ë¡œ ì—°ê²° = í–‰ì˜ ê°œìˆ˜ê°€ ëŠ˜ì–´ë‚˜ëŠ” ê²ƒ)
## ğŸ”¸ ì²« ë²ˆì¨°ë¡œ ì „ë‹¬ëœ ê°ì²´ê°€ ìœ™, ë‘ ë²ˆì§¸ë¡œ ì „ë‹¬ëœ ê°ì²´ê°€ ì•„ë˜ë¡œ ì¶”ê°€(ì—°ê²°)
## ğŸ”¸ ì¸ë±ìŠ¤ ë¼ë²¨ì€ ê¸°ì¡´ ê°’ ìœ ì§€

pd.concat([s1, s2])

a    1
b    2
c    3
a    5
b    6
f    7
h    8
dtype: int64

In [158]:
# ğŸ”´ ìƒˆë¡œìš´ ì¸ë±ìŠ¤ë¡œ ì´ˆê¸°í™”í•˜ê¸°

pd.concat([s1, s2], ignore_index=True)

## ğŸ”¸ ë°ì´í„°ëŠ” í•©ì¹˜ê³ , ì¸ë±ìŠ¤ëŠ” ì—†ë˜ ê²ƒìœ¼ë¡œ ë§Œë“¦ 
## ğŸ”¸ axis=0, í˜¹ì€ ì•ˆ ì£¼ë©´ í–‰ ë°©í–¥ìœ¼ë¡œ ë“¤ì–´ê°

0    1
1    2
2    3
3    5
4    6
5    7
6    8
dtype: int64

In [162]:
print(s1)
print()
print(s2)

a    1
b    2
c    3
dtype: int64

a    5
b    6
f    7
h    8
dtype: int64

In [159]:
# ğŸ”´ ì—´ ë°©í–¥ ì—°ê²° ->  ë‘ ê°œì˜ ì‹œë¦¬ì¦ˆë¥¼ ì—°ê²°í•´ì„œ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê¸°

## ğŸ”¸ ê¸¸ì´ê°€ ë‹¤ë¥¸ ê²½ìš°( -> NaNìœ¼ë¡œ ì²˜ë¦¬í•´ì¤Œ )
pd.concat([s1, s2], axis=1)

     0    1
a  1.0  5.0
b  2.0  6.0
c  3.0  NaN
f  NaN  7.0
h  NaN  8.0

In [161]:
## ğŸ”¸ ì—´ ì´ë¦„ì„ ì„¤ì •í•˜ë©´ì„œ ë¶™ì—¬ì£¼ê¸° : keysë¼ëŠ” íŒŒë¼ë¯¸í„°ì— ì»¬ëŸ¼ëª…ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ì „ë‹¬í•´ì£¼ë©´ ë¨

pd.concat([s1, s2], axis=1, keys=['c1', 'c2'])

    c1   c2
a  1.0  5.0
b  2.0  6.0
c  3.0  NaN
f  NaN  7.0
h  NaN  8.0

In [171]:
# ğŸ”´ ë‘ ê°œì˜ ë°ì´í„° í”„ë ˆì„ ì—°ê²° (ğŸ’›x5)

## ğŸ”¸ ê³ ê°ëª…, ë‚ ì§œ, ê¸ˆì•¡

df1 = pd.DataFrame({'ê³ ê°ëª…' : ['ê¹€íŒŒì´ì¬', 'ì´ì¥ê³ ', 'ë°•íŒ¬ë”ìŠ¤'],
                    'ë‚ ì§œ' : ['2020-06-01', '2020-06-02', '2020-06-14'],
                    'êµ¬ë§¤ê¸ˆì•¡' : ['1.0', '2.0', '3.0']})

df1

    ê³ ê°ëª…          ë‚ ì§œ êµ¬ë§¤ê¸ˆì•¡
0  ê¹€íŒŒì´ì¬  2020-06-01  1.0
1   ì´ì¥ê³   2020-06-02  2.0
2  ë°•íŒ¬ë”ìŠ¤  2020-06-14  3.0

In [173]:
## ğŸ”¸ ê³ ê°ëª…, ì„±ë³„

df2 = pd.DataFrame({'ê³ ê°ëª…' : ['ê¹€íŒŒì´ì¬', 'ìµœë„˜íŒŒì´'],
                    'ì„±ë³„' : ['F', 'M']})
df2

    ê³ ê°ëª… ì„±ë³„
0  ê¹€íŒŒì´ì¬  F
1  ìµœë„˜íŒŒì´  M

In [174]:
# ğŸ”´ í–‰ ë°©í–¥ìœ¼ë¡œ(row ê°œìˆ˜ ì¦ê°€) ë°ì´í„° í”„ë ˆì„ ì—°ê²°

pd.concat([df1, df2])

## ğŸ”¸ df1ì— ì—†ë˜ 'ì„±ë³„' ì´ ë¶™ìŒ
## ğŸ”¸ df2ì— ì—†ë˜ 'ë‚ ì§œ', 'êµ¬ë§¤ê¸ˆì•¡'ì´ ë¶™ìŒ

    ê³ ê°ëª…          ë‚ ì§œ êµ¬ë§¤ê¸ˆì•¡   ì„±ë³„
0  ê¹€íŒŒì´ì¬  2020-06-01  1.0  NaN
1   ì´ì¥ê³   2020-06-02  2.0  NaN
2  ë°•íŒ¬ë”ìŠ¤  2020-06-14  3.0  NaN
0  ê¹€íŒŒì´ì¬         NaN  NaN    F
1  ìµœë„˜íŒŒì´         NaN  NaN    M

In [176]:
# ğŸ”´ ì—´ ë°©í–¥ìœ¼ë¡œ ë°ì´í„° í”„ë ˆì„ ì—°ê²°

pd.concat([df1, df2], axis=1)

## ğŸ”¸ ì˜¤ë¥¸ìª½ ë°©í–¥ìœ¼ë¡œ ë°ì´í„° í”„ë ˆì„ì´ ë¶™ì—¬ì§„ë‹¤.

    ê³ ê°ëª…          ë‚ ì§œ êµ¬ë§¤ê¸ˆì•¡   ê³ ê°ëª…   ì„±ë³„
0  ê¹€íŒŒì´ì¬  2020-06-01  1.0  ê¹€íŒŒì´ì¬    F
1   ì´ì¥ê³   2020-06-02  2.0  ìµœë„˜íŒŒì´    M
2  ë°•íŒ¬ë”ìŠ¤  2020-06-14  3.0   NaN  NaN

In [177]:
## ğŸ”¸ ìƒˆë¡œìš´ ë°ì´í„° í”„ë ˆì„ ë§Œë“¤ê¸°

df3 = pd.DataFrame({'ì§€ì—­': ['ì„œìš¸', 'ë¶€ì‚°', 'ì œì£¼'],
                    'ì§ì—…' : ['ì›¹ê°œë°œì', 'íšŒê³„ì‚¬', 'íšŒì‚¬ì›']})
df3

   ì§€ì—­    ì§ì—…
0  ì„œìš¸  ì›¹ê°œë°œì
1  ë¶€ì‚°   íšŒê³„ì‚¬
2  ì œì£¼   íšŒì‚¬ì›

In [178]:
# ğŸ”´ ì „ì œì¡°ê±´ : df1ê³¼ df3ì˜ ë°ì´í„° ìˆœì„œê°€, ë§¥ë½ìƒ ë§ëŠ” ê²ƒì´ í™•ì •ì ì¼ë•Œ concatìœ¼ë¡œ í•©ì¹˜ë©´ ì¢‹ë‹¤

pd.concat([df1, df3], axis=1)

## pk, fkëŠ” ì—†ì§€ë§Œ, ë§¥ë½ìƒ ì˜ ë¶™ëŠ” ê²½ìš° í•©ì¹  ìˆ˜ ìˆëŠ” ê²ƒ

    ê³ ê°ëª…          ë‚ ì§œ êµ¬ë§¤ê¸ˆì•¡  ì§€ì—­    ì§ì—…
0  ê¹€íŒŒì´ì¬  2020-06-01  1.0  ì„œìš¸  ì›¹ê°œë°œì
1   ì´ì¥ê³   2020-06-02  2.0  ë¶€ì‚°   íšŒê³„ì‚¬
2  ë°•íŒ¬ë”ìŠ¤  2020-06-14  3.0  ì œì£¼   íšŒì‚¬ì›

### â¬› append (ğŸ’› x5)

- í–‰ ë°©í–¥ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì—°ê²°
- ì£¼ìš” íŒŒë¼ë¯¸í„°
    - ignore_index : í•©ì¹œ í›„ ê¸°ì¡´ ì¸ë±ìŠ¤ë¥¼ ìœ ì§€ ë˜ëŠ” ìƒˆë¡œìš´ ì¸ë±ìŠ¤ë¥¼ ì§€ì •

In [179]:
# ğŸ”´ ë‘ ê°œì˜ ì‹œë¦¬ì¦ˆ ìƒì„±

s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6, 7])

In [181]:
# ğŸ”´ í–‰ ë°©í–¥ìœ¼ë¡œ ë°ì´í„° ì—°ê²°í•˜ê³  ê¸°ì¡´ ì¸ë±ìŠ¤ ìœ ì§€

s1.append(s2)

0    1
1    2
2    3
0    4
1    5
2    6
3    7
dtype: int64

In [182]:
# ğŸ”´ í–‰ ë°©í–¥ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì—°ê²°í•˜ê³ , ê¸°ì¡´ ì¸ë±ìŠ¤ ëˆ„ë½ ì‹œí‚¤ê¸°

s1.append(s2, ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [186]:
# ğŸ”´ ë‘ ê°œì˜ ë°ì´í„° í”„ë ˆì„

## ğŸ”¸ ì„œë¡œ ë‹¤ë¥¸ ì»¬ëŸ¼ëª…
df1 = pd.DataFrame([[1, 2], 
                    [3, 4]], columns=list('ab'))

df2 = pd.DataFrame([[5, 6], 
                    [7, 8], 
                    [9, 10]], columns=list('AB'))

In [187]:
df1

   a  b
0  1  2
1  3  4

In [188]:
df2

   A   B
0  5   6
1  7   8
2  9  10

In [189]:
## ğŸ”¸ ì„œë¡œ ë‹¤ë¥¸ ì»¬ëŸ¼ëª… í•©ì¹˜ê¸°

df1.append(df2)

     a    b    A     B
0  1.0  2.0  NaN   NaN
1  3.0  4.0  NaN   NaN
0  NaN  NaN  5.0   6.0
1  NaN  NaN  7.0   8.0
2  NaN  NaN  9.0  10.0

In [190]:
## ğŸ”¸ ë™ì¼í•œ ì»¬ëŸ¼ëª…

df3 = pd.DataFrame([[10, 20],
                     [30, 40],
                     [50, 60]], columns=list('ab'))
df3

    a   b
0  10  20
1  30  40
2  50  60

In [191]:
## ğŸ”¸ ë™ì¼í•œ ì»¬ëŸ¼ëª…ì— ëŒ€í•´ì„œ appendë¥¼ í•˜ë©´, ì»¬ëŸ¼ê°œìˆ˜ëŠ” ì›ë³¸ ë°ì´í„° ìˆ«ì ê·¸ëŒ€ë¡œ, í–‰ë§Œ ì¶”ê°€

### appendëŠ” ë³´í†µ ì´ëŸ° ì¼€ì´ìŠ¤ì— ë§ì´ ì‚¬ìš©í•¨

df1.append(df3)

    a   b
0   1   2
1   3   4
0  10  20
1  30  40
2  50  60

In [192]:
## ğŸ”¸ ignore_indexë¥¼ ê±¸ë©´ ì¸ë±ìŠ¤ ë²ˆí˜¸ë„ 0ë¶€í„° ë‹¤ì‹œ ì´ˆê¸°í™”

df1.append(df3, ignore_index=True)

    a   b
0   1   2
1   3   4
2  10  20
3  30  40
4  50  60

In [193]:
# ğŸ”´ ì‹œë¦¬ì¦ˆì™€ ë°ì´í„° í”„ë ˆì„

## ğŸ”¸ ë°ì´í„° í”„ë ˆì„ì— í•œ ì¤„ ì¶”ê°€í•  ë•Œ ë³´í†µ ì‹œë¦¬ì¦ˆë¥¼ ë§ì´ ì‚¬ìš©í•¨
## ğŸ”¸ ì‹œë¦¬ì¦ˆ ë¼ë²¨ & ë°ì´í„° í”„ë ˆì„ ì»¬ëŸ¼ëª…ì´ ì„œë¡œ ì¼ì¹˜í•  ë•Œ ë§¤ì¹­ë¨
## ğŸ”¸ ì‹œë¦¬ì¦ˆ ë¼ë²¨, ë°ì´í„° í”„ë ˆì„ ì»¬ëŸ¼ëª…ì„ ëª¨ë‘ a, b, c, dë¡œ ë§¤ì¹­ì‹œí‚´

s1 = pd.Series([10, 20, 30, 40], index=list('abcd'))
df1 = pd.DataFrame([[1, 1, 1, 1],
                    [2, 2, 2, 2]], columns=list('abcd'))

In [194]:
s1

a    10
b    20
c    30
d    40
dtype: int64

In [195]:
df1

   a  b  c  d
0  1  1  1  1
1  2  2  2  2

In [201]:
# ğŸ”´ Seriesì˜ ë¼ë²¨ì´ dfì˜ ì»¬ëŸ¼ê³¼ ë§¤í•‘ì´ ë¨

## ğŸ”¸ ì´ ë•Œ SeriesëŠ” dfì˜ ìƒˆë¡œìš´ rowë¡œ ë“¤ì–´ê°‘ë‹ˆë‹¤.

df1.append(s1, ignore_index=True)

## ë°ì´í„°í”„ë ˆì„ì€ ì‹œë¦¬ì¦ˆì˜ ì¤‘ì²©ì´ê¸° ë•Œë¬¸ì— ê°€ëŠ¥ ~_~ !!

    a   b   c   d
0   1   1   1   1
1   2   2   2   2
2  10  20  30  40

### â¬› ì§‘ê³„

- groupby(ì»¬ëŸ¼ëª…)
    - íŠ¹ì • ì†ì„±ì„ ê¸°ì¤€ìœ¼ë¡œ ë¬¶ì–´ì„œ ë‹¤ì–‘í•œ ì§‘ê³„ í•¨ìˆ˜ ì ìš©
    - ëŒ€í‘œì ì¸ ì§‘ê³„ í•¨ìˆ˜
        - sum : ì´í•©
        - mean : í‰ê· ê°’
        - min : ìµœì†Œê°’
        - max : ìµœëŒ€ê°’
        - count : ê°œìˆ˜
        - std : í‘œì¤€í¸ì°¨
        
        
- pivot table
    - df.pivot(ë¡œìš°ë¡œ ì‚¬ìš©ë  ì»¬ëŸ¼ëª…, ì»¬ëŸ¼ìœ¼ë¡œ ì‚¬ìš©ë  ì»¬ëŸ¼ëª…, íŠœí”Œì„ êµ¬ì„±í•˜ëŠ” ê°’ìœ¼ë¡œ ì‚¬ìš©ë  ì»¬ëŸ¼ëª…, ì§‘ê³„í•¨ìˆ˜)
    - ì¼ì°¨ì›ìœ¼ë¡œ ì»¬ëŸ¼ ë° ë¡œìš°ê°€ ë‹¨ìˆœ ë‚˜ì—´ëœ í˜•ì‹ì€ ë°ì´í„°ë¥¼ íŒŒì•…í•˜ëŠ”ë° ì í•©í•˜ì§€ ì•Šê¸° ë•Œë¬¸ì— pivotì„ í†µí•´ ê³„ì¸µ ìƒ‰ì¸ ë° í˜•íƒœ ë³€ê²½ì„ ìˆ˜í–‰

In [202]:
# ğŸ”´ ì—‘ì…€ ë°ì´í„° ì ì¬

## ğŸ”¸ Os error ì—ëŸ¬ê°€ ëœ¨ëŠ” ê²½ìš° ()ê´„í˜¸ ì•ˆì— -> engine='python'
## ğŸ”¸Unicode, Encoding -> encoding='utf-8' or 'cp949' or 'utf-16'

data = pd.read_excel('data/ì¸êµ¬ìˆ˜ì˜ˆì œ.xlsx')
data

    ë„ì‹œ   ìì¹˜êµ¬    ì—°ë„  ë‚¨ìì¸êµ¬  ì—¬ìì¸êµ¬  ì´ì¸êµ¬
0   ì„œìš¸   ê°•ë‚¨êµ¬  2013    73    92  165
1   ì„œìš¸   ê°•ë‚¨êµ¬  2014   139    55  194
2   ì„œìš¸   ê°•ë‚¨êµ¬  2015   123    83  206
3   ì„œìš¸   ê°•ë‚¨êµ¬  2016   147   150  297
4   ì„œìš¸   ê°•ë‚¨êµ¬  2017    57   133  190
5   ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2013    95   111  206
6   ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2014   149   150  299
7   ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2015   106    77  183
8   ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2016    56   109  165
9   ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2017    82    96  178
10  ì„œìš¸   ì¢…ë¡œêµ¬  2013   121    68  189
11  ì„œìš¸   ì¢…ë¡œêµ¬  2014   107    55  162
12  ì„œìš¸   ì¢…ë¡œêµ¬  2015    50    79  129
13  ì„œìš¸   ì¢…ë¡œêµ¬  2016   100    80  180
14  ì„œìš¸   ì¢…ë¡œêµ¬  2017   105    91  196
15  ì„œìš¸  ì˜ë“±í¬êµ¬  2013   146   113  259
16  ì„œìš¸  ì˜ë“±í¬êµ¬  2014   127   117  244
17  ì„œìš¸  ì˜ë“±í¬êµ¬  2015    70    72  142
18  ì„œìš¸  ì˜ë“±í¬êµ¬  2016   141   136  277
19  ì„œìš¸  ì˜ë“±í¬êµ¬  2017   145   124  269
20  ì„œìš¸   ì†¡íŒŒêµ¬  2013    90   130  220
21  ì„œìš¸   ì†¡íŒŒêµ¬  2014   121    66  187
22  ì„œìš¸   ì†¡íŒŒêµ¬  2015    62   121  183
23  ì„œìš¸   ì†¡íŒŒêµ¬  2016    80    92  172
24  ì„œìš¸   ì†¡íŒŒêµ¬  2017    62   150  212
25  ì„œìš¸   ë„ë´‰êµ¬  2013   113   138  251
26  ì„œìš¸   ë„ë´‰êµ¬  2014   145   140  285
27  ì„œìš¸   ë„ë´‰êµ¬  2015    56   139  195
28  ì„œìš¸   ë„ë´‰êµ¬  2016    60    71  131
29  ì„œìš¸   ë„ë´‰êµ¬  2017   111    62  173
30  ì„œìš¸   ë™ì‘êµ¬  2013   120   117  237
31  ì„œìš¸   ë™ì‘êµ¬  2014    94   108  202
32  ì„œìš¸   ë™ì‘êµ¬  2015    74   139  213
33  ì„œìš¸   ë™ì‘êµ¬  2016    87    84  171
34  ì„œìš¸   ë™ì‘êµ¬  2017    79   134  213
35  ë¶€ì‚°  í•´ìš´ëŒ€êµ¬  2013   124   103  227
36  ë¶€ì‚°  í•´ìš´ëŒ€êµ¬  2014   101   144  245
37  ë¶€ì‚°  í•´ìš´ëŒ€êµ¬  2015   115    70  185
38  ë¶€ì‚°  í•´ìš´ëŒ€êµ¬  2016   134   126  260
39  ë¶€ì‚°  í•´ìš´ëŒ€êµ¬  2017   146    72  218
40  ë¶€ì‚°   ìˆ˜ì˜êµ¬  2013   134    94  228
41  ë¶€ì‚°   ìˆ˜ì˜êµ¬  2014    74   138  212
42  ë¶€ì‚°   ìˆ˜ì˜êµ¬  2015    69    81  150
43  ë¶€ì‚°   ìˆ˜ì˜êµ¬  2016    81   148  229
44  ë¶€ì‚°   ìˆ˜ì˜êµ¬  2017   144    98  242
45  ë¶€ì‚°   ë™ë˜êµ¬  2013    83    65  148
46  ë¶€ì‚°   ë™ë˜êµ¬  2014   139    87  226
47  ë¶€ì‚°   ë™ë˜êµ¬  2015   147   115  262
48  ë¶€ì‚°   ë™ë˜êµ¬  2016    61   102  163
49  ë¶€ì‚°   ë™ë˜êµ¬  2017   132   105  237

In [203]:
# ğŸ”´ ë°ì´í„° êµ¬ì¡° í™•ì¸

data.shape

(50, 6)

In [204]:
# ğŸ”´ ìƒìœ„ 5ê°œë§Œ ì¡°íšŒí•˜ê¸° 

## ğŸ”¸ ì œëŒ€ë¡œ ë¡œë”© ë˜ì—ˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ì€ë°, ë‹¤ ì¡°íšŒí•˜ë©´ ë„ˆë¬´ ë§ì€ ê²½ìš° ì‚¬ìš©í•œë‹¤.

data.head()

   ë„ì‹œ  ìì¹˜êµ¬    ì—°ë„  ë‚¨ìì¸êµ¬  ì—¬ìì¸êµ¬  ì´ì¸êµ¬
0  ì„œìš¸  ê°•ë‚¨êµ¬  2013    73    92  165
1  ì„œìš¸  ê°•ë‚¨êµ¬  2014   139    55  194
2  ì„œìš¸  ê°•ë‚¨êµ¬  2015   123    83  206
3  ì„œìš¸  ê°•ë‚¨êµ¬  2016   147   150  297
4  ì„œìš¸  ê°•ë‚¨êµ¬  2017    57   133  190

In [205]:
# ğŸ”´ í•˜ìœ„ 5ê°œë§Œ ì¡°íšŒí•˜ê¸°

data.tail()

## ğŸ”¸ ë§ˆì§€ë§‰ 5ê°œë¥¼ ì˜ë¼ì„œ ë³´ì—¬ì£¼ê¸° ë•Œë¬¸ì—(ëª‡ ê°œ ì¸ì§€ í™•ì¸ ê°€ëŠ¥) tail()ì„ ì„ í˜¸í•œë‹¤ê³  í•˜ì‹¬.

    ë„ì‹œ  ìì¹˜êµ¬    ì—°ë„  ë‚¨ìì¸êµ¬  ì—¬ìì¸êµ¬  ì´ì¸êµ¬
45  ë¶€ì‚°  ë™ë˜êµ¬  2013    83    65  148
46  ë¶€ì‚°  ë™ë˜êµ¬  2014   139    87  226
47  ë¶€ì‚°  ë™ë˜êµ¬  2015   147   115  262
48  ë¶€ì‚°  ë™ë˜êµ¬  2016    61   102  163
49  ë¶€ì‚°  ë™ë˜êµ¬  2017   132   105  237

In [206]:
# ğŸ”´ ìƒìœ„ 10ê°œë¥¼ ì¡°íšŒí•˜ê¸° 

data.head(10)

   ë„ì‹œ   ìì¹˜êµ¬    ì—°ë„  ë‚¨ìì¸êµ¬  ì—¬ìì¸êµ¬  ì´ì¸êµ¬
0  ì„œìš¸   ê°•ë‚¨êµ¬  2013    73    92  165
1  ì„œìš¸   ê°•ë‚¨êµ¬  2014   139    55  194
2  ì„œìš¸   ê°•ë‚¨êµ¬  2015   123    83  206
3  ì„œìš¸   ê°•ë‚¨êµ¬  2016   147   150  297
4  ì„œìš¸   ê°•ë‚¨êµ¬  2017    57   133  190
5  ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2013    95   111  206
6  ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2014   149   150  299
7  ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2015   106    77  183
8  ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2016    56   109  165
9  ì„œìš¸  ì„œëŒ€ë¬¸êµ¬  2017    82    96  178

In [208]:
data.tail(10)

    ë„ì‹œ  ìì¹˜êµ¬    ì—°ë„  ë‚¨ìì¸êµ¬  ì—¬ìì¸êµ¬  ì´ì¸êµ¬
40  ë¶€ì‚°  ìˆ˜ì˜êµ¬  2013   134    94  228
41  ë¶€ì‚°  ìˆ˜ì˜êµ¬  2014    74   138  212
42  ë¶€ì‚°  ìˆ˜ì˜êµ¬  2015    69    81  150
43  ë¶€ì‚°  ìˆ˜ì˜êµ¬  2016    81   148  229
44  ë¶€ì‚°  ìˆ˜ì˜êµ¬  2017   144    98  242
45  ë¶€ì‚°  ë™ë˜êµ¬  2013    83    65  148
46  ë¶€ì‚°  ë™ë˜êµ¬  2014   139    87  226
47  ë¶€ì‚°  ë™ë˜êµ¬  2015   147   115  262
48  ë¶€ì‚°  ë™ë˜êµ¬  2016    61   102  163
49  ë¶€ì‚°  ë™ë˜êµ¬  2017   132   105  237

In [211]:
# ğŸ”´ ìì¹˜êµ¬ë³„ ë‚¨, ì—¬ ì¸êµ¬ ê°ê°ì˜ ì´í•©

## ğŸ”¸ ì¡°ì‚¬ ë…„ë„ëŠ” ì´ 5ê°œë…„

data.groupby('ìì¹˜êµ¬')['ë‚¨ìì¸êµ¬'].sum()

## ğŸ”¸ í•´ì„ : 'ìì¹˜êµ¬'ë¥¼ ê¸°ì¤€ìœ¼ë¡œ 'ë‚¨ìì¸êµ¬' ì»¬ëŸ¼ì— ì–´ë–¤ ì§‘ê³„(sum)ë¥¼ ë³´ê³ ì‹¶ë‹¤

ìì¹˜êµ¬
ê°•ë‚¨êµ¬     539
ë„ë´‰êµ¬     485
ë™ë˜êµ¬     562
ë™ì‘êµ¬     454
ì„œëŒ€ë¬¸êµ¬    488
ì†¡íŒŒêµ¬     415
ìˆ˜ì˜êµ¬     502
ì˜ë“±í¬êµ¬    629
ì¢…ë¡œêµ¬     483
í•´ìš´ëŒ€êµ¬    620
Name: ë‚¨ìì¸êµ¬, dtype: int64

In [212]:
## ğŸ”¸ ë‚¨ìì¸êµ¬, ì—¬ìì¸êµ¬ ë‘˜ ë‹¤ ë³´ê³  ì‹¶ì€ ê²½ìš°? => ì´ ì¤‘ ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ìŒ

data.groupby('ìì¹˜êµ¬')[['ë‚¨ìì¸êµ¬', 'ì—¬ìì¸êµ¬']].sum()

      ë‚¨ìì¸êµ¬  ì—¬ìì¸êµ¬
ìì¹˜êµ¬
ê°•ë‚¨êµ¬    539   513
ë„ë´‰êµ¬    485   550
ë™ë˜êµ¬    562   474
ë™ì‘êµ¬    454   582
ì„œëŒ€ë¬¸êµ¬   488   543
ì†¡íŒŒêµ¬    415   559
ìˆ˜ì˜êµ¬    502   559
ì˜ë“±í¬êµ¬   629   562
ì¢…ë¡œêµ¬    483   373
í•´ìš´ëŒ€êµ¬   620   515

In [213]:
## ğŸ”¸ ë„ì‹œë³„ ë‚¨ì—¬ ì¸êµ¬ì˜ ì´í•©

data.groupby('ë„ì‹œ')[['ë‚¨ìì¸êµ¬', 'ì—¬ìì¸êµ¬']].sum()

    ë‚¨ìì¸êµ¬  ì—¬ìì¸êµ¬
ë„ì‹œ
ë¶€ì‚°  1684  1548
ì„œìš¸  3493  3682

In [214]:
# ğŸ”´ ì—°ë„ë³„, ë„ì‹œë³„ê³¼ ê°™ì´ 2ê°œ ì´ìƒì˜ ì¡°ê±´ì„ ë¬¶ê³  ì‹¶ì„ë•ŒëŠ” .groupby([1ë²ˆê·¸ë£¹, 2ë²ˆê·¸ë£¹ ...]) í˜•ì‹ìœ¼ë¡œ ë¬¶ì„ ìˆ˜ë„ ìˆë‹¤.

## ğŸ”¸ ì—°ë„ë³„, ë„ì‹œë³„ ë‚¨ì—¬ì¸êµ¬ ì´í•© 
data.groupby(['ì—°ë„', 'ë„ì‹œ'])[['ì—¬ìì¸êµ¬', 'ë‚¨ìì¸êµ¬']].sum()

         ì—¬ìì¸êµ¬  ë‚¨ìì¸êµ¬
ì—°ë„   ë„ì‹œ
2013 ë¶€ì‚°   262   341
     ì„œìš¸   769   758
2014 ë¶€ì‚°   369   314
     ì„œìš¸   691   882
2015 ë¶€ì‚°   266   331
     ì„œìš¸   710   541
2016 ë¶€ì‚°   376   276
     ì„œìš¸   722   671
2017 ë¶€ì‚°   275   422
     ì„œìš¸   790   641

In [218]:
## ğŸ”¸ ë„ì‹œë³„ ì—°ë„ë³„ ì´ ì¸êµ¬ í‰ê· 

data.groupby(['ë„ì‹œ', 'ì—°ë„'])[['ì´ì¸êµ¬']].mean()

                ì´ì¸êµ¬
ë„ì‹œ ì—°ë„
ë¶€ì‚° 2013  201.000000
   2014  227.666667
   2015  199.000000
   2016  217.333333
   2017  232.333333
ì„œìš¸ 2013  218.142857
   2014  224.714286
   2015  178.714286
   2016  199.000000
   2017  204.428571

In [219]:
## ğŸ”¸ ê°€ë…ì„±ì„ ë†’ì´ê¸° ìœ„í•´ unstack() ì‚¬ìš© (ë°”ë¡œ ìœ— ì½”ë“œì—ì„œ!! ì´ ì¸êµ¬ì—ì„œ ì´ì¤‘ ë¦¬ìŠ¤íŠ¸ë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šìœ¼ë©´ ì§€ì €ë¶„í•˜ê²Œ ë‚˜ì˜´)

data.groupby(['ë„ì‹œ', 'ì—°ë„'])[['ì´ì¸êµ¬']].mean().unstack()

           ì´ì¸êµ¬
ì—°ë„        2013        2014        2015        2016        2017
ë„ì‹œ
ë¶€ì‚°  201.000000  227.666667  199.000000  217.333333  232.333333
ì„œìš¸  218.142857  224.714286  178.714286  199.000000  204.428571

In [221]:
## ğŸ”¸ ì§‘ê³„ ì•„ë¬´ê±°ë‚˜ í•´ë³´ê¸°

data.groupby(['ìì¹˜êµ¬'])[['ì—¬ìì¸êµ¬']].max()

      ì—¬ìì¸êµ¬
ìì¹˜êµ¬
ê°•ë‚¨êµ¬    150
ë„ë´‰êµ¬    140
ë™ë˜êµ¬    115
ë™ì‘êµ¬    139
ì„œëŒ€ë¬¸êµ¬   150
ì†¡íŒŒêµ¬    150
ìˆ˜ì˜êµ¬    148
ì˜ë“±í¬êµ¬   136
ì¢…ë¡œêµ¬     91
í•´ìš´ëŒ€êµ¬   144