# â¬› DataFrame ìƒì„±

- 2ì°¨ì› ë°°ì—´ê³¼ ìœ ì‚¬í•œ ìë£Œí˜•
- ë‹¤ì°¨ì› ë¦¬ìŠ¤íŠ¸, ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ìœ¼ë¡œ ë°ì´í„° êµ¬ì„± ê°€ëŠ¥
- ê´€ê³„í˜• ë°ì´í„° ë² ì´ìŠ¤ì˜ í…Œì´ë¸” êµ¬ì¡°, excel/csv ë°ì´í„° êµ¬ì¡°ì™€ ìœ ì‚¬ ğŸ’› 
- í•˜ë‚˜ì˜ ì»¬ëŸ¼ì€ í•˜ë‚˜ì˜ Seriesë¡œì„œ í•˜ë‚˜ì˜ Dataframeì€ ì—¬ëŸ¬ê°œì˜ Series ë¬¶ìŒìœ¼ë¡œ êµ¬ì„±ë¨


- index íŠ¹ì§•
    - row index(í–‰ ì¸ë±ìŠ¤) : ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ê°€ ì•„ë‹Œ ìƒˆë¡­ê²Œ ì§€ì •í•œ ë¡œìš°ëª…(ë¼ë²¨) ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•´ë„ ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ë¥¼ í•¨ê»˜ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ
    - column index(ì—´ ì¸ë±ìŠ¤) : ìƒˆë¡­ê²Œ ì»¬ëŸ¼ëª…(ë¼ë²¨) ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•˜ë©´ ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ëŠ” ì‚¬ìš©í•  ìˆ˜ ì—†ìŒ
    
<img src="img/df_example.png" width="500" align="center">

In [2]:
# ğŸ”´ import

import pandas as pd

In [3]:
# ğŸ”´ ë‹¤ì°¨ì› ìë£Œí˜•, ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ì„ ì‚¬ìš©

## ğŸ”¸ ì£¼ì˜ì  : ìë£Œí˜•ì— ë”°ë¼ì„œ ì•„ì´í…œ ê¸¸ì´ ì´ìŠˆ ë°œìƒ
## ğŸ”¸ ë‹¤ì°¨ì› ë¦¬ìŠ¤íŠ¸ : ì•„ì´í…œ ê¸¸ì´ê°€ ë™ì¼ / ì„œë¡œ ë‹¤ë¥¸ íƒ€ì…
## ğŸ”¸ ë”•ì…”ë„ˆë¦¬ : ì•„ì´í…œ ê¸¸ì´ê°€ ë™ì¼ / ì„œë¡œ ë‹¤ë¥¸ íƒ€ì…

In [4]:
# ğŸ”´ ë°ì´í„° í”„ë ˆì„ì˜ ì…€(íŠœí”Œ)ì—ëŠ” ëª¨ë“  ë°ì´í„° íƒ€ì… ë° ì—¬ëŸ¬ íƒ€ì… í˜¼í•© ê°€ëŠ¥
## ğŸ”¸ë‹¤ì°¨ì› ë¦¬ìŠ¤íŠ¸ : ì•„ì´í…œ ê°œìˆ˜ 3ê°œ, í•˜ìœ„ ì•„ì´í…œ ê°œìˆ˜ 4ê°œ

data1 = [[1, 2, 3, 4],
        ['a', 'b', 'c', 'd'],
        [0.1, 0.2, 0.5, 0.8]]

In [5]:
## ğŸ”¸ ì•„ì´í…œ 3ê°œ : í–‰ 3ì¤„ => dfì— ì €ì¥í•˜ëŠ” ë°ì´í„°ì˜ ê°œìˆ˜
## ğŸ”¸ í•˜ìœ„ ì•„ì´í…œ 4ê°œ : ì—´ 4ì¤„ => dfì— ì €ì¥í•˜ëŠ” ë°ì´í„°ì˜ ì†ì„± / ë³€ìˆ˜ì˜ ê°œìˆ˜

df1 = pd.DataFrame(data1)
df1

## ë¬´ì¡°ê±´ rowê°€ ìš°ì„  -> ê·¸ ë‹¤ìŒ column
## 2ì°¨ì› ë°°ì—´ì„ ì§‘ì–´ ë„£ìœ¼ë©´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ì–´ì¤Œ.
## DataFrameì€ ì›ë˜ëŠ” Rì—ì„œ ê¸°ë³¸ìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ” ë°ì´í„° ì¡°íšŒ ê¸°ëŠ¥ì„. ëª¨ì‚¬í•´ì„œ íŒŒì´ì¬ì—ì„œ ì‚¬ìš©í•˜ëŠ” ê²ƒ

     0    1    2    3
0    1    2    3    4
1    a    b    c    d
2  0.1  0.2  0.5  0.8

In [6]:
## rowê¸°ì¤€ìœ¼ë¡œ ì¸ì‹

len(data1)

3

In [7]:
## column ê¸°ì¤€ìœ¼ë¡œ ì¸ì‹ ì‹œí‚¤ë ¤ë©´

len(data1[0])

4

In [8]:
# ğŸ”´ ì•„ì´í…œ ê¸¸ì´ê°€ ë‹¤ë¥¸ ë‹¤ì°¨ì› ë¦¬ìŠ¤íŠ¸

## ìµœëŒ€ ê¸¸ì´ì˜ í–‰ì„ ê¸°ì¤€ìœ¼ë¡œ df êµ¬ì¡°ê°€ ìƒì„±ë¨
## ê¸¸ì´ê°€ ëª¨ìë€ íŠœí”Œ(ì…€) : NaNìœ¼ë¡œ ì±„ì›Œì§

data2 = [[1, 2, 3, 4, 5],
         ['a', 'b'],
         [0.1, 0.2, 0.5]]

In [9]:
df2 = pd.DataFrame(data2)
df2

     0    1    2    3    4
0    1    2  3.0  4.0  5.0
1    a    b  NaN  NaN  NaN
2  0.1  0.2  0.5  NaN  NaN

In [10]:
# ğŸ”´ ì•„ì´í…œ 3ê°œ valueì˜ ê¸¸ì´ 4ê°œ => ì•„ì´í…œì˜ ê°œìˆ˜(ì»¬ëŸ¼ì˜ ê°œìˆ˜), valueì˜ ê¸¸ì´(ë¡œìš°ì˜ ê°œìˆ˜)

## ë”•ì…”ë„ˆë¦¬ì˜ í‚¤ : 

data3 = {'a': [10, 20, 30, 40],
         'b': [1, 2, 3, 4],
         'c': [5, 6, 7, 8]}

## ğŸ”¸ ë”•ì…”ë„ˆë¦¬ë¥¼ ì´ìš©í•´ì„œ ë§Œë“¤ë©´, ì»¬ëŸ¼ëª…ì„ ë¶€ì—¬í•  ìˆ˜ ìˆìŒ.

In [11]:
df3 = pd.DataFrame(data3)
df3

    a  b  c
0  10  1  5
1  20  2  6
2  30  3  7
3  40  4  8

In [12]:
# ğŸ”´ ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ì„ ë°ì´í„° í”„ë ˆì„ ë°ì´í„°ë¡œ í™œìš©

## ì•„ì´í…œ ê°œìˆ˜ 3ê°œ, value ê¸¸ì´ëŠ” ë‹¤ë¥´ê²Œ
## ğŸ”¸ ê°œìˆ˜ê°€ ëª¨ìë€ íŠœí”Œ(ì…€) : ValueError -> keyë³„ ë§¤ì¹­ valueì˜ ê¸¸ì´ê°€ ëª¨ë‘ ë™ì¼í•´ì•¼ í•¨

data4 = {'a': [10],
         'b': [1, 2, 3, 4],
         'c': [5, 6, 7]}

In [13]:
df4 = pd.DataFrame(data4)
df4

## ğŸ”¸ ì—ëŸ¬ ë©”ì„¸ì§€ ValueError: arrays must all be same length

ValueError: arrays must all be same length

In [14]:
## data1ì— ëŒ€í•´
data1

[[1, 2, 3, 4], ['a', 'b', 'c', 'd'], [0.1, 0.2, 0.5, 0.8]]

In [15]:
# ğŸ”´ ì¸ë±ìŠ¤ë¥¼ ì§€ì •í•˜ì—¬ ê°ì²´ ìƒì„± : DataFrame í•¨ìˆ˜ì—ì„œ íŒŒë¼ë¯¸í„°ë¡œ ì§€ì •

## ğŸ”¸ column íŒŒë¼ë¯¸í„° : ì»¬ëŸ¼ëª…(ì—´ ê°œìˆ˜ì™€ ë™ì¼í•œ ê¸¸ì´ë¥¼ ê°€ì§„ ë¦¬ìŠ¤íŠ¸ ì „ë‹¬)
## ğŸ”¸ index íŒŒë¼ë¯¸í„° : ë¡œìš°ëª…(í–‰ ê°œìˆ˜ì™€ ë™ì¼í•œ ê¸¸ì´ë¥¼ ê°€ì§„ ë¦¬ìŠ¤íŠ¸ ì „ë‹¬)

df5 = pd.DataFrame(data1, index=['r1', 'r2', 'r3'], columns=['c1', 'c2', 'c3', 'c4'])
df5

     c1   c2   c3   c4
r1    1    2    3    4
r2    a    b    c    d
r3  0.1  0.2  0.5  0.8

In [16]:
data3

{'a': [10, 20, 30, 40], 'b': [1, 2, 3, 4], 'c': [5, 6, 7, 8]}

In [17]:
# ğŸ”´ ë”•ì…”ë„ˆë¦¬ë¥¼ ì´ìš©í–ˆì„ ë•Œ ì»¬ëŸ¼ ìˆœì„œë¥¼ ë³€ê²½í•˜ì—¬ df ìƒì„± ê°€ëŠ¥


## ğŸ”¸ ì´ë¯¸ ìˆëŠ” ì¸ë±ìŠ¤ë¥¼ ë„£ìœ¼ë©´ ì¬ë°°ì¹˜ë¨.
df6 = pd.DataFrame(data3, index=list('wxyz'), columns=list('cab'))
df6

   c   a  b
w  5  10  1
x  6  20  2
y  7  30  3
z  8  40  4

In [18]:
## ğŸ”¸ data3ì— ì—†ëŠ” ì»¬ëŸ¼ëª…ì„ ì „ë‹¬í•˜ëŠ” ê²½ìš° : ì—†ëŠ” ì»¬ëŸ¼ëª…ë„ NaNìœ¼ë¡œ ìƒì„±

df7 = pd.DataFrame(data3, columns=list('abd'))
df7

    a  b    d
0  10  1  NaN
1  20  2  NaN
2  30  3  NaN
3  40  4  NaN

In [19]:
# ğŸ”´ ë”•ì…”ë„ˆë¦¬ dataì™€ ì¼ì¹˜í•˜ì§€ ì•ŠëŠ” index ê°œìˆ˜ë¥¼ ì „ë‹¬í•˜ëŠ” ê²½ìš° :

## ğŸ”¸ ì»¬ëŸ¼ì´ 3ê°œì— rowê°€ 4ê°œì¸ë° 5ê°œë¥¼ ì „ë‹¬í•œ ìƒí™©
df8 = pd.DataFrame(data3, index=[10, 20, 30, 40, 50])
df8

## ğŸ”¸ ì—ëŸ¬ ë©”ì„¸ì§€ : ValueError: Shape of passed values is (4, 3), indices imply (5, 3)

ValueError: Shape of passed values is (4, 3), indices imply (5, 3)

## â¬› DataFrame ì†ì„±


- ì†ì„±ì€ ì†Œê´„í˜¸ë¥¼ ë¶™ì´ì§€ ì•ŠìŒ
- index : dfê°ì²´ì˜ í–‰ ì¸ë±ìŠ¤ ë°°ì—´ì„ ë°˜í™˜
- columns : df ê°ì²´ì˜ ì—´ ì¸ë±ìŠ¤ ë°°ì—´ì„ ë°˜í™˜
- axes : df ê°ì²´ì˜ í–‰, ì—´ ì¸ë±ìŠ¤ë¥¼ ì•„ì´í…œìœ¼ë¡œ ê°€ì§€ëŠ” ë°°ì—´ì„ ë°˜í™˜
- values : df ê°ì²´ì˜ ë°ì´í„°(ê°’)ì„ ì•„ì´í…œìœ¼ë¡œ ê°€ì§€ëŠ” 2ì°¨ì› ë°°ì—´ì„ ë°˜í™˜
- dtypes : df ê°ì²´ì˜ ë°ì´í„° íƒ€ì…ì„ ì—´ ê¸°ì¤€ìœ¼ë¡œ ë°˜í™˜
- size : df ê°ì²´ì˜ ë°ì´í„° ê°œìˆ˜(ê¸¸ì´)ë¥¼ ë°˜í™˜
- shape : df ê°ì²´ì˜ êµ¬ì¡°(í–‰, ì—´, ì°¨ì›)ë¥¼ ë°˜í™˜
- T : í–‰ê³¼ ì—´ì„ ì „í™˜ì‹œí‚´

In [21]:
# ğŸ”´ ë”•ì…”ë„ˆë¦¬ íƒ€ì… ë°ì´í„°ë¡œ ë°ì´í„° í”„ë ˆì„ ìƒì„±

## ğŸ”¸ ì„œìš¸, ê²½ê¸°, ì¶©ì²­, ê²½ìƒ, ì „ë¼ ì§€ì—­ì— ëŒ€í•´ 2016, 2017, 2018ë…„ ìœ ì… ì¸êµ¬ ë°ì´í„° ì„¸íŒ…

data = {'ì„œìš¸' : [150, 180, 300],
        'ê²½ê¸°' : [200, 240, 450],
        'ì¶©ì²­' : [-10, 3, -13],
        'ê²½ìƒ' : [10, 20, 30],
        'ì „ë¼' : [5, 6, 7]}

In [22]:
sample = pd.DataFrame(data, index=['2016','2017','2018'])
sample

## ğŸ”¸ ì„ ìƒë‹˜ ë‹µ : sample.index = [2018, 2019, 2020]

       ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
2016  150  200 -10  10   5
2017  180  240   3  20   6
2018  300  450 -13  30   7

In [23]:
## ğŸ”¸ í–‰ ì¸ë±ìŠ¤ì— ì´ë¦„ ë¶™ì´ê¸°

sample.index.name = 'year'
sample

       ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
year
2016  150  200 -10  10   5
2017  180  240   3  20   6
2018  300  450 -13  30   7

In [24]:
# ğŸ”´ ì—´ ì¸ë±ìŠ¤ ë³´ê¸°

sample.columns

Index(['ì„œìš¸', 'ê²½ê¸°', 'ì¶©ì²­', 'ê²½ìƒ', 'ì „ë¼'], dtype='object')

In [25]:
## ğŸ”¸ ì—´ ì¸ë±ìŠ¤ì— 'location'ì´ë¼ëŠ” ì„¤ëª…ì„ ë¶™ì—¬ì£¼ì„¸ìš”

sample.columns.name = 'location'
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
year
2016      150  200 -10  10   5
2017      180  240   3  20   6
2018      300  450 -13  30   7

In [26]:
# ğŸ”´ í–‰ ì¸ë±ìŠ¤(row) ìˆ˜ì •

## ğŸ”¸ ì†ì„±ê°’

### â—¾ 1. í–‰ì˜ ê°œìˆ˜ì™€ ë™ì¼í•œ ë¦¬ìŠ¤íŠ¸ë¥¼ ì „ë‹¬
### â—¾ 2. ì†ì„±ê°’ìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ” ì¸ë±ìŠ¤ ê°ì²´ëŠ” ì•„ì´í…œ í•˜ë‚˜ ë‹¨ìœ„ë¡œ ë³€ê²½ ë¶ˆê°€(ë¦¬ìŠ¤íŠ¸ë¡œ ì „ì²´ë¥¼ ë°”ê¿”ì•¼ í•¨)
### â—¾ ë³´ì¡° ì†ì„±ì€ ì‚¬ë¼ì§„ë‹¤.

sample.index=[1991, 1992, 1993]
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1991      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

In [27]:
# ğŸ”´ ì¸ë±ìŠ¤ ìˆ˜ì •

## ğŸ”¸ dfë©”ì„œë“œ : dfë³€ìˆ˜.rename(data, axis)
### â—¾ axis ê¸°ë³¸ê°’ = 0(ë¡œìš° == 'index')
### â—¾ ì—´ ì¸ë±ìŠ¤(ì»¬ëŸ¼)ì— ëŒ€í•œ ìˆ˜ì • : axis=1 í˜¹ì€ axis='columns'

### â—¾ data : ë”•ì…”ë„ˆë¦¬íƒ€ì…, {'ì´ì „ ì¸ë±ìŠ¤ëª…' : 'ë°”ê¿€ ì¸ë±ìŠ¤ëª…'}

### â—¾ inplace = False(ê¸°ë³¸ê°’) : ë°”ë€ ê²°ê³¼ ì ìš© X ì‹œë®¬ë ˆì´ì…˜ë§Œ ìˆ˜í–‰
### â—¾ inplace = True : ë°”ë€ ê²°ê³¼ê°€ ë°”ë¡œ ì ìš©

sample.rename({1991:1990}, inplace=True)

## ğŸ”¸ í•˜ë‚˜ë§Œ ë°”ê¾¸ë ¤ë©´ ë”•ì…”ë„ˆë¦¬ë¡œ ë„£ì–´ì£¼ì–´ì•¼ í•œë‹¤. ğŸ’›

In [28]:
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

In [29]:
# ğŸ”´ ì—´ ì¸ë±ìŠ¤(ì»¬ëŸ¼) ë³€ê²½ : axis=1 or axis='columns'

## ğŸ”¸ ì „ë¼ -> ì œì£¼ë¡œ ë°”ê¿”ë³´ì„¸ìš”. inplaceëŠ” ì£¼ì§€ ì•ŠìŠµë‹ˆë‹¤

sample.rename({'ì „ë¼':'ì œì£¼'}, axis=1)

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì œì£¼
1990      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

In [30]:
# ğŸ”´ í–‰, ì—´ ì¸ë±ìŠ¤ í•œë²ˆì— ë°”ê¾¸ê¸° : dfê°ì²´.axes

## ğŸ”¸ ë°˜í™˜ê°’ : ë¦¬ìŠ¤íŠ¸ -> ì²« ë²ˆì§¸ ì•„ì´í…œ(í–‰(row)ì¸ë±ìŠ¤), ë‘ ë²ˆì§¸ ì•„ì´í…œ(ì—´(column)ì¸ë±ìŠ¤)

print(sample.axes)
print()
print(sample.axes[0]) # í–‰ ì¸ë±ìŠ¤
print()
print(sample.axes[1]) # ì—´ ì¸ë±ìŠ¤

[Int64Index([1990, 1992, 1993], dtype='int64'), Index(['ì„œìš¸', 'ê²½ê¸°', 'ì¶©ì²­', 'ê²½ìƒ', 'ì „ë¼'], dtype='object', name='location')]

Int64Index([1990, 1992, 1993], dtype='int64')

Index(['ì„œìš¸', 'ê²½ê¸°', 'ì¶©ì²­', 'ê²½ìƒ', 'ì „ë¼'], dtype='object', name='location')

In [31]:
# ğŸ”´ reset_index(drop=True)ë¥¼ ì‚¬ìš©í•˜ë©´ ë¡œìš°ì— ë°°ì •ëœ ì¸ë±ìŠ¤ë¥¼ ì¼ê´„ì ìœ¼ë¡œ ì‚­ì œí•©ë‹ˆë‹¤. (ë¦¬ì…‹ ì¸ë±ìŠ¤)

sample.reset_index(drop=True)

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
0         150  200 -10  10   5
1         180  240   3  20   6
2         300  450 -13  30   7

In [32]:
# ğŸ”´ ë°ì´í„° : df.values

## ğŸ”¸ ë°˜í™˜ê°’ : 2d array

sample.values

## valuesë¥¼ í•˜ë©´ ì»¬ëŸ¼, row ì´ë¦„ ì—†ì• ê³  2ì°¨ì› ë°ì´í„° ë°°ì—´ë¡œ ë§Œë“¤ì–´ì¤Œ

array([[150, 200, -10,  10,   5],
       [180, 240,   3,  20,   6],
       [300, 450, -13,  30,   7]], dtype=int64)

In [33]:
# ğŸ”´ ê° ì»¬ëŸ¼(ì—´)ì˜ ë°ì´í„° íƒ€ì…

sample.dtypes

location
ì„œìš¸    int64
ê²½ê¸°    int64
ì¶©ì²­    int64
ê²½ìƒ    int64
ì „ë¼    int64
dtype: object

In [34]:
# ğŸ”´ ì „ì²´ ì…€ ê°œìˆ˜:

sample.size

15

In [35]:
# ğŸ”´ lenìœ¼ë¡œ ì¡°íšŒì‹œ 2ì°¨ì› ë°ì´í„°ë¡œ ê°„ì£¼í•´ì„œ row ê°œìˆ˜ë§Œ ë°˜í™˜ì´ ë¨

len(sample)

3

In [36]:
# ğŸ”´ ë°ì´í„° êµ¬ì¡°(í–‰, ì—´)

sample.shape

(3, 5)

In [37]:
# ğŸ”´ í–‰ê³¼ ì—´ì„ ì „ì¹˜

sample_t = sample.T
sample_t

          1990  1992  1993
location
ì„œìš¸         150   180   300
ê²½ê¸°         200   240   450
ì¶©ì²­         -10     3   -13
ê²½ìƒ          10    20    30
ì „ë¼           5     6     7

In [38]:
## ğŸ”¸ ì „ì¹˜í•œ ë°ì´í„° í”„ë ˆì„ì˜ í–‰(row) ì¸ë±ìŠ¤

sample_t.index

Index(['ì„œìš¸', 'ê²½ê¸°', 'ì¶©ì²­', 'ê²½ìƒ', 'ì „ë¼'], dtype='object', name='location')

In [39]:
## ğŸ”¸ ì „ì¹˜í•œ ë°ì´í„° í”„ë ˆì„ì˜ ì—´(column) ì¸ë±ìŠ¤

sample_t.columns

Int64Index([1990, 1992, 1993], dtype='int64')

In [40]:
## ğŸ”¸ ì „ì¹˜í•œ ë°ì´í„° í”„ë ˆì„ êµ¬ì¡°

sample_t.shape

(5, 3)

In [41]:
## ğŸ”¸ ì „ì¹˜ëŠ” 1íšŒì„±ìœ¼ë¡œ ì§„í–‰ë¨(ì›ë³¸ sample ë³€ìˆ˜ëŠ” ê·¸ëŒ€ë¡œ 3 * 5 í˜•íƒœê°€ ìœ ì§€ë¨)
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

## â¬› ì¸ë±ì‹± (ğŸ’› x 5)

- ì»¬ëŸ¼ ì¡°íšŒ (ê¸°ë³¸ì ìœ¼ë¡œ rowê°€ ì•„ë‹Œ ì»¬ëŸ¼ì„! )
    - 1. df[col]
    - 2. df.col(ë³€ìˆ˜ëª…)
    - 3. df.get(col)
    
    
- iloc, loc ë©”ì„œë“œë¡œ row ì¡°íšŒ(iloc = index location)
    - 1. df.iloc[idx] : ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ -> ì¸ë±ìŠ¤ ë²ˆí˜¸
    - 2. df.loc[label] : ìƒˆë¡­ê²Œ ì§€ì •í•œ ì¸ë±ìŠ¤(ìˆ«ìí˜•ì´ì–´ë„ ê¸°ë³¸ ì¸ë±ìŠ¤ê°€ ì•„ë‹ˆë©´ ëª¨ë‘ loc ë©”ì„œë“œë¡œ ì¡°íšŒ) -> rowëª…

In [42]:
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

In [43]:
# ğŸ”´ ê¸°ë³¸ì ì¸ ì¸ë±ì‹± ê¸°ë²•ì€ ë°ì´í„° í”„ë ˆì„ì˜ 'ì»¬ëŸ¼'ì—ì„œ ê°’ì„ ì¡°íšŒ

## ğŸ”¸ ê°ì²´[idx_n]

sample['ê²½ê¸°']

1990    200
1992    240
1993    450
Name: ê²½ê¸°, dtype: int64

In [44]:
# ğŸ”´ 'ì„œìš¸' ì»¬ëŸ¼ ì¡°íšŒì˜ 3ê°€ì§€ ë°©ë²•

## ğŸ”¸ 1. ê¸°ë³¸ì ì¸ ì¸ë±ì‹± ê¸°í˜¸ : df[colname]
sample['ì„œìš¸']

1990    150
1992    180
1993    300
Name: ì„œìš¸, dtype: int64

In [45]:
## ğŸ”¸ 2. ì»¬ëŸ¼ëª…ì„ .ì„ ì´ìš©í•´ì„œ ì¡°íšŒ, ë¬´ì¡°ê±´ ì´ë¦„ì´ ë³€ìˆ˜ëª…ìœ¼ë¡œ ì‚¬ìš©ë  ìˆ˜ ìˆì„ ë•Œë§Œ ê°€ëŠ¥(ìˆ«ì ë“±ì€ ë¶ˆê°€) : df.cloname
sample.ì„œìš¸

1990    150
1992    180
1993    300
Name: ì„œìš¸, dtype: int64

In [46]:
## ğŸ”¸ 3. dfì˜ getë©”ì„œë“œë¡œ ì¡°íšŒ : df.get(colname)
sample.get('ì„œìš¸')

1990    150
1992    180
1993    300
Name: ì„œìš¸, dtype: int64

In [47]:
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

In [48]:
# ğŸ”´ ì²« ë²ˆì§¸ í–‰(row) ì¡°íšŒ : 0ë²ˆ ì¸ë±ìŠ¤ ì°¸ì¡°

## ğŸ”¸ ë°˜í™˜ê°’ : Series
## ğŸ”¸ ë¼ë²¨ ì¸ë±ìŠ¤ : ê¸°ì¡´ ë°ì´í„°í”„ë ˆì„ì˜ ì»¬ëŸ¼ëª…
## ğŸ”¸ Series name : ê¸°ë³¸ ë°ì´í„° í”„ë ˆì„ì—ì„œ ì°¸ì¡°í•œ ì²« ë²ˆì§¸ í–‰ì˜ ë¼ë²¨ ì¸ë±ìŠ¤

sample.iloc[0] # ì¸ë±ìŠ¤ ìˆ«ìê°€ ë“¤ì–´ê°

location
ì„œìš¸    150
ê²½ê¸°    200
ì¶©ì²­    -10
ê²½ìƒ     10
ì „ë¼      5
Name: 1990, dtype: int64

In [49]:
# ğŸ”´ ìˆ«ìí˜• ë¼ë²¨ë¡œ ì¡°íšŒ ( 1992ë…„ í–‰ ì¡°íšŒ )

sample.loc[1992] # 1992ë…„ì„ ì°¾ëŠ” ê²ƒ

location
ì„œìš¸    180
ê²½ê¸°    240
ì¶©ì²­      3
ê²½ìƒ     20
ì „ë¼      6
Name: 1992, dtype: int64

In [50]:
# ğŸ”´ ì—¬ëŸ¬ ê°œì˜ ì—´ ì¡°íšŒ : ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ì„œ ì „ë‹¬(ì„œìš¸, ê²½ê¸°)

## ğŸ”¸ ë°©ë²•1
sample[['ì„œìš¸', 'ê²½ê¸°']]

location   ì„œìš¸   ê²½ê¸°
1990      150  200
1992      180  240
1993      300  450

In [51]:
## ğŸ”¸ ë°©ë²•2

sample.get(['ì„œìš¸', 'ê²½ê¸°'])

location   ì„œìš¸   ê²½ê¸°
1990      150  200
1992      180  240
1993      300  450

In [52]:
# ğŸ”´ ì„œìš¸, ê²½ê¸° ì§€ì—­ì˜ 1992ë…„ ë°ì´í„°ë§Œ ì¡°íšŒ

sample.get(['ì„œìš¸', 'ê²½ê¸°']).loc[1992]
# í˜¹ì€ sample.get(['ì„œìš¸', 'ê²½ê¸°']).iloc[1]

location
ì„œìš¸    180
ê²½ê¸°    240
Name: 1992, dtype: int64

In [53]:
sample.loc[1992].get(['ì„œìš¸', 'ê²½ê¸°'])

location
ì„œìš¸    180
ê²½ê¸°    240
Name: 1992, dtype: int64

In [54]:
# ğŸ”´ ì—¬ëŸ¬ ê°œì˜ í–‰ ì¡°íšŒ(1990, 1993ë…„ í•œêº¼ë²ˆì— ì¡°íšŒ)

## ğŸ”¸ ë°©ë²•1
sample.loc[[1990, 1993]]

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1993      300  450 -13  30   7

In [55]:
## ğŸ”¸ ë°©ë²•2

sample.iloc[[0, 2]]

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1993      300  450 -13  30   7

In [56]:
# ğŸ”´ 1990ë…„, 1992ë…„ ë°ì´í„°ì—ì„œ ì¶©ì²­ë„ë§Œ ë‚¨ê¸°ê¸°

sample.loc[[1990, 1992]].get(['ì¶©ì²­'])
# ì´ê²ƒë„ ë¨. ì¶œë ¥ í˜•íƒœëŠ” ì¡°ê¸ˆ ë‹¤ë¦„ ==> sample.loc[[1990, 1992]].get('ì¶©ì²­')

location  ì¶©ì²­
1990     -10
1992       3

## â¬› ìŠ¬ë¼ì´ì‹± (ğŸ’›x5)

- ë¡œìš°(í–‰) ìŠ¬ë¼ì´ì‹± 
    - ìˆœì„œê°€ ìˆìœ¼ë©° ë¡œìš° ë‹¨ë…ìœ¼ë¡œ ìŠ¬ë¼ì´ì‹± ê°€ëŠ¥
    - ê¸°ë³¸ ìŠ¬ë¼ì´ì‹± ë¬¸ë²•ì€ ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì ìš©
    - ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ë¡œ ìŠ¬ë¼ì´ì‹±í•  ë•ŒëŠ” ë§ˆì§€ë§‰ ì¸ë±ìŠ¤ëŠ” í¬í•¨í•˜ì§€ ì•Šê³ , ë¼ë²¨ ì¸ë±ìŠ¤ë¡œ ìŠ¬ë¼ì´ì‹±í•  ë•ŒëŠ” ë§ˆì§€ë§‰ ì¸ë±ìŠ¤ë¥¼ í¬í•¨
    
    
- ì»¬ëŸ¼(ì—´) ìŠ¬ë¼ì´ì‹± 
    - ìˆœì„œê°€ ì—†ê¸° ë•Œë¬¸ì— ì»¬ëŸ¼ ë‹¨ë…ìœ¼ë¡œ ìŠ¬ë¼ì´ì‹±í•  ìˆ˜ ì—†ìŒ
    - ë¼ë²¨ ê¸°ì¤€ìœ¼ë¡œ ë¡œìš° ê¸°ì¤€ ìŠ¬ë¼ì´ì‹± ê²°ê³¼ì— ëŒ€í•´ ì»¬ëŸ¼ ìŠ¬ë¼ì´ì‹± ê°€ëŠ¥(ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ëŠ” ì ìš© ë¶ˆê°€)
    - ë§ˆì§€ë§‰ ì¸ë±ìŠ¤ë¥¼ í¬í•¨

In [57]:
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

In [58]:
# ğŸ”´ ê¸°ë³¸ row ìŠ¬ë¼ì´ì‹± : df[start:end:step]

## ğŸ”¸ 0ë²ˆë¶€í„° 1ë²ˆê¹Œì§€ ìŠ¬ë¼ì´ì‹±

sample[0:2]

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1992      180  240   3  20   6

In [59]:
## ğŸ”¸ 0ë²ˆë¶€í„° 2ë²ˆê¹Œì§€ 2í–‰ ê°„ê²©ìœ¼ë¡œ ìŠ¬ë¼ì´ì‹±

sample[0:3:2]

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1993      300  450 -13  30   7

In [61]:
# ğŸ”´ ì „ì²´ ë¡œìš°ì— ëŒ€í•´ ê°„ê²©ì„ -1ë¡œ ì§€ì • : í–‰ì„ ì—­ìˆœìœ¼ë¡œ ë‚˜ì—´

sample[::-1]

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1993      300  450 -13  30   7
1992      180  240   3  20   6
1990      150  200 -10  10   5

In [62]:
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

In [63]:
# ğŸ”´ ì»¬ëŸ¼ ìŠ¬ë¼ì´ì‹± : í–‰ì— ëŒ€í•œ ìŠ¬ë¼ì´ì‹± ê²°ê³¼ì— ì—´ ìŠ¬ë¼ì´ì‹± ì ìš©

## ğŸ”¸ df[:, start:end:step]
## ğŸ”¸ ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ ê¸°ì¤€ì˜ ìŠ¬ë¼ì´ì‹± -> ì»¬ëŸ¼ëª…ìœ¼ë¡œ ì‚¬ìš©

sample.loc[:, :"ê²½ìƒ"]

## ë¡œìš° : ì „ì²´ ë²”ìœ„
## ì»¬ëŸ¼ : ~ ê²½ìƒê¹Œì§€

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ
1990      150  200 -10  10
1992      180  240   3  20
1993      300  450 -13  30

In [64]:
# ğŸ”´ ì»¬ëŸ¼, ë¡œìš° ì¸ë±ìŠ¤ ëª¨ë‘ ê¸°ë³¸ ìˆ«ìí˜• ì¸ë±ìŠ¤ì¸ ê²½ìš°

## ğŸ”¸ 1. 4 * 4 êµ¬ì¡°ì—ì„œ ëª¨ë“  ê°’ì´ 0ì¸ ë°ì´í„° í”„ë ˆì„ ìƒì„±

import numpy as np

data = np.zeros((4, 4))
data

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [65]:
## ğŸ”¸ 2. dfí™” ì‹œí‚¤ê¸°

df = pd.DataFrame(data)
df

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [66]:
## ğŸ”¸ 3. ìˆ«ìí˜• ìŠ¬ë¼ì´ì‹±

## ì»¬ëŸ¼, ë¡œìš° (ë‘˜ ë‹¤ëŠ” ì•ˆë˜ëŠ” ë“¯..?)

df[:3][:1]

     0    1    2    3
0  0.0  0.0  0.0  0.0

In [67]:
## ğŸ”¸ 1. ì»¬ëŸ¼ ìŠ¬ë¼ì´ì‹±ì—ì„œ ì‚¬ìš©í•˜ëŠ” ì¸ë±ìŠ¤ : ê¸°ë³¸ ë²ˆí˜¸ ì¸ë±ìŠ¤

## ğŸ”¸ 2. ì»¬ëŸ¼ ìŠ¬ë¼ì´ì‹± ì¡°ê±´ : ë¡œìš° ìŠ¬ë¼ì´ì‹± ê²°ê³¼ì—ì„œë§Œ ê°€ëŠ¥

## ğŸ”¸ 3. ë©”ì„œë“œë¥¼ ì‚¬ìš©í•œ ë¡œìš° ìŠ¬ë¼ì´ì‹± : iloc / loc -> 1

In [68]:
      #ë¡œìš° #ì»¬ëŸ¼
df.iloc[:3, :2]

     0    1
0  0.0  0.0
1  0.0  0.0
2  0.0  0.0

### <<ì—°ìŠµë¬¸ì œ>>

- ì•„ë˜ì™€ ê°™ì€ ë°ì´í„° í”„ë ˆì„ì„ ìƒì„±í•˜ê³ , ì¶œë ¥ í™”ë©´ê³¼ ë™ì¼í•œ ê²°ê³¼ ìƒì„±í•˜ê¸°

<img src="img/df_practice1.png" width="250" align="left">

In [69]:
data = {'Col1' : [0, 3, 'ks01', 2, 5],
        'Col2' : ['big', 'data', 'is', 'very', 'good'],
        'Col3' : [2.70, -5.00, 2.12, 8.31, -1.34],
        'Col4' : [True, True, False, False, True]}

In [70]:
df = pd.DataFrame(data, index=list('ABCDE'))
df

   Col1  Col2  Col3   Col4
A     0   big  2.70   True
B     3  data -5.00   True
C  ks01    is  2.12  False
D     2  very  8.31  False
E     5  good -1.34   True

In [71]:
# col1, col3ë¥¼ í•¨ê»˜ ì¡°íšŒ

df.get(['Col1', 'Col3'])

   Col1  Col3
A     0  2.70
B     3 -5.00
C  ks01  2.12
D     2  8.31
E     5 -1.34

In [72]:
# A, C, D ë¡œìš°ë§Œ ì¡°íšŒ ( iloc ì‚¬ìš©í•˜ëŠ” ê²ƒë„ ê°€ëŠ¥ )

df.loc[['A', 'C', 'D']]

   Col1  Col2  Col3   Col4
A     0   big  2.70   True
C  ks01    is  2.12  False
D     2  very  8.31  False

In [73]:
# B, D ë¡œìš°ì˜ Col1, Col2ë§Œ ì¡°íšŒí•˜ê¸°

df.loc[['B', 'D']].get(['Col1', 'Col2'])

  Col1  Col2
B    3  data
D    2  very

In [74]:
## ë‹¤ë¥¸ ë°©ë²• : df.loc['B':'D':2, 'Col1':'Col2']

df.loc['B':'D':2, :'Col2']

  Col1  Col2
B    3  data
D    2  very

### â¬› ì»¬ëŸ¼, ë¡œìš° ì¶”ê°€

- â¬› ì»¬ëŸ¼ ì¶”ê°€ / ë³€ê²½
    - ì»¬ëŸ¼ ì¸ë±ì‹± = ìŠ¤ì¹¼ë¼ ê°’ ( ì»¬ëŸ¼ ì „ì²´ê°€ í•˜ë‚˜ì˜ ê°’ìœ¼ë¡œ ì±„ì›Œì§ )
    - ì»¬ëŸ¼ ì¸ë±ì‹± = ë°°ì—´, ë¦¬ìŠ¤íŠ¸(ë¡œìš° ê°œìˆ˜ì™€ ì•„ì´í…œ ê°œìˆ˜ ì¼ì¹˜)
    - ì»¬ëŸ¼ ì¸ë±ì‹± = ì»¬ëŸ¼ ê°„ì˜ ì—°ì‚°
    - ì»¬ëŸ¼ ì¸ë±ì‹± = seriesë¥¼ ë„£ì–´ì£¼ê¸°
    
    
- ë¡œìš° ì¶”ê°€
    - ë¡œìš° ì¸ë±ì‹± = ìŠ¤ì¹¼ë¼ ê°’
    - ë¡œìš° ì¸ë±ì‹± = ë¡œìš° ê°„ì˜ ì—°ì‚°
    
    
- ë°ì´í„° ë¶„ì„ì—ì„œ ì»¬ëŸ¼ê³¼ ë¡œìš°ì˜ ì˜ë¯¸
    - ì»¬ëŸ¼ : ë³€ìˆ˜(íŠ¹ì„±)
    - ë¡œìš° : ê°œë³„ ë°ì´í„°(ë ˆì½”ë“œ)
    - ì „ì²´ ë°ì´í„°ë¥¼ êµ¬ì„±í•˜ëŠ” ë³€ìˆ˜ë¥¼ ì¶”ê°€/ì‚­ì œí•˜ëŠ” ì¼ì€ ë¹ˆë²ˆí•˜ê²Œ ë°œìƒí•˜ì§€ë§Œ íŠ¹ì • ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì „ì²´ ë¡œìš° ë°ì´í„°ë¥¼ ì¶”ê°€/ì‚­ì œí•˜ëŠ” ì¼ì€ ìì£¼ ë°œìƒí•˜ì§€ ì•Šìœ¼ë©° ë°ì´í„° ì²˜ë¦¬ë¥¼ í•˜ëŠ” ê³¼ì •ì—ì„œ ê¶Œì¥í•˜ì§€ ì•ŠëŠ” ì‘ì—…

In [75]:
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼
1990      150  200 -10  10   5
1992      180  240   3  20   6
1993      300  450 -13  30   7

In [76]:
# ğŸ”´ ì»¬ëŸ¼ ì¶”ê°€1) ëª¨ë“  ë¡œìš°ì— ëŒ€í•´ì„œ ë™ì¼í•œ ê°’ì„ ê°€ì§€ëŠ” ì»¬ëŸ¼ -> ìŠ¤ì¹¼ë¼ê°’(ë‹¨ì¼ ê°’)

In [77]:
## ğŸ”¸ ì œì£¼ ì»¬ëŸ¼ ì¶”ê°€, ëª¨ë“  ë°ì´í„°ëŠ” 1ë¡œ í†µì¼
### â—¾ 1. ì—†ëŠ” ì»¬ëŸ¼ëª…ì„ ì¸ë±ì‹±,
### â—¾ 2. ê±°ê¸°ì— 1ì„ ëŒ€ì…í•œë‹¤

sample['ì œì£¼'] = 1
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼
1990      150  200 -10  10   5   1
1992      180  240   3  20   6   1
1993      300  450 -13  30   7   1

In [78]:
# ğŸ”´ ì»¬ëŸ¼ ì¶”ê°€2) ì„œë¡œ ë‹¤ë¥¸ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¡œ ì—´ì„ êµ¬ì„±í•˜ëŠ” ì»¬ëŸ¼ì˜ ìˆ«ì

## ğŸ”¸ ì¡°ê±´ : ì „ë‹¬í•˜ëŠ” ìë£Œí˜•(ë°°ì—´, ë¦¬ìŠ¤íŠ¸)ì˜ ê¸¸ì´ = í–‰ì˜ ê¸¸ì´


## ğŸ”¸ ë¶€ì‚° ì»¬ëŸ¼ ì¶”ê°€, ë°ì´í„°ëŠ” 5ë¶€í„° 1ì”© ì¦ê°€í•˜ëŠ” ìˆ«ìë¥¼ ê°€ì§€ëŠ” ë°°ì—´
sample['ë¶€ì‚°'] = np.arange(5, 8)
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼  ë¶€ì‚°
1990      150  200 -10  10   5   1   5
1992      180  240   3  20   6   1   6
1993      300  450 -13  30   7   1   7

In [79]:
# ğŸ”´ ì»¬ëŸ¼ ì¶”ê°€3) ì»¬ëŸ¼ê°„ì˜ ì—°ì‚° -> íŒŒìƒë³€ìˆ˜

## ğŸ”¸ ìˆ˜ë„ê¶Œ : ì„œìš¸ + ê²½ê¸°

sample['ìˆ˜ë„ê¶Œ'] = sample['ì„œìš¸'] + sample['ê²½ê¸°']
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼  ë¶€ì‚°  ìˆ˜ë„ê¶Œ
1990      150  200 -10  10   5   1   5  350
1992      180  240   3  20   6   1   6  420
1993      300  450 -13  30   7   1   7  750

In [80]:
# ğŸ”´ ì»¬ëŸ¼ ì¶”ê°€4) Series ê°ì²´ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ì „ë‹¬

## ğŸ”¸ ì¡°ê±´ : ì¶”ê°€ ëŒ€ìƒì˜ dfì˜ êµ¬ì¡°ì™€, ì¶”ê°€ ì•„ì´í…œì¸ Seriesì˜ êµ¬ì¡°ë¥¼ íŒŒì•…í•´ì•¼í•¨
## ğŸ”¸ ë¼ë²¨ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ Series ë°ì´í„°ì™€ df ë°ì´í„°ê°€ ë§¤í•‘
## ğŸ”¸ Seriesì— ì—†ëŠ” ë¼ë²¨ ì¸ë±ìŠ¤ì˜ ê²½ìš°ì—ëŠ” NaN
## ğŸ”¸ ë°˜ë“œì‹œ ê¸¸ì´ê°€ ì¼ì¹˜í•˜ì§€ ì•Šì•„ë„ ëœë‹¤.

s1 = pd.Series([9, -99], index=[1990, 1992])
s1

1990     9
1992   -99
dtype: int64

In [81]:
sample['ê°•ì›'] = s1
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼  ë¶€ì‚°  ìˆ˜ë„ê¶Œ    ê°•ì›
1990      150  200 -10  10   5   1   5  350   9.0
1992      180  240   3  20   6   1   6  420 -99.0
1993      300  450 -13  30   7   1   7  750   NaN

In [82]:
# ğŸ”´ ì»¬ëŸ¼ ì‚­ì œ

del sample['ë­ì‹œê¸°']
sample

KeyError: 'ë­ì‹œê¸°'

In [83]:
# ğŸ”´ ë°ì´í„° ê°œìˆ˜ê°€ ë™ì¼í•´ë„ 'ë¼ë²¨' ê¸°ì¤€ìœ¼ë¡œ ë§¤í•‘í•˜ê¸° ë•Œë¬¸ì— ê°’ ì „ë‹¬ì´ ì´ë£¨ì–´ì§€ì§€ ì•ŠìŒ

s2 = pd.Series([100, 100, 100])
s2

0    100
1    100
2    100
dtype: int64

In [84]:
sample['test'] = s2
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼  ë¶€ì‚°  ìˆ˜ë„ê¶Œ    ê°•ì›  test
1990      150  200 -10  10   5   1   5  350   9.0   NaN
1992      180  240   3  20   6   1   6  420 -99.0   NaN
1993      300  450 -13  30   7   1   7  750   NaN   NaN

- â¬› ë¡œìš° ì¶”ê°€
    - ë¡œìš° ì¸ë±ì‹± = ìŠ¤ì¹¼ë¼ ê°’
    - ë¡œìš° ì¸ë±ì‹± = ë¡œìš° ê°„ì˜ ì—°ì‚°(row+row ..)
    - ë¡œìš° ì¸ë±ì‹± = ìë£Œí˜•(ë°°ì—´, ë¦¬ìŠ¤íŠ¸ / ì»¬ëŸ¼ ê°œìˆ˜ì™€ ì•„ì´í…œ ê°œìˆ˜ ì¼ì¹˜)

In [ ]:
# ì»¬ëŸ¼ ì¶”ê°€ í•  ë•ŒëŠ”
sample['ì»¬ëŸ¼ëª…'] = ëŒ€ì…ê°’

In [85]:
# ğŸ”´ rowëŠ” .locë¥¼ ì´ìš©í•´ì„œ ì¶”ê°€í•´ì¤€ë‹¤.

## ğŸ”¸ .locê°€ ë¶™ëŠ”ë‹¤ëŠ” ì ë§Œ ë¹¼ë©´ ì»¬ëŸ¼ê³¼ ì™„ì „íˆ ë™ì¼í•œ ë¬¸ë²•ì„ ì‚¬ìš©í•œë‹¤.

sample.loc[1994] = 0
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼  ë¶€ì‚°  ìˆ˜ë„ê¶Œ    ê°•ì›  test
1990      150  200 -10  10   5   1   5  350   9.0   NaN
1992      180  240   3  20   6   1   6  420 -99.0   NaN
1993      300  450 -13  30   7   1   7  750   NaN   NaN
1994        0    0   0   0   0   0   0    0   0.0   0.0

In [86]:
# ğŸ”´ êµ¬ì¡° í™•ì¸

sample.shape

(4, 10)

In [87]:
import numpy as np

# ğŸ”´ ë°°ì—´, ë¦¬ìŠ¤íŠ¸, ë”•ì…”ë„ˆë¦¬ : ë¡œìš° ì¶”ê°€ì— ì‚¬ìš©í•  ìˆ˜ ìˆëŠ” ìë£Œí˜•
## ğŸ”¸ ì»¬ëŸ¼ ê°œìˆ˜ì™€ ì•„ì´í…œ ê°œìˆ˜ë¥¼ ì¼ì¹˜ì‹œì¼œ ì „ë‹¬
## ğŸ”¸ ì»¬ëŸ¼ ì¶”ê°€í• ë•ŒëŠ” ì¸ë±ìŠ¤ê°€ ë§ì•„ì•¼í–ˆëŠ”ë°, ë¡œìš° ì¶”ê°€ë¥¼ í•  ë•ŒëŠ” ê·¸ëƒ¥ ë¨

sample.loc[1995] = np.arange(10)
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼  ë¶€ì‚°  ìˆ˜ë„ê¶Œ    ê°•ì›  test
1990      150  200 -10  10   5   1   5  350   9.0   NaN
1992      180  240   3  20   6   1   6  420 -99.0   NaN
1993      300  450 -13  30   7   1   7  750   NaN   NaN
1994        0    0   0   0   0   0   0    0   0.0   0.0
1995        0    1   2   3   4   5   6    7   8.0   9.0

In [88]:
# ğŸ”´ row 1990ì„ 1991ë¡œ ëŒë ¤ë†”ì£¼ì„¸ìš” (renameì„ ì“¸ ìˆ˜ë„ ìˆê³  .indexì— ë°°ì—´ì„ ëŒ€ì…í•  ìˆ˜ë„ ìˆìŒ)

## ğŸ”¸ ë°©ë²•1

sample.rename({1990:1991}, inplace=True)
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼  ë¶€ì‚°  ìˆ˜ë„ê¶Œ    ê°•ì›  test
1991      150  200 -10  10   5   1   5  350   9.0   NaN
1992      180  240   3  20   6   1   6  420 -99.0   NaN
1993      300  450 -13  30   7   1   7  750   NaN   NaN
1994        0    0   0   0   0   0   0    0   0.0   0.0
1995        0    1   2   3   4   5   6    7   8.0   9.0

In [94]:
## ğŸ”¸ ë°©ë²•2

sample.index = [1991, 1992, 1993, 1994, 1995]
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼  ì œì£¼  ë¶€ì‚°  ìˆ˜ë„ê¶Œ    ê°•ì›  test
1991      150  200 -10  10   5   1   5  350   9.0   NaN
1992      180  240   3  20   6   1   6  420 -99.0   NaN
1993      300  450 -13  30   7   1   7  750   NaN   NaN
1994        0    0   0   0   0   0   0    0   0.0   0.0
1995        0    1   2   3   4   5   6    7   8.0   9.0

In [95]:
sample.index

Int64Index([1991, 1992, 1993, 1994, 1995], dtype='int64')

In [96]:
# ğŸ”´ ê°œë³„ ì»¬ëŸ¼ì— ê°ê° ë‹¤ë¥¸ ê°’ ì €ì¥í•˜ê¸° ==> ë”•ì…”ë„ˆë¦¬ ì‚¬ìš©

sample.loc[1996] = {'ì„œìš¸':10, 'ê²½ê¸°':20, 'ì¶©ì²­':40, 'ê²½ìƒ':21, 'ì „ë¼':37, 'ì œì£¼':103, 'ë¶€ì‚°':28, 'ìˆ˜ë„ê¶Œ':30, 'ê°•ì›':15, 'test':0}
sample

location   ì„œìš¸   ê²½ê¸°  ì¶©ì²­  ê²½ìƒ  ì „ë¼   ì œì£¼  ë¶€ì‚°  ìˆ˜ë„ê¶Œ    ê°•ì›  test
1991      150  200 -10  10   5    1   5  350   9.0   NaN
1992      180  240   3  20   6    1   6  420 -99.0   NaN
1993      300  450 -13  30   7    1   7  750   NaN   NaN
1994        0    0   0   0   0    0   0    0   0.0   0.0
1995        0    1   2   3   4    5   6    7   8.0   9.0
1996       10   20  40  21  37  103  28   30  15.0   0.0

In [97]:
# ğŸ”´ ë¡œìš° ì¶”ê°€ : ë¡œìš°ê°„ì˜ ì—°ì‚°ìœ¼ë¡œ ë°ì´í„° ì¶”ê°€ -> 1997 row = 95 + 96

sample.loc[1997] = sample.loc[1995] + sample.loc[1996]
sample

location     ì„œìš¸     ê²½ê¸°    ì¶©ì²­    ê²½ìƒ    ì „ë¼     ì œì£¼    ë¶€ì‚°    ìˆ˜ë„ê¶Œ    ê°•ì›  test
1991      150.0  200.0 -10.0  10.0   5.0    1.0   5.0  350.0   9.0   NaN
1992      180.0  240.0   3.0  20.0   6.0    1.0   6.0  420.0 -99.0   NaN
1993      300.0  450.0 -13.0  30.0   7.0    1.0   7.0  750.0   NaN   NaN
1994        0.0    0.0   0.0   0.0   0.0    0.0   0.0    0.0   0.0   0.0
1995        0.0    1.0   2.0   3.0   4.0    5.0   6.0    7.0   8.0   9.0
1996       10.0   20.0  40.0  21.0  37.0  103.0  28.0   30.0  15.0   0.0
1997       10.0   21.0  42.0  24.0  41.0  108.0  34.0   37.0  23.0   9.0

### â¬› ë¡œìš°, ì»¬ëŸ¼ ì‚­ì œ

- ì»¬ëŸ¼ ì‚­ì œ
    - del í‚¤ì›Œë“œ + ì»¬ëŸ¼ ì¸ë±ì‹±
    - df.drop(col, axis=1)
    - df.drop(columns=col)
    
    

- ë¡œìš° ì‚­ì œ
    - df.drop(idx) : axis=0 (ê¸°ë³¸ê°’)

In [99]:
# ğŸ”´ ì»¬ëŸ¼ ì‚­ì œ 1) del í‚¤ì›Œë“œ + ì»¬ëŸ¼ ì¸ë±ì‹±

## ğŸ”¸ íŠ¹ì§• : ì›ë³¸ ê°ì²´ì—ì„œ ë°”ë¡œ ë°ì´í„°ê°€ ì‚¬ë¼ì§

del sample['test']
sample

## ğŸ”¸ (ì£¼ì˜) del sample í•˜ë©´ sample ë°ì´í„°ê°€ ë‹¤ ë‚ ì•„ê°

location     ì„œìš¸     ê²½ê¸°    ì¶©ì²­    ê²½ìƒ    ì „ë¼     ì œì£¼    ë¶€ì‚°    ìˆ˜ë„ê¶Œ    ê°•ì›
1991      150.0  200.0 -10.0  10.0   5.0    1.0   5.0  350.0   9.0
1992      180.0  240.0   3.0  20.0   6.0    1.0   6.0  420.0 -99.0
1993      300.0  450.0 -13.0  30.0   7.0    1.0   7.0  750.0   NaN
1994        0.0    0.0   0.0   0.0   0.0    0.0   0.0    0.0   0.0
1995        0.0    1.0   2.0   3.0   4.0    5.0   6.0    7.0   8.0
1996       10.0   20.0  40.0  21.0  37.0  103.0  28.0   30.0  15.0
1997       10.0   21.0  42.0  24.0  41.0  108.0  34.0   37.0  23.0

In [111]:
# ğŸ”´ ì»¬ëŸ¼ ì‚­ì œ 2) df.drop(columns=ì»¬ëŸ¼ì´ë¦„)

## ğŸ”¸ íŠ¹ì§• : ì›ë³¸ ë°˜ì˜ ë°”ë¡œ ë˜ì§€ ì•ŠìŒ. inplace=True ê¸°ì…ì‹œ ì›ë³¸ì— ë°”ë¡œ ë°˜ì˜

sample.drop(columns='ê²½ìƒ', inplace=True)
sample

KeyError: "['ê²½ìƒ'] not found in axis"

In [114]:
# ğŸ”´ ì»¬ëŸ¼ ì‚­ì œ 3) df.drop(ì»¬ëŸ¼ì´ë¦„, axis=1)

## ğŸ”¸ íŠ¹ì§• : ì›ë³¸ ë°˜ì˜ ë°”ë¡œ ë˜ì§€ ì•ŠìŒ. inplace=True ê¸°ì…ì‹œ ì›ë³¸ì— ë°”ë¡œ ë°˜ì˜

sample.drop('ì¶©ì²­', axis=1, inplace=True)

In [115]:
sample

location     ì„œìš¸     ê²½ê¸°    ì „ë¼     ì œì£¼    ë¶€ì‚°    ìˆ˜ë„ê¶Œ    ê°•ì›
1991      150.0  200.0   5.0    1.0   5.0  350.0   9.0
1992      180.0  240.0   6.0    1.0   6.0  420.0 -99.0
1993      300.0  450.0   7.0    1.0   7.0  750.0   NaN
1994        0.0    0.0   0.0    0.0   0.0    0.0   0.0
1995        0.0    1.0   4.0    5.0   6.0    7.0   8.0
1996       10.0   20.0  37.0  103.0  28.0   30.0  15.0
1997       10.0   21.0  41.0  108.0  34.0   37.0  23.0

In [122]:
# ğŸ”´ ë¡œìš° ì‚­ì œ

## ğŸ”¸ df.drop(ë¡œìš°ëª…, axis=0(ìƒëµê°€ëŠ¥))

sample.drop(1997, inplace=True)

In [124]:
sample

location     ì„œìš¸     ê²½ê¸°    ì „ë¼     ì œì£¼    ë¶€ì‚°    ìˆ˜ë„ê¶Œ    ê°•ì›
1991      150.0  200.0   5.0    1.0   5.0  350.0   9.0
1992      180.0  240.0   6.0    1.0   6.0  420.0 -99.0
1993      300.0  450.0   7.0    1.0   7.0  750.0   NaN
1994        0.0    0.0   0.0    0.0   0.0    0.0   0.0
1995        0.0    1.0   4.0    5.0   6.0    7.0   8.0
1996       10.0   20.0  37.0  103.0  28.0   30.0  15.0

In [128]:
# ğŸ”´ ë‘ ê°œ ì´ìƒì˜ ì»¬ëŸ¼ì´ë‚˜ ë¡œìš° ì‚­ì œ : ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ì„œ ì „ë‹¬

## ğŸ”¸ ì œì£¼, ê°•ì› ì»¬ëŸ¼ ì‚­ì œ

sample.drop(columns=['ì œì£¼', 'ê°•ì›'], inplace=True)

## ì„ ìƒë‹˜ ë‹µ : sample.drop(['ì œì£¼', 'ê°•ì›'], axis=1, inplace=True)

In [130]:
sample

location     ì„œìš¸     ê²½ê¸°    ì „ë¼    ë¶€ì‚°    ìˆ˜ë„ê¶Œ
1991      150.0  200.0   5.0   5.0  350.0
1992      180.0  240.0   6.0   6.0  420.0
1993      300.0  450.0   7.0   7.0  750.0
1994        0.0    0.0   0.0   0.0    0.0
1995        0.0    1.0   4.0   6.0    7.0
1996       10.0   20.0  37.0  28.0   30.0

In [131]:
# ğŸ”´ ë¡œìš° ì—­ì‹œ ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ì„œ ì „ë‹¬í•˜ë©´ ë™ì‹œì— ë‘ ê°œ ì´ìƒë„ ì‚­ì œ ê°€ëŠ¥í•©ë‹ˆë‹¤.

## ğŸ”¸ 1994, 1997 ë¡œìš°ë¥¼ í•œ ë²ˆì— ì‚­ì œí•´ì£¼ì„¸ìš”
## ë‚˜ëŠ” ì´ë¯¸ 1997 ì‚­ì œí•´ì„œ 1994, 1995 ì‚­ì œí•¨.
sample.drop([1994, 1995], inplace=True)

In [132]:
sample

location     ì„œìš¸     ê²½ê¸°    ì „ë¼    ë¶€ì‚°    ìˆ˜ë„ê¶Œ
1991      150.0  200.0   5.0   5.0  350.0
1992      180.0  240.0   6.0   6.0  420.0
1993      300.0  450.0   7.0   7.0  750.0
1996       10.0   20.0  37.0  28.0   30.0

### â¬› ì‚°ìˆ ì—°ì‚°

- dataframe ê³¼ ìŠ¤ì¹¼ë¼ ê°’ ì‚°ìˆ ì—°ì‚°
- dataframe ê³¼ series ê°„ì˜ ì‚°ìˆ ì—°ì‚°
- dataframe ê°„ì˜ ì‚°ìˆ ì—°ì‚°
    - ì»¬ëŸ¼, ë¡œìš° ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì—°ì‚° ìˆ˜í–‰
    - ê³µí†µìœ¼ë¡œ ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ê²½ìš° NaN ë°˜í™˜
    - fill_value ì¸ì ê°’ì„ í†µí•´ NaNì´ ì•„ë‹Œ ê°’ìœ¼ë¡œ ëŒ€ì²´ ê°€ëŠ¥
    
    
- ì—°ì‚°ì˜ ì¢…ë¥˜
    - ë”í•˜ê¸° : +, add() ë©”ì„œë“œ
    - ë¹¼ê¸° : -, sub() ë©”ì„œë“œ
    - ê³±í•˜ê¸° : *, mul() ë©”ì„œë“œ
    - ë‚˜ë¨¸ì§€ë§Œ ë°˜í™˜ : %
    - ëª«ë§Œ ë°˜í™˜ : //

In [133]:
# ğŸ”´ ì»¬ëŸ¼ëª…ì„ ì„œìš¸, ê²½ê¸°, ì¸ì²œìœ¼ë¡œ / ë¡œìš°ëª…ì„ a, b, cë¡œ ê°€ì§€ê³ , 0ë¶€í„° 1ì”© ì¦ê°€í•˜ëŠ” ì •ìˆ˜ê°’ì„ ë°ì´í„°ë¡œ ê°€ì§€ëŠ” DataFrame ğŸ’›ğŸ’›ğŸ’›

df1 = pd.DataFrame(np.arange(9).reshape(3,3), index=list('abc'), columns=['ì„œìš¸', 'ê²½ê¸°', 'ì¸ì²œ'])
df1

   ì„œìš¸  ê²½ê¸°  ì¸ì²œ
a   0   1   2
b   3   4   5
c   6   7   8

In [134]:
# ğŸ”´ ì»¬ëŸ¼ëª…ì„ ì„œìš¸, ê²½ê¸°, ì¸ì²œ, ì„¸ì¢…, ê°•ì›ìœ¼ë¡œ
# ë¡œìš°ëª…ì„ a, b, c, dë¡œ ê°€ì§€ê³  0ë¶€í„° 1ì”© ì¦ê°€í•˜ëŠ” 4 * 5 ë°ì´í„° í”„ë ˆì„ì„ ë§Œë“¤ì–´ì£¼ì„¸ìš”

df2 = pd.DataFrame(np.arange(20).reshape(4,5), index=list('abcd'), columns=['ì„œìš¸', 'ê²½ê¸°', 'ì¸ì²œ', 'ì„¸ì¢…', 'ê°•ì›'])
df2

   ì„œìš¸  ê²½ê¸°  ì¸ì²œ  ì„¸ì¢…  ê°•ì›
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

In [135]:
# ğŸ”´ ë°ì´í„° í”„ë ˆì„ê°„ì˜ ë”í•˜ê¸° ì—°ì‚°

## ğŸ”¸ ê²°ê³¼ í•´ì„ : ê³µí†µ ì»¬ëŸ¼, ë¡œìš°ì¸ ë°ì´í„°ë§Œ ì •ìƒì ìœ¼ë¡œ ë”í•˜ê¸°, ì•„ë‹Œ ë¶€ë¶„ì€ NaN

df1 + df2

## ğŸ”¸ ê²°ê³¼ê°’ì€ ê°€ë‚˜ë‹¤ë¼ ìˆœìœ¼ë¡œ ì •ë ¬ì´ ë¨.

   ê°•ì›    ê²½ê¸°    ì„œìš¸  ì„¸ì¢…    ì¸ì²œ
a NaN   2.0   0.0 NaN   4.0
b NaN  10.0   8.0 NaN  12.0
c NaN  18.0  16.0 NaN  20.0
d NaN   NaN   NaN NaN   NaN

In [136]:
# ğŸ”´ fill_value : add ë©”ì„œë“œì˜ íŒŒë¼ë¯¸í„°

df1.add(df2, fill_value=0)

     ê°•ì›    ê²½ê¸°    ì„œìš¸    ì„¸ì¢…    ì¸ì²œ
a   4.0   2.0   0.0   3.0   4.0
b   9.0  10.0   8.0   8.0  12.0
c  14.0  18.0  16.0  13.0  20.0
d  19.0  16.0  15.0  18.0  17.0

In [137]:
# ğŸ”´ ë°ì´í„° í”„ë ˆì„ì˜ ë¹¼ê¸° ì—°ì‚°

df1 - df2

   ê°•ì›   ê²½ê¸°   ì„œìš¸  ì„¸ì¢…   ì¸ì²œ
a NaN  0.0  0.0 NaN  0.0
b NaN -2.0 -2.0 NaN -2.0
c NaN -4.0 -4.0 NaN -4.0
d NaN  NaN  NaN NaN  NaN

In [138]:
df1.sub(df2, fill_value=0)

     ê°•ì›    ê²½ê¸°    ì„œìš¸    ì„¸ì¢…    ì¸ì²œ
a  -4.0   0.0   0.0  -3.0   0.0
b  -9.0  -2.0  -2.0  -8.0  -2.0
c -14.0  -4.0  -4.0 -13.0  -4.0
d -19.0 -16.0 -15.0 -18.0 -17.0

In [140]:
# ğŸ”´ ê³±í•˜ê¸°ë„ ì—°ì‚°ìë¥¼ ì´ìš©í•´ì„œ í•´ë³´ê³ 

df1 * df2

   ê°•ì›    ê²½ê¸°    ì„œìš¸  ì„¸ì¢…    ì¸ì²œ
a NaN   1.0   0.0 NaN   4.0
b NaN  24.0  15.0 NaN  35.0
c NaN  77.0  60.0 NaN  96.0
d NaN   NaN   NaN NaN   NaN

In [141]:
# ğŸ”´ .mulì„ ì´ìš©í•´ì„œ í•´ë³´ê¸° (fill_value=1)

df1.mul(df2, fill_value=1)

     ê°•ì›    ê²½ê¸°    ì„œìš¸    ì„¸ì¢…    ì¸ì²œ
a   4.0   1.0   0.0   3.0   4.0
b   9.0  24.0  15.0   8.0  35.0
c  14.0  77.0  60.0  13.0  96.0
d  19.0  16.0  15.0  18.0  17.0

In [142]:
# ğŸ”´ ë°ì´í„° í”„ë¦¬ì— ê°„ì˜ ë‚˜ëˆ„ê¸° ì—°ì‚°

df1 / df2

   ê°•ì›        ê²½ê¸°   ì„œìš¸  ì„¸ì¢…        ì¸ì²œ
a NaN  1.000000  NaN NaN  1.000000
b NaN  0.666667  0.6 NaN  0.714286
c NaN  0.636364  0.6 NaN  0.666667
d NaN       NaN  NaN NaN       NaN

In [145]:
# ğŸ”´ .divide

print(df1)
print(df2)

df1.divide(df2, fill_value=1)

   ì„œìš¸  ê²½ê¸°  ì¸ì²œ
a   0   1   2
b   3   4   5
c   6   7   8
   ì„œìš¸  ê²½ê¸°  ì¸ì²œ  ì„¸ì¢…  ê°•ì›
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

         ê°•ì›        ê²½ê¸°        ì„œìš¸        ì„¸ì¢…        ì¸ì²œ
a  0.250000  1.000000       NaN  0.333333  1.000000
b  0.111111  0.666667  0.600000  0.125000  0.714286
c  0.071429  0.636364  0.600000  0.076923  0.666667
d  0.052632  0.062500  0.066667  0.055556  0.058824

### â¬› DataFrameê³¼ Series ê°„ì˜ ì—°ì‚°

- ê¸°ë³¸ì ì¸ ë™ì‘ì€ Series ê°ì²´ì˜ ì¸ë±ìŠ¤ë¥¼ DataFrame ê°ì²´ì˜ ì»¬ëŸ¼ ì¸ë±ìŠ¤ì™€ ë§¤í•‘í•˜ì—¬ ë¸Œë¡œë“œìºìŠ¤íŒ…ê³¼ ìœ ì‚¬í•˜ê²Œ ì—°ì‚° ìˆ˜í–‰
- ë‘ ê°ì²´ ê°„ì˜ ê³µí†µëœ ì¸ë±ìŠ¤ê°€ ì•„ë‹Œ ëŒ€ìƒì€ NaN ê°’ìœ¼ë¡œ ëŒ€ì…
- ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ì—°ì‚°ì„ ìˆ˜í–‰í•  ë•ŒëŠ” axis íŒŒë¼ë¯¸í„°ë¥¼ í†µí•´ ì—°ì‚°ì„ ì ìš©í•  ì¶• ì§€ì •(0:í–‰, 1:ì—´)


- ì—°ì‚°ì˜ ì¢…ë¥˜
    - ë”í•˜ê¸° : +, add() ë©”ì„œë“œ
    - ë¹¼ê¸° : -,  sub() ë©”ì„œë“œ
    - ê³±í•˜ê¸° : *, mul() ë©”ì„œë“œ

In [182]:
# ğŸ”´ ìƒˆë¡œìš´ DataFrame ìƒì„±

# ì»¬ëŸ¼ëª… : a, b, c, d
# ë¡œìš°ëª… : 2010, 2011, 2012
# ë°ì´í„° : 0ë¶€í„° 1ì”© ì¦ê°€í•˜ëŠ” ì •ìˆ˜(3*4)

df = pd.DataFrame(np.arange(12).reshape(3,4), index=['2010', '2011', '2012'], columns=list('abcd'))
df

      a  b   c   d
2010  0  1   2   3
2011  4  5   6   7
2012  8  9  10  11

In [185]:
# ğŸ”´ ì²« ë²ˆì§¸ í–‰ì„ ì¶”ì¶œ

## ğŸ”¸ s1 : ë¼ë²¨ ì¸ë±ìŠ¤ê°€ ì ìš©ëœ ì‹œë¦¬ì¦ˆ

s1 = df.loc['2010']
s1

## ğŸ”¸ ë°ì´í„°í”„ë ˆì„ì´ ì‹œë¦¬ì¦ˆë¥¼ ë½‘ì•„ì˜¨ ê²ƒì´ê¸° ë•Œë¬¸ì—, row í•˜ë‚˜ë§Œ ë½‘ì•„ì˜¤ë©´ ì‹œë¦¬ì¦ˆ í˜•íƒœì„

a    0
b    1
c    2
d    3
Name: 2010, dtype: int32

In [186]:
# ğŸ”´ Series(ë¼ë²¨ì¸ë±ìŠ¤ a, b, c, d)ì™€ dfì˜ ê²°í•© ê¸°ì¤€ : ì´ë¦„ì´ ì¼ì¹˜í•  ë–„ ë”í•˜ê¸°
df + s1

      a   b   c   d
2010  0   2   4   6
2011  4   6   8  10
2012  8  10  12  14

In [180]:
# ğŸ”´ ë°ì´í„° í”„ë ˆì„ ìƒì„±

# ì»¬ëŸ¼ëª… : a, b, c, d, e
# ë°ì´í„° : 20ê°œì˜ 0

df2 = pd.DataFrame(np.zeros((4,5)), columns=list('abcde'))
df2

     a    b    c    d    e
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0

In [181]:
# ğŸ”´ ê¸°ë³¸ ì¸ë±ìŠ¤ë¥¼ ê°€ì§„ ì‹œë¦¬ì¦ˆ

# ë°ì´í„° : 0, 1, 2, 3, 4

s2 = pd.Series(np.arange(5))
s2

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [187]:
# ğŸ”´ ì—´ ë‹¨ìœ„ ì‚°ìˆ  ì—°ì‚°

## ğŸ”¸ ê¸°ë³¸ ë™ì‘ : Seriesì˜ ë¡œìš° ì¸ë±ìŠ¤ë¥¼ dfì˜ ì»¬ëŸ¼ì—ì„œ ë§¤í•‘

## ğŸ”¸ ê²°ê³¼ í•´ì„ : 
### s2ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ë³´ê¸° ë•Œë¬¸ì— ìƒê¸°ëŠ” í˜„ìƒ
### ì‹œë¦¬ì¦ˆëŠ” ê°€ë¡œì¶•/ì„¸ë¡œì¶• ê°œë…ì´ ì—†ê³  ìˆœë²ˆë§Œ ìˆê¸° ë•Œë¬¸ì— ì˜¤ë¥¸ìª½ìœ¼ë¡œ ë¶™ì€ ê²ƒ

df2.sub(s2)

    a   b   c   d   e   0   1   2   3   4
0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [188]:
# ğŸ”´ axis=0 : ë¡œìš°ëª… ì¼ì¹˜ì‹œ ì—°ì‚°

## ğŸ”¸ ê²°ê³¼ í•´ì„
### idx4ì˜ ê²°ê³¼ë§Œ NaN(s2ì˜ 4ë²ˆ ì¸ë±ìŠ¤)

df2.sub(s2, axis=0)

     a    b    c    d    e
0  0.0  0.0  0.0  0.0  0.0
1 -1.0 -1.0 -1.0 -1.0 -1.0
2 -2.0 -2.0 -2.0 -2.0 -2.0
3 -3.0 -3.0 -3.0 -3.0 -3.0
4  NaN  NaN  NaN  NaN  NaN

In [189]:
df

      a  b   c   d
2010  0  1   2   3
2011  4  5   6   7
2012  8  9  10  11

In [190]:
# ğŸ”´ df ì»¬ëŸ¼ì— ì—†ëŠ” ì¸ë±ìŠ¤ë¥¼ ê°€ì§„ Series ìƒì„±

## ì¸ë±ìŠ¤ : a, c, e
## ë°ì´í„° : 3, 3, 3

s3 = pd.Series([3, 3, 3], index=list('ace'))
s3

a    3
c    3
e    3
dtype: int64

In [191]:
# ğŸ”´ ê³µí†µë˜ì§€ ì•Šì€ ì¸ë±ìŠ¤ê°’ê³¼ ì»¬ëŸ¼ê°’ -> NaN

df - s3

        a   b    c   d   e
2010 -3.0 NaN -1.0 NaN NaN
2011  1.0 NaN  3.0 NaN NaN
2012  5.0 NaN  7.0 NaN NaN