# â¬› ë°ì´í„° ì…ì¶œë ¥

## â¬› 1. csv íŒŒì¼ ì ì¬

- pd.read_csv()
    - ì»¬ëŸ¼ëª…ì´ ì¡´ì¬í•˜ëŠ” ë°ì´í„°
    - ì»¬ëŸ¼ëª…ì´ ì—†ëŠ” ë°ì´í„°
    - êµ¬ë¶„ì ì„¤ì •

In [1]:
# íŒ¬ë”ìŠ¤ import

import pandas as pd

In [2]:
# ğŸ”´ data/ex1.csv íŒŒì¼ ì½ê¸°(ì»¬ëŸ¼ëª…ì´ ì¡´ì¬í•˜ëŠ” csv íŒŒì¼)

## ğŸ”¸ read_csv ê¸°ë³¸ë™ì‘ : ì²« í–‰ ë°ì´í„° ==> ì»¬ëŸ¼ìœ¼ë¡œ ì‚¬ìš©

data = pd.read_csv('data/ex1.csv')

print(type(data))

data

<class 'pandas.core.frame.DataFrame'>

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
# ğŸ”´ data/ex2.csv ì½ê¸°( ì»¬ëŸ¼ëª…ì´ ì—†ëŠ” csv íŒŒì¼)

## ğŸ”¸ (ë¬¸ì œ) ê·¸ëƒ¥ ì½ìœ¼ë©´? => ë°ì´í„°ë„ ì»¬ëŸ¼ìœ¼ë¡œ ì½ì–´ë²„ë¦¼

data2 = pd.read_csv('data/ex2.csv')
data2

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [4]:
## ğŸ”¸ (í•´ê²°) read_csv : header=Noneì„ ì£¼ë©´, ì»¬ëŸ¼ì´ ì—†ëŠ” csvë¥¼ ì •ìƒì ìœ¼ë¡œ ì½ì–´ì˜¬ ìˆ˜ ìˆìŒ

data2 = pd.read_csv('data/ex2.csv', header=None)
data2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
# ğŸ”´ ì»¬ëŸ¼ëª… ë¶€ì—¬í•˜ê¸°

data2.columns = list('abcde')
data2

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [14]:
# ğŸ”´ data/ex3.csv ì½ê¸°

## ğŸ”¸ ê¸°ë³¸ êµ¬ë¶„ì "," => ì…€ì„ í•˜ë‚˜í•˜ë‚˜ ë‚˜ëˆ„ëŠ” ë‹¨ìœ„

## ğŸ”¸ (ë¬¸ì œ)ì½¤ë§ˆê°€ ì•„ë‹Œ ë‹¤ë¥¸ ê²ƒìœ¼ë¡œ ë‚˜ì—´ë˜ì–´ ìˆëŠ” ê²½ìš°(ê³µë°±ì´ë‚˜ íƒ­, || ë“±ì˜ ë¬¸ì)

data3 = pd.read_csv('data/ex3.csv')
print(data3)
print(data3.shape)

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491
(4, 1)

In [15]:
## ğŸ”¸ (í•´ê²°? NO) sep = "ë‹¤ë¥¸ êµ¬ë¶„ì"ë¡œ ì²˜ë¦¬ ê°€ëŠ¥

data4 = pd.read_csv('data/ex3.csv', sep="\t")
print(data4)
print(data4.shape)

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491
(4, 1)

In [18]:
## ğŸ”¸ (í•´ê²°? YES) êµ¬ë¶„ì ","  &  " " & "\t"  & "/" & "\" ==> \s+ë¡œ ì²˜ë¦¬í•´ì•¼ í•¨.
data4 = pd.read_csv('data/ex3.csv', sep="\s+")
print(data4.shape)
data4

(4, 3)

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
# ğŸ”´ data/ex4.csv ì½ê¸° ( ì£¼ì„ì´ í¬í•¨ëœ íŒŒì¼ ì½ê¸° )

## ğŸ”¸ íŒŒë¼ë¯¸í„°1 : skiprows = [ìƒëµí•  ë¡œìš°ì¸ë±ìŠ¤ ë²ˆí˜¸]
pd.read_csv('data/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
## ğŸ”¸ íŒŒë¼ë¯¸í„°2 : comment = 'ì£¼ì„ê¸°í˜¸'(ì£¼ì„ ì•ì— ë¶™ì¸ ê¸°í˜¸, í˜„ì¬ ë¬¸ì„œëŠ” #ì´ ë¶™ìŒ)
pd.read_csv('data/ex4.csv', comment="#")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## â¬› 2. ì—‘ì…€ íŒŒì¼ ì½ê¸°

- ê¸°ë³¸ì ìœ¼ë¡œ ì²«ë²ˆì§¸ ì‹œíŠ¸ì— ìˆëŠ” ë°ì´í„°ë¥¼ ì½ì–´ì™€ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì €ì¥
- ëª¨ë“  ì‹œíŠ¸ë¥¼ ì½ê¸° ìœ„í•´ì„œëŠ” sheetname ì¸ìë¥¼ Noneìœ¼ë¡œ ì„¤ì •
    - ëª¨ë“  ì‹œíŠ¸ì˜ ë°ì´í„°ë¥¼ ì½ì–´ì„œ ì‚¬ì „ í˜•íƒœë¡œ ì €ì¥
    - key = ì‹œíŠ¸ì˜ ì´ë¦„, value = ê° ì‹œíŠ¸ì— ìˆëŠ” ë°ì´í„°ë“¤ì„ ì €ì¥í•œ ë°ì´í„° í”„ë ˆì„
- íŠ¹ì • ì‹œíŠ¸ë§Œ ì½ê¸° ìœ„í•´ì„œëŠ” sheetname ì¸ìì— 'ì‹œíŠ¸ëª…' ì„¤ì •

### â—¾ ex6.xlsx íŒŒì¼

<img src="img/ì—‘ì…€íŒŒì¼ì˜ˆì œ.jpg" alt="csvíŒŒì¼ì˜ˆì œ" style="width:600px;"/>

In [25]:
# ğŸ”´ íŒŒì¼ ì½ê¸° (ì²« ë²ˆì§¸ ì‹œíŠ¸ ì½ì–´ì˜´, ë””í´íŠ¸)

pd.read_excel('data/ex6.xlsx')

   a   b
0  1   2
1  5   6
2  9  10

In [26]:
# ğŸ”´ ë‘ ë²ˆì§¸ ì‹œíŠ¸ ì½ê¸° : sheet_name = 'ì‹œíŠ¸ëª…'

pd.read_excel('data/ex6.xlsx', sheet_name='ì‹œíŠ¸2')

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo

In [28]:
# ğŸ”´ ëª¨ë“  ì‹œíŠ¸ ë‹¤ ì½ì–´ì˜¤ê¸°

## ğŸ”¸ sheet_name íŒŒë¼ë¯¸í„° ì„¤ì • ; None

data = pd.read_excel('data/ex6.xlsx', sheet_name=None)
data

{'ì‹œíŠ¸1':    a   b
 0  1   2
 1  5   6
 2  9  10,
 'ì‹œíŠ¸2':     c   d message
 0   3   4   hello
 1   7   8   world
 2  11  12     foo}

In [29]:
## ğŸ”¸ ë”•ì…”ë„ˆë¦¬ë¼ì„œ keys()ì™€ values()ë¥¼ ì‚¬ìš© ê°€ëŠ¥

data.keys()

dict_keys(['ì‹œíŠ¸1', 'ì‹œíŠ¸2'])

In [30]:
data.values()

dict_values([   a   b
0  1   2
1  5   6
2  9  10,     c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo])

In [34]:
## ğŸ”¸ í•˜ë‚˜ì”© ë³¼ ìˆ˜ ìˆìŒ

data['ì‹œíŠ¸1']

   a   b
0  1   2
1  5   6
2  9  10

In [35]:
data['ì‹œíŠ¸2']

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo

In [36]:
## ğŸ”¸ íŒŒì´ì¬ íŠ¹ì„±ìƒ ==> ì‹œíŠ¸1, ì‹œíŠ¸2ì˜ ë°ì´í„°ë¥¼ data1, data2 ë³€ìˆ˜ì— í•œ ë²ˆì— ì €ì¥í•˜ê¸°
### ìš° ë³€ì˜ ë°ì´í„°ê°€ ë‘ ê°œë©´, ì¢Œ ë³€ì˜ ë°ì´í„° ë‘ ê°œì— ë”°ë¡œ ë°›ì„ ìˆ˜ ìˆìŒ

data1, data2 = data.values()

In [37]:
data1

   a   b
0  1   2
1  5   6
2  9  10

In [38]:
data2

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo