In [1]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ê°€ì ¸ì˜¤ê¸°

import pandas as pd # Series, DataFrame ì‚¬ìš©
import numpy as np  # ê°’ì„ ìƒì„±í•˜ëŠ”ë° ì‚¬ìš©

# â¬› ê³„ì¸µ ìƒ‰ì¸

- í–‰, ì—´ì˜ ê° ì¶•ì— ëŒ€í•´ ë‹¤ì¤‘ ë‹¨ê³„(ê³„ì¸µ)ì„ ì§€ì •í•˜ì—¬ ë°ì´í„°ì— ì°¨ì›ì„ ì„¤ì •
- ì¸ë±ìŠ¤ì— ë‹¤ì°¨ì› ë¦¬ìŠ¤íŠ¸ë¥¼ ì „ë‹¬í•˜ë©´ ê³„ì¸µ ìƒ‰ì¸ì„ ì§€ì •í•  ìˆ˜ ìˆìŒ
- ë°ì´í„° êµ¬ì¡°ë¥¼ ì¬ë°°ì—´í•˜ê±°ë‚˜ pivot í…Œì´ë¸”ê³¼ ê°™ì€ ê·¸ë£¹ ê¸°ë°˜ ì‘ì—…ì— ìœ ìš©

- ì¬ë°°ì—´ ë©”ì„œë“œ
    - stack() : ì»¬ëŸ¼ì„ ë¡œìš°ë¡œ í”¼ë²—
    - unstack() : ë¡œìš°ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ í”¼ë²—

In [2]:
# ğŸ”´ Series (ì´ì¤‘ ë¼ë²¨ë§)

## ğŸ”¸ ì¸ë±ìŠ¤ì— ë‹¤ì°¨ì› ë¦¬ìŠ¤íŠ¸(ì•„ì´í…œ 2ê°œ)ë¥¼ ì „ë‹¬
## ğŸ”¸ ë‹¤ì°¨ì›ë¦¬ìŠ¤íŠ¸[0] ìƒìœ„ê³„ì¸µ
## ğŸ”¸ ìƒìœ„ ê³„ì¸µ ì‘ì„±ì‹œ ì£¼ì˜ì  : ê° ê³„ì¸µë³„ë¡œ ì†í•˜ëŠ” í•˜ìœ„ê³„ì¸µ ê°’ì˜ ê°œìˆ˜ë§Œí¼ ê³„ì¸µëª… ì‘ì„±
## ğŸ”¸ ìƒìœ„ ê³„ì¸µ ë¦¬ìŠ¤íŠ¸ì˜ ê°œìˆ˜ = í•˜ìœ„ ê³„ì¸µ ë¦¬ìŠ¤íŠ¸ ê°œìˆ˜
## ğŸ”¸ ë‹¤ì°¨ì›ë¦¬ìŠ¤íŠ¸[1] : í•˜ìœ„ê³„ì¸µ

## ğŸ”¸ ì‹¤ìŠµ ---->
### ë¡œìš° ì¸ë±ìŠ¤ - ìƒìœ„ ê³„ì¸µ : a, b, c, d
### í•˜ìœ„ ê³„ì¸µ - a(1, 2, 3), b(1, 2), c(1, 2, 3, 4), d(1)

s1 = pd.Series(np.arange(10), index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'c', 'c', 'd'],
                                     [1, 2, 3, 1, 2, 1, 2, 3, 4, 1]])

# ğŸ’› ì¸ë±ìŠ¤ë¥¼ ì´ì¤‘ ë¦¬ìŠ¤íŠ¸ë¡œ ì£¼ë©´ ê°™ì€ ê°’ë¼ë¦¬ ë¬¶ì—¬ì„œ ê·¸ë£¹í•‘ì´ ëœë‹¤.

In [3]:
s1

a  1    0
   2    1
   3    2
b  1    3
   2    4
c  1    5
   2    6
   3    7
   4    8
d  1    9
dtype: int32

In [4]:
## ğŸ”¸ ì¸ë±ìŠ¤ í™•ì¸ => multi index (ë‹¤ì¤‘ ì¸ë±ìŠ¤)

s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2),
            ('c', 3),
            ('c', 4),
            ('d', 1)],
           )

In [5]:
# ğŸ”´ ìƒìœ„ ê³„ì¸µì— ì ‘ê·¼

## ğŸ”¸ ê³„ì¸µ ìƒ‰ì¸ì´ ì ìš©ëœ ê°ì²´ì˜ ìƒìœ„ ì¸ë±ìŠ¤ì— ì ‘ê·¼ : ì¼ë°˜ì ì¸ Series ì¸ë±ì‹±ìœ¼ë¡œ ì ‘ê·¼

s1['c']

1    5
2    6
3    7
4    8
dtype: int32

In [7]:
# ğŸ”´ ê³„ì¸µ ìƒ‰ì¸ë° ëŒ€í•œ ìŠ¬ë¼ì´ì‹± : ë§ˆì§€ë§‰ ì¸ë±ìŠ¤ë„ í¬í•¨('b' : 'd' ì…ë ¥ì‹œ b, c, dë¥¼ ì¡°íšŒ)

s1['b':'d']

b  1    3
   2    4
c  1    5
   2    6
   3    7
   4    8
d  1    9
dtype: int32

In [8]:
s1

a  1    0
   2    1
   3    2
b  1    3
   2    4
c  1    5
   2    6
   3    7
   4    8
d  1    9
dtype: int32

In [9]:
# ğŸ”´ í•˜ìœ„ ê³„ì¸µì— ì ‘ê·¼

## ğŸ”¸ a, b, c, dì—ì„œ í•˜ìœ„ê³„ì¸µ ë¼ë²¨ë²ˆí˜¸ 2ì¸ ë°ì´í„°ë§Œ ì¡°íšŒ
## ğŸ”¸ ë°ì´í„°[ìƒìœ„ê³„ì¸µëª…,í•˜ìœ„ê³„ì¸µë²ˆí˜¸]

s1[:, 2]

## ìƒìœ„ê³„ì¸µ : ë²”ìœ„ ì „ì²´
## í•˜ìœ„ê³„ì¸µ : 2ë²ˆì§¸ ë²ˆí˜¸ë§Œ
## ê²°ê³¼ê°’ : aì˜ 2ë²ˆì§¸, bì˜ 2ë²ˆì§¸, cì˜ ë‘ ë²ˆì§¸

a    1
b    4
c    6
dtype: int32

In [10]:
# ğŸ”´ í•˜ìœ„ ê³„ì¸µì— ìŠ¬ë¼ì´ì‹± : loc ë©”ì„œë“œë¥¼ ì´ìš©í•´ì„œ ìŠ¬ë¼ì´ì‹±

## ğŸ”¸ ìƒìœ„ ê³„ì¸µì´ cì´ê³  í•˜ìœ„ê³„ì¸µì„ 2 ~ 4 ê¹Œì§€ ìŠ¬ë¼ì´ì‹±(.locëŠ” ë§ˆì§€ë§‰ ë²ˆí˜¸ë„ í¬í•¨)

s1['c'].loc[2:4]

2    6
3    7
4    8
dtype: int32

In [11]:
# ğŸ”´ unstack() : ìµœí•˜ìœ„(ê¸°ë³¸ë™ì‘)ì— ìˆëŠ” ë¡œìš° ê³„ì¸µì„ ì»¬ëŸ¼ìœ¼ë¡œ ì ìš©í•˜ì—¬ ìœ„ë¡œ ì˜¬ë¦¼

## ğŸ”¸ Series ê°ì²´ë¥¼ DataFrameí™” í•  ìˆ˜ ìˆìŒ
## ğŸ”¸ NaN : ê¸°ì¡´ì— ì—†ë˜ ë¡œìš° ê³„ì¸µì— ëŒ€í•œ ê°’

s1.unstack()

## ğŸ”¸ ì¼ì°¨ì› ë°ì´í„°ë¥¼ 2ì°¨ì› ë°ì´í„°ë¡œ ë°”ê¾¸ì–´ë²„ë¦¼

     1    2    3    4
a  0.0  1.0  2.0  NaN
b  3.0  4.0  NaN  NaN
c  5.0  6.0  7.0  8.0
d  9.0  NaN  NaN  NaN

In [13]:
# ğŸ”´ stack() ë©”ì„œë“œ : ì»¬ëŸ¼ì— ìˆë˜ ê°’ì„ ê°€ì¥ í•˜ìœ„ ì¸ë±ìŠ¤ë¡œ ë‚´ë ¤ì„œ ì¬ë°°ì—´

## ğŸ”¸ DataFrameì„ ë‹¤ì‹œ Seriesí™” í•  ë•Œ ì‚¬ìš©

s1.unstack().stack()

a  1    0.0
   2    1.0
   3    2.0
b  1    3.0
   2    4.0
c  1    5.0
   2    6.0
   3    7.0
   4    8.0
d  1    9.0
dtype: float64

In [77]:
# ğŸ”´ DataFrame ìƒì„±

## êµ¬ì¡° : 4,5
## row : ìƒìœ„(2017, 2018), í•˜ìœ„(ëª¨ë“  ìƒìœ„ ì¸ë±ìŠ¤ì— ëŒ€í•´ ë™ì¼í•˜ê²Œ a, b)
## col : ìƒìœ„(ì„œìš¸, ê²½ê¸°), í•˜ìœ„(ì„œìš¸- ê°•ë‚¨,ì ì‹¤ / ê²½ê¸°-ì•ˆì–‘,ìˆ˜ì›,íŒêµ)
## ê°’ : 1ì”© ì¦ê°€í•˜ëŠ” 20ê°œ

df = pd.DataFrame(np.arange(20).reshape(4,5), 
                  index=[[2017, 2017, 2018, 2018],['a', 'b', 'a', 'b']], 
                  columns = [['ì„œìš¸', 'ì„œìš¸', 'ê²½ê¸°', 'ê²½ê¸°', 'ê²½ê¸°'], ['ê°•ë‚¨', 'ì ì‹¤', 'ì•ˆì–‘', 'ìˆ˜ì›', 'íŒêµ']])
df

        ì„œìš¸      ê²½ê¸°
        ê°•ë‚¨  ì ì‹¤  ì•ˆì–‘  ìˆ˜ì›  íŒêµ
2017 a   0   1   2   3   4
     b   5   6   7   8   9
2018 a  10  11  12  13  14
     b  15  16  17  18  19

In [79]:
# ğŸ”´ ì»¬ëŸ¼ì˜ ìƒìœ„ ê³„ì¸µ ì ‘ê·¼ : ì¼ë°˜ì ì¸ df ì»¬ëŸ¼ ì¸ë±ì‹± ë°©ì‹

## 'ì„œìš¸' ë°ì´í„° ì¡°íšŒ

df['ì„œìš¸']

        ê°•ë‚¨  ì ì‹¤
2017 a   0   1
     b   5   6
2018 a  10  11
     b  15  16

In [90]:
# ğŸ”´ ì»¬ëŸ¼ì´ ì´ì¤‘ êµ¬ì¡°ë¡œ ë˜ì–´ ìˆìœ¼ë¯€ë¡œ, ì¸ë±ì‹±ë„ ì´ì¤‘ìœ¼ë¡œ í•´ì•¼ í•˜ë‚˜ì˜ ìš”ì†Œë¥¼ ì¡°íšŒí•  ìˆ˜ ìˆìŒ

print(df['ì„œìš¸']['ê°•ë‚¨'])
print("--------------------")
print(df['ì„œìš¸', 'ê°•ë‚¨'])
print("--------------------")

## ğŸ”¸ íŠœí”Œë¡œ ì „ë‹¬ì‹œ í•˜ë‚˜ì˜ ë¦¬ìŠ¤íŠ¸ë¡œ 2ê°œ ì´ìƒì˜ ê³„ì¸µ ì²˜ë¦¬ ê°€ëŠ¥
print(df[('ì„œìš¸', 'ê°•ë‚¨')])

2017  a     0
      b     5
2018  a    10
      b    15
Name: ê°•ë‚¨, dtype: int32
--------------------
2017  a     0
      b     5
2018  a    10
      b    15
Name: (ì„œìš¸, ê°•ë‚¨), dtype: int32
--------------------
2017  a     0
      b     5
2018  a    10
      b    15
Name: (ì„œìš¸, ê°•ë‚¨), dtype: int32

In [95]:
# ğŸ”´ rowì˜ ìƒìœ„ ê³„ì¸µ ì ‘ê·¼

## ğŸ”¸ 2017ë…„ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ì£¼ì„¸ìš”
df.loc[2017]

  ì„œìš¸    ê²½ê¸°
  ê°•ë‚¨ ì ì‹¤ ì•ˆì–‘ ìˆ˜ì› íŒêµ
a  0  1  2  3  4
b  5  6  7  8  9

In [96]:
## ğŸ”¸ 2017ë…„ì˜ ì „ë°˜ê¸°a ë°ì´í„°ë¥¼ ì¡°íšŒí•´ì£¼ì„¸ìš”

### â—¾ ë°©ë²•1)

df.loc[2017, 'a']
df.loc[(2017, 'a')]

ì„œìš¸  ê°•ë‚¨    0
    ì ì‹¤    1
ê²½ê¸°  ì•ˆì–‘    2
    ìˆ˜ì›    3
    íŒêµ    4
Name: (2017, a), dtype: int32

In [100]:
### â—¾ ë°©ë²•2)

df.loc[2017].loc['a']

ì„œìš¸  ê°•ë‚¨    0
    ì ì‹¤    1
ê²½ê¸°  ì•ˆì–‘    2
    ìˆ˜ì›    3
    íŒêµ    4
Name: a, dtype: int32

In [119]:
# ğŸ”´ ë¶„ë‹¹ ~ ìˆ˜ì›ê¹Œì§€ ë°ì´í„° ì¡°íšŒ

## ğŸ”¸ ì£¼ì˜ì  : ë°ì´í„°í”„ë ˆì„ ì»¬ëŸ¼ì€ row ìŠ¬ë¼ì´ì‹± ê²°ê³¼ì— ëŒ€í•´ì„œë§Œ ìŠ¬ë¼ì´ì‹± ì ìš©
df['ê²½ê¸°'].loc[:, "ì•ˆì–‘":"ìˆ˜ì›"]

        ì•ˆì–‘  ìˆ˜ì›
2017 a   2   3
     b   7   8
2018 a  12  13
     b  17  18

In [120]:
# ğŸ”´ ë¡œìš°ì˜ ìµœí•˜ìœ„ê³„ì¸µ(a, b)ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ì˜¬ë¦¬ê¸° : unstack()

df.unstack()

      ì„œìš¸              ê²½ê¸°
      ê°•ë‚¨      ì ì‹¤      ì•ˆì–‘      ìˆ˜ì›      íŒêµ
       a   b   a   b   a   b   a   b   a   b
2017   0   5   1   6   2   7   3   8   4   9
2018  10  15  11  16  12  17  13  18  14  19

In [122]:
df

        ì„œìš¸      ê²½ê¸°
        ê°•ë‚¨  ì ì‹¤  ì•ˆì–‘  ìˆ˜ì›  íŒêµ
2017 a   0   1   2   3   4
     b   5   6   7   8   9
2018 a  10  11  12  13  14
     b  15  16  17  18  19

In [121]:
# ğŸ”´ ì»¬ëŸ¼ì˜ ìµœí•˜ìœ„ê³„ì¸µì„ ë¡œìš°ì˜ í•˜ìœ„ê³„ì¸µìœ¼ë¡œ ì¬ë°°ì—´ : stack()

df.stack()

             ê²½ê¸°    ì„œìš¸
2017 a ê°•ë‚¨   NaN   0.0
       ìˆ˜ì›   3.0   NaN
       ì•ˆì–‘   2.0   NaN
       ì ì‹¤   NaN   1.0
       íŒêµ   4.0   NaN
     b ê°•ë‚¨   NaN   5.0
       ìˆ˜ì›   8.0   NaN
       ì•ˆì–‘   7.0   NaN
       ì ì‹¤   NaN   6.0
       íŒêµ   9.0   NaN
2018 a ê°•ë‚¨   NaN  10.0
       ìˆ˜ì›  13.0   NaN
       ì•ˆì–‘  12.0   NaN
       ì ì‹¤   NaN  11.0
       íŒêµ  14.0   NaN
     b ê°•ë‚¨   NaN  15.0
       ìˆ˜ì›  18.0   NaN
       ì•ˆì–‘  17.0   NaN
       ì ì‹¤   NaN  16.0
       íŒêµ  19.0   NaN

In [123]:
# ğŸ”´ ê³„ì¸µì˜ ì¸ë±ìŠ¤ ë²ˆí˜¸ ë˜ëŠ” ë¼ë²¨ì„ ì‚¬ìš©í•˜ì—¬ ìƒ, í•˜ìœ„ê°„ êµí™˜

## ğŸ”¸ swaplevel(key1, key2, axis=0(ê¸°ë³¸ê°’))
## ğŸ”¸ axisê°€ 0ì¸ ê²½ìš°ëŠ” rowì˜ ìƒí•˜ìœ„ ê°œë…ì´ ë’¤ì§‘íŒë‹¤.

df.swaplevel(1, 0)

        ì„œìš¸      ê²½ê¸°
        ê°•ë‚¨  ì ì‹¤  ì•ˆì–‘  ìˆ˜ì›  íŒêµ
a 2017   0   1   2   3   4
b 2017   5   6   7   8   9
a 2018  10  11  12  13  14
b 2018  15  16  17  18  19

In [124]:
## ğŸ”¸ swaplevelì— axis=1ì„ ì£¼ë©´ ê³„ì¸µì´ ì•„ë‹Œ ì»¬ëŸ¼ì— ë³€ë™ì´ ìƒê¹ë‹ˆë‹¤.

df.swaplevel(1, 0, axis=1)

        ê°•ë‚¨  ì ì‹¤  ì•ˆì–‘  ìˆ˜ì›  íŒêµ
        ì„œìš¸  ì„œìš¸  ê²½ê¸°  ê²½ê¸°  ê²½ê¸°
2017 a   0   1   2   3   4
     b   5   6   7   8   9
2018 a  10  11  12  13  14
     b  15  16  17  18  19

### â¬› ê°ì²´ ë³µì‚¬

- í• ë‹¹ê¸°í˜¸(=) / ìŠ¬ë¼ì´ì‹± : ì›ë³¸ê³¼ ìƒí˜¸ ì¢…ì†ì ì¸ ë³µì‚¬ë³¸ ê°ì²´ ìƒì„± (ì–•ì€ ë³µì‚¬)
- obj.copy() : ì›ë³¸ê³¼ ë…ë¦½ì ì¸ ë³µì‚¬ë³¸ ê°ì²´ ìƒì„±(ê¹Šì€ ë³µì‚¬)

In [129]:
# ğŸ”´ ëª¨ë“  ê°’ì´ 1ì¸ 5*1 êµ¬ì¡°ì˜ Series ìƒì„±

s1 = pd.Series(np.ones(5))
s1

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [130]:
# ğŸ”´ í• ë‹¹ê¸°í˜¸ = ë¡œ ë³µì‚¬ : ì–•ì€ ë³µì‚¬

s2 = s1
s2

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [131]:
# ğŸ”´ í• ë‹¹ ê¸°í˜¸ë¡œ ë³µì‚¬í•œ ê°ì²´ì˜ ì•„ì´í…œ ìˆ˜ì •

s2[0] = 10
s2

0    10.0
1     1.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [132]:
## ğŸ”¸ =ì„ ì´ìš©í•œ ëŒ€ì…ì€ ì›ë³¸ ê°ì²´ë„ ë³€ê²½ë¨
s1

0    10.0
1     1.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [133]:
# ğŸ”´ ì›ë³¸ ê°ì²´ì˜ ì•„ì´í…œ ìˆ˜ì •

## ğŸ”¸ ì›ë³¸ë„ ë³µì‚¬ë³¸ì—ê²Œ ì˜í–¥ì„ ì¤Œ

s1[1] = 30
print(s1)
print(s2)

0    10.0
1    30.0
2     1.0
3     1.0
4     1.0
dtype: float64
0    10.0
1    30.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [134]:
# ğŸ”´ ìŠ¬ë¼ì´ì‹±ìœ¼ë¡œ ë³µì‚¬

## ğŸ”¸ ì¼ë°˜ íŒŒì´ì¬ì—ì„œëŠ” ê¹Šì€ ë³µì‚¬ë¡œ ê°„ì£¼ë˜ì§€ë§Œ
## ğŸ”¸ íŒ¬ë”ìŠ¤ì—ì„œëŠ” ì–•ì€ ë³µì‚¬ë¡œ ì·¨ê¸‰ëœë‹¤. ğŸ’›

s3 = s1[:]
s3

0    10.0
1    30.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [138]:
## ğŸ”¸ ë³µì‚¬ë³¸ ê°ì²´ ì•„ì´í…œ ìˆ˜ì • => s1, s2ì— ì˜í–¥

s3[2] = -9

print("------< s3 >----")
print(s3)
print("------< s1 >----")
print(s1)
print("------< s2 >----")
print(s2)

------< s3 >----
0    10.0
1    30.0
2    -9.0
3     1.0
4     1.0
dtype: float64
------< s1 >----
0    10.0
1    30.0
2    -9.0
3     1.0
4     1.0
dtype: float64
------< s2 >----
0    10.0
1    30.0
2    -9.0
3     1.0
4     1.0
dtype: float64

In [139]:
# ğŸ”´ ì›ë³¸ ë³€ê²½ => s2, s3ì— ì˜í–¥

s1[3] = 33

print("------< s1 >----")
print(s1)
print("------< s2 >----")
print(s2)
print("------< s3 >----")
print(s3)

------< s1 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s2 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s3 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64

In [140]:
# ğŸ”´ ê¹Šì€ ë³µì‚¬ë¥¼ í•˜ê³ ì‹¶ìœ¼ë©´ ? => .copy()ë¥¼ ì´ìš©

s4 = s1.copy()
s4

0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64

In [141]:
## ğŸ”¸ s4ë¥¼ ë°”ê¿”ë„ s1, s2, s3ì€ ì˜í–¥ì„ ë°›ì§€ ì•ŠìŒ.

s4[4] = 200

print("------< s1 >----")
print(s1)
print("------< s2 >----")
print(s2)
print("------< s3 >----")
print(s3)
print("------< s4 >----")
print(s4)

------< s1 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s2 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s3 >----
0    10.0
1    30.0
2    -9.0
3    33.0
4     1.0
dtype: float64
------< s4 >----
0     10.0
1     30.0
2     -9.0
3     33.0
4    200.0
dtype: float64

In [142]:
## ğŸ”¸ ë§ˆì°¬ê°€ì§€ë¡œ s1ì„ ë³€ê²½í•´ë„ s4ì—ëŠ” ì˜í–¥ì„ ì£¼ì§€ ì•ŠìŒ

s1[0] = 2929229

print("------< s1 >----")
print(s1)
print("------< s2 >----")
print(s2)
print("------< s3 >----")
print(s3)
print("------< s4 >----")
print(s4)

------< s1 >----
0    2929229.0
1         30.0
2         -9.0
3         33.0
4          1.0
dtype: float64
------< s2 >----
0    2929229.0
1         30.0
2         -9.0
3         33.0
4          1.0
dtype: float64
------< s3 >----
0    2929229.0
1         30.0
2         -9.0
3         33.0
4          1.0
dtype: float64
------< s4 >----
0     10.0
1     30.0
2     -9.0
3     33.0
4    200.0
dtype: float64

### â¬› ì •ë ¬ (ğŸ’›x5)

- obj.sort_index() : ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ (ê¸°ë³¸ê°’ì€ ascending=True, ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬)
    - DataFrame, Series
        - axis = 0 : ê¸°ë³¸ê°’, ë¡œìš° ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
        - axis = 1 : ì»¬ëŸ¼ ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
        
        
- obj.sort_values() : ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
    - DataFrame, Series
        - by : ì •ë ¬ì˜ ê¸°ì¤€ì´ ë˜ëŠ” ì¸ë±ìŠ¤ ê°’ ì „ë‹¬
        - axis = 0 : ê¸°ë³¸ê°’, ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë¡œìš° ì¸ë±ìŠ¤ë¥¼ ì •ë ¬í•˜ë©° ê¸°ì¤€ê°’ìœ¼ë¡œ byì— ì¸ë±ìŠ¤ ì»¬ëŸ¼ ë ˆë²¨ ë˜ëŠ” ì»¬ëŸ¼ëª… ì „ë‹¬
        - axis = 1 : ë¡œìš° ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì»¬ëŸ¼ ë¼ë²¨ì„ ì •ë ¬í•˜ë©° ê¸°ì¤€ê°’ìœ¼ë¡œ byì— ë ˆë²¨ ë˜ëŠ” ë¼ë²¨ëª… ì „ë‹¬

In [143]:
# ğŸ”´ ì‹œë¦¬ì¦ˆ ìƒì„±

## ê°’ê³¼ ì¸ë±ìŠ¤ë¼ë²¨ì´ ìˆœì„œëŒ€ë¡œ ë“¤ì–´ê°€ì§€ ì•Šì€ ì‹œë¦¬ì¦ˆ

s1 = pd.Series([2, 3, 1, 7, 0], index=list('gacfd'))
s1

g    2
a    3
c    1
f    7
d    0
dtype: int64

In [144]:
# ğŸ”´ ì¸ë±ìŠ¤ ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

## ğŸ”¸ ê¸°ë³¸ ë™ì‘ : ì˜¤ë¦„ì°¨ìˆœ & ë¡œìš° ì¸ë±ìŠ¤

s1.sort_index()

a    3
c    1
d    0
f    7
g    2
dtype: int64

In [145]:
# ğŸ”´ ì¸ë±ìŠ¤ ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

s1.sort_index(ascending=False)

g    2
f    7
d    0
c    1
a    3
dtype: int64

In [146]:
## ğŸ”¸ ì¼ì‹œì  ë³€ê²½ì´ë¯€ë¡œ s1ì—ëŠ” ì˜í–¥ì„ ì£¼ì§€ ì•ŠìŒ

s1

g    2
a    3
c    1
f    7
d    0
dtype: int64

In [147]:
# ğŸ”´ ê°’ ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

s1.sort_values()

d    0
c    1
g    2
a    3
f    7
dtype: int64

In [148]:
# ğŸ”´ ê°’ ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

s1.sort_values(ascending=False)

f    7
a    3
g    2
c    1
d    0
dtype: int64

In [149]:
## ğŸ”¸ ì›ë³¸ì— ë°”ë¡œ ë°˜ì˜ë˜ì§€ ì•ŠìŒ
s1

g    2
a    3
c    1
f    7
d    0
dtype: int64

In [165]:
# ğŸ”´ ë°ì´í„° í”„ë ˆì„ ìƒì„±

## 4 *5 ë¬´ì‘ìœ„ ì •ìˆ˜(np.random.randint())
## ë¡œìš° / ì»¬ëŸ¼ ì¸ë±ìŠ¤ë„ ìˆœì„œê°€ ì—†ëŠ” ê°’ ì§€ì •

df1 = pd.DataFrame(np.random.randint(20, size=(4,5)) , index=list('hcae'), columns=list('EAFCD'))
df1

    E   A   F   C  D
h  19   5   3  19  4
c  17   0   7  19  8
a   6  17   3   3  4
e  12   0  10   8  3

In [166]:
# ğŸ”´ row ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬(axis=0)

df1.sort_index()

    E   A   F   C  D
a   6  17   3   3  4
c  17   0   7  19  8
e  12   0  10   8  3
h  19   5   3  19  4

In [167]:
# ğŸ”´ ë¡œìš° ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

df1.sort_index(ascending=False)

    E   A   F   C  D
h  19   5   3  19  4
e  12   0  10   8  3
c  17   0   7  19  8
a   6  17   3   3  4

In [169]:
# ğŸ”´ ì»¬ëŸ¼ëª… ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

df1.sort_index(axis=1)

    A   C  D   E   F
h   5  19  4  19   3
c   0  19  8  17   7
a  17   3  4   6   3
e   0   8  3  12  10

In [170]:
# ğŸ”´ ì»¬ëŸ¼ëª… ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

df1.sort_index(axis=1, ascending=False)

    F   E  D   C   A
h   3  19  4  19   5
c   7  17  8  19   0
a   3   6  4   3  17
e  10  12  3   8   0

In [172]:
# ğŸ”´ ì»¬ëŸ¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„, ë¡œìš° ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

df1.sort_index(axis=1, ascending=False).sort_index()

    F   E  D   C   A
a   3   6  4   3  17
c   7  17  8  19   0
e  10  12  3   8   0
h   3  19  4  19   5

In [173]:
## ğŸ”¸ ì›ë³¸ì€ ë³€í•˜ì§€ ì•ŠëŠ”ë‹¤.

df1

    E   A   F   C  D
h  19   5   3  19  4
c  17   0   7  19  8
a   6  17   3   3  4
e  12   0  10   8  3

In [175]:
# ğŸ”´ ê°’ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬

## ğŸ”¸ ì»¬ëŸ¼ Dì˜ ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
## sort_values(axis=0, by='ê¸°ì¤€ì»¬ëŸ¼ëª…')

df1.sort_values(by='D')

    E   A   F   C  D
e  12   0  10   8  3
h  19   5   3  19  4
a   6  17   3   3  4
c  17   0   7  19  8

In [179]:
## ğŸ”¸ ì»¬ëŸ¼ Aë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

df1.sort_values(by='A', ascending=False)

    E   A   F   C  D
a   6  17   3   3  4
h  19   5   3  19  4
c  17   0   7  19  8
e  12   0  10   8  3

In [180]:
## ğŸ”¸ ì¸ë±ìŠ¤ë¼ë²¨(row)ì˜ cì˜ ê°’ì„ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

## ê²°ê³¼ì ìœ¼ë¡œ ì •ë ¬ë˜ëŠ” ëŒ€ìƒ : ì»¬ëŸ¼
## ì •ë ¬ì˜ ê¸°ì¤€ : rowë¼ë²¨

df1.sort_values(axis=1, by='c')

    A   F  D   E   C
h   5   3  4  19  19
c   0   7  8  17  19
a  17   3  4   6   3
e   0  10  3  12   8

In [181]:
## ğŸ”¸ row 'e'ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê°’ì„ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

df1.sort_values(axis=1, by='e', ascending=False)

    E   F   C  D   A
h  19   3  19  4   5
c  17   7  19  8   0
a   6   3   3  4  17
e  12  10   8  3   0