# 데이터 타입

## > 1. 숫자형

- 종류
    - 정수 : 0, 양수, 음수인 숫자
    - 실수 : 소수점을 포하ㅁ하는 숫ㅈㅏ
    - 8진수 : (0o 또는 00(왼쪽숫자0, 오른쪽 알파벳 o)로 시작 : 0o34, 0o25
    - 16진수 : (0x로 시작) : 0x2A, 0xFF

### 1.1 정수형

In [2]:
# 양수, 음수, 0
    # 파이썬은 동적 자료형이라서 자료형을 선언하지 않고, 나중에 넣어주면 그때부터.

a = 10
b = -20
c = 0

컨트롤 + 엔터 => 컨트롤과 엔터를 눌러야 코드 실행이 가능함

In [4]:
# 정수 타입 : 타입(데이터 종류를 확인하는 내장함수 type()
    # 가장 마지막 줄 하나만 실행

type(a)
type(b)

int

In [5]:
# 프린트 구문도 사용할 수 있음.

print("Hello World")

Hello World

In [8]:
# 뒤에 세미콜론(;)을 찍지 않아도 실행이 된다.

print(type(a), type(b), type(c))

<class 'int'> <class 'int'> <class 'int'>

# 1.2 실수형

In [11]:
# 양의 실수, 음의 실수 : float

a = 1.3
b = -2.4
c = 0.0

In [12]:
# 타입 확인
    # 0은 int, 0.0은 float

print(type(a), type(b), type(c))

<class 'float'> <class 'float'> <class 'float'>

## > 2. 연산자

- 산술 : +, -, *, /, //(몫), %(나머지), **(제곱)
- 비교 : ==(같은지), !=(다른지), <=, >=, >, <
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), +=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

### 2-1) 산술 연산자 : 숫자를 계산하기 위한 문법 기호

#### 정수/정수 => 실수(ㅇ_ㅇ..!)
#### 정수/정수 효과를 내는 연산자가 따로 있음

#### 2**3 => 2의 3승이라는 뜻

In [55]:
# 더하기 : +


#정수 + 정수 => 정수로 출력
10 + 3

#실수 + 실수 => 실수(정확하게 딱 떨어지지 않는다)
13.3 + 2.4 

# 정수 + 실수 => 실수
10 + 3.4

13.4

In [20]:
# 빼기 : -


# 정수 - 정수 => 정수로 출력
10-3

# 정수 - 실수 => 실수로 출력
3-7.7

-4.7

In [25]:
# 나누기 : /


# 나누기의 결과는 정수 / 정수여도 실수로 간주됨 ( 중요 ! )
3/3 # 결과값 : 1.0

7/2 # 결과값 : 3.5

5/2.5 # 결과값 : 2.0

2.0

In [31]:
# 곱하기 : *

3 * 4
-3 * 4

# 괄호를 이용해서 조절하는 것 가틍
(3 - 4 ) * 5

-5

In [32]:
# 정수의 몫만 반환 : //

# 나눗셈의 결과값보다 작은 정수 중에 가장 큰 정수 ★

# 음수
-5//4

-2

In [33]:
# 양수
4//3

1

In [34]:
# 정수 몫을 구하고 남은 나머지만 반환 : %

3 % 4

3

In [37]:
# 지수 : **

2**3     # 결과값 : 8
2 ** 0.5 # 결과값 : 루트로 잡혀서 1.4142...

1.4142135623730951

### 2-2) 비교 연산자 : 자료를 비교하기 위한 문법 기호
    - 결과가 숫자가 아닌 bool type의 결과를 가진다
    
> ##### bool type
    - true : 0이 아닌 숫자, 참인 조건식 등
    - False : 0, 거짓인 조건식 등

- 값에 대한 비교 : ==, !=
- 크기에 대한 비교 : <, >, >=, <=

In [38]:
# 두 값이 같은지 비교 : ==
#(결과) 두 값이 같으면 True, 다르면 False

# 결과값 : True (자바랑 똑같음)
0 == 0.0

True

In [40]:
#결과값 : False
type(0) == type(0.0)

False

In [42]:
# 두 값이 다른지 비교 : !=

# 두 값이 다르면 True, 같으면 False

# 결과값 : True(다릅니다)
type(0) != type(0.0)

True

In [43]:
# 두 값의 크기를 비교 : >=, <=, <, >

10 >= 3

True

### 2-3) 논리 연산자
    - 여러개의 조건식을 활용하기 위한 명령어
    - bool type 결과 반환 : True, False

In [ ]:
# and 연산자 : 조건식1 and 조건식2

# 조건식1과 조건식2가 모두 True라면 최종 결과도 True
# 둘 중 하나만 False여도 최종 결과는 False
# 둘 다 False라면 최종 결과는 False

In [44]:
10 < 12

True

In [45]:
# 결과값 : True

10 < 12 and 0 > -3

True

In [47]:
# 숫자0은 False, 이외의 모든 숫자는 True로 간주함

# bool(자료)는 자료의 참/거짓을 판단해줍니다

# 결과값 : False
bool(0)

False

In [48]:
bool(292)

True

In [49]:
bool(-229)

True

In [51]:
# 0이 False로 사용되는 예시

# 0 -> False, 10>3 -> True => and 연산자의 결과 : False
bool(0 and 10>3)

False

In [52]:
# or 연산자

# 조건식1 or 조건식2

# 둘 중 하나만 True여도 최종 결과 True
# 둘 다 False일 때 최종 결과 False

bool(0 or 10>3)

True

### 2-4) 할당 연산자

- 변수 할당
- 누적 연산

In [53]:
# 변수명(왼쪽)에 변수값(오른쪽)을 할당/선언/저장/대입 : =

x = 10

In [54]:
# 숫자형의 누적합 +=

#result라는 변수에 누적합을 저장하기
result = 0

#result에 x만큼 더해서 저장하기 위해 원래 사용하던 코드
result += x # result = result + x
result

10

In [57]:
# 1 ~ 10까지 누적합을 구해보세요 : 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

result = 0

#반복문을 이용해 result 변수에 1~10까지 누적해 더하는 코드

## range의 오른쪽은 끝나는 숫자 + 1. 즉 끝나는 번호는 10인 것.
## 즉, 1부터 10까지하고 싶으면 1, 11이라고 적어야하는 것.
for i in range(1, 11):
    result += i

print(result)

55

In [58]:
# 숫자형의 누적차

result -= 1

# 결과값:54
result

54

In [59]:
# 누적곱

result *= 2

# 결과값:108
result

108

### 1. 홍길동의 시험 성적 평균을 구하세요


영어 : 80, 국어 72, 수학 90, 사회 66

* 변수를 사용해서 과목의 평균을 구해보세요
* 출력 양식 : <br>

총합 308<br>
평균 77

### 2. 반지름이 7인 원의 넓이를 구해주세요

(참고) 원 넓이 = (반지름 ** 2) * 3.14

- 반지름과 원 넓이는 모두 변수로 저장해줍니다
- 출력양식 <br>
반지름 : 3
원넓이 : 27(소수점 없이 정수로 출력)

### 3. 여러분들이 직접 임의의 변수에 원하는 숫자를 집어 넣고 그 숫자의 제곱근과 세제곱 값을 출력해주세요

In [6]:
en = 80
ko = 72
ma = 90
so = 66

In [7]:
# 총합

total = en + ko + ma + so

total

308

In [8]:
total/4

77.0

In [5]:
# 평균

int(total/4)

77

In [15]:
r = 7
pi = 3.14

In [19]:
print("반지름", r)
print("원넓이", int(r ** 2 * pi))

# 파이썬에서는 정수로 바꾸고 싶다면 int + 괄호로 감싸면 된다

반지름 7
원넓이 153

In [23]:
apple = 5

In [12]:
apple ** 0.5

2.23606797749979

In [4]:
banana ** 3

64

In [20]:
# 출력1
print("제곱근", apple ** 0.5)

제곱근 2.23606797749979

In [21]:
# 출력2
print("제곱근", apple ** (1/2))

제곱근 2.23606797749979

In [25]:
#세제곱근

print("세제곱근", apple ** (1/3))

세제곱근 1.7099759466766968