# 자료형

- 여러 개의 아이템들을 저장하는 객체 = 여러 개의 값(데이터타입)을 저장하는 그릇

## 1. 리스트(List)

▶ 문법 기호 : [아이템1, 아이템2, 아이템3 .... ]


▶ 용어 : 아이템 = 요소


▶ 아이템으로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트, 딕셔너리 ...


▶ 종류

     * 아이템이 없는 리스트
         - 그냥 빈 리스트
    
     * 1차원 리스트
         - 0, 1, 2, 3, ..
    
     * 다차원 리스트 
         - 리스트 안의 리스트
    
    
▶ 특징

     * 인덱스 활용
    
     * 다차원 리스트의 구조에 대한 이해

### 1.1 생성하기

In [2]:
# 빈 리스트 생성하기 = 아이템이 없는 리스트

## 문법 기호 : []
## 함수 : list()

a = []
a2 = list()

print(type(a), type(a2))
print(a, a2)

<class 'list'> <class 'list'>
[] []

In [3]:
# 모든 데이터 타입을 아이템으로 가질 수 있다. (정수, 실수, 문자, 리스트)

a3 = ['a', 10, 1.1, [1, 23.1, 'a']]
a3

['a', 10, 1.1, [1, 23.1, 'a']]

In [ ]:
# 2차원 배열이며, 인덱스를 2개를 써야 하나의 값을 타겟으로 잡을 수 있다.

In [9]:
a3[0]

'a'

In [10]:
a3[3]

[1, 23.1, 'a']

In [11]:
a3[3][1]

23.1

In [12]:
# 3차원 배열 예시

a4 = [1, 2, 3, [1, 2, 3, [10, 20]]]
a4

[1, 2, 3, [1, 2, 3, [10, 20]]]

In [13]:
a4[3][3][1]

20

### 1-2 인덱싱, 슬라이싱

- 리스트를 인덱스 번호로 접근하면 해당하는 위치의 값(아이템) 가져온다.

- ※ 복습
    - 첫 번째 인덱스 번호는? =  0번 인덱스 = 첫 번째 아이템
    - 마지막 인덱스 번호는?  = -1번 인덱스 = 마지막 아이템

### 1-2-1 인덱싱(Indexing)

- ※ 정의 복습 : 특정 위치에 있는 하나의 아이템에 접근한다. = 하나의 값을 가져온다.

In [14]:
# 리스트 생성하기

a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# 첫 번째 아이템 인덱스 번호 : 0

## 인덱싱 문법 : 객체[인덱스번호]

a[0]

1

In [16]:
## 리스트에서 6이라는 아이템 가져오기
a[5]

6

In [17]:
# 리스트의 마지막 값 확인학
a[-1]

9

In [18]:
# len()으로 길이 확인 가능

len(a)

9

### 1-2-2 슬라이싱(Slicing)

- ※ 정의 복습 : 연속된 범위에 있는 하나 또는 하나 이상의 여러개 아이템에 접근한다.
- ※ 문법 기호 : 대상 객체(문자열, 리스트)[시작번호:끝번호:간격] => 끝번호는 포함하지 않는다.

In [19]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
# 리스트의 0~2번째 아이템까지 확인하기

## 시작 번호 : 0
## 끝 번호 : 2니까 3이라고 적어야 함

a[0:3]

[1, 2, 3]

In [21]:
# 리스트의 3번째 아이템부터 마지막 아이템까지 확인하기

## 시작 번호 : 3
## 끝 번호 : 생략

a[3:]

[4, 5, 6, 7, 8, 9]

### << 연습문제 >>

다음의 4차원 리스트에서 아래 조건에 맞는 값을 출력해주세요.

         a = [1,2,3, ['a', [100, 200, ['강남', '서울'], 300,], 'b', 'c']]
         
         출력 결과 = 강남 & 300 & c

In [22]:
a = [1,2,3, ['a', [100, 200, ['강남', '서울'], 300,], 'b', 'c']]

In [33]:
a1 = a[3][1][2][0]

In [34]:
a2 = a[3][1][3]

In [35]:
a3 = a[3][3]

In [39]:
print("출력 결과 =", a1, "&" , a2, "&", a3 )

출력 결과 = 강남 & 300 & c

In [43]:
# 포매팅 사용

print("출력 결과 =  %s & %s & %s" %(a1, a2, a3))

출력 결과 =  강남 & 300 & c

### 1-3 아이템 추가하기 : 연산자와 함수를 이용한 리스트 아이템 추가

- 1) 산술 연산자 : +, *
- 2) 리스트의 함수(메서드) : ★리스트.append(), 리스트.extend(), 리스트.insert()

#### 1-3-1 산술 연산자

- 종류 : +, *
- 특징 : 원본에 반영되지 않는다.

In [44]:
# 리스트끼리 연결 : +

a = [1,2,3]
b = [4,5,6]

In [45]:
a + b

[1, 2, 3, 4, 5, 6]

In [46]:
print(a, b)

[1, 2, 3] [4, 5, 6]

In [47]:
# 리스트 대상 곱하기 : *

b * 3

[4, 5, 6, 4, 5, 6, 4, 5, 6]

### 1-4. 리스트 타입의 함수 (method)

- 종류

    - 리스트.append(추가할 아이템) : 인자값을 통채로 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음 = 1개의 아이템만 추가 가능
    - 리스트.extend(추가할 아이템) : 인자값의 아이템을 뽑아서 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음, 단 여러 개의 아이템 
    <br/>



- 추가 가능
    
    - 리스트.insert(인덱스번호, 추가할 아이템) : 위치를 지정해서 아이템을 삽입할 수 있음, 통채로 아이템을 추가
    - 특징 : 원본에 바로 적용이 됨
    <br/>
    
    
    
- 참고 연산자 : in 연산자 (결과값은 bool type)

In [63]:
# 리스트 생성하기

a = [1,2,3]

a

[1, 2, 3]

In [49]:
# append()

## 문법 : 리스트.append(추가할 아이템)
## 추가되는 위치 : 가장 마지막 인덱스 바로 뒤

In [64]:
a.append(4)
a

[1, 2, 3, 4]

In [65]:
## 추가 할 자료로 [5, 6]을 제공한다면?

a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [66]:
### ===> (결과) 무조건 한 인덱스에 다 때려넣기 때문에 이차원 배열이 되었다.

a[4]

[5, 6]

In [67]:
# extend()

## 문법 : 대상리스트.extend(리스트)
## append()와의 차이점 : 인자값으로 리스트만 받을 수 있다.
## 리스트 길이만큼 인덱스가 연장된다 (append는 무조건 +1만큼만 연장되지만..)

a.extend([7, 8, 9])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [61]:
## 리스트만 받을 수 있음. => TypeError: 'int' object is not iterable

a.extend(9)
a

TypeError: 'int' object is not iterable

In [68]:
## 이렇게는 가능. 즉, 하나를 넣어도 리스트[] 형식으로 넣어야한다.

a.extend([10])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [69]:
# insert()

## 문법 : 대상리스트.insert(인덱스번호, 추가할아이템)
## 다른 함수와의 차이점 : 아이템 추가가 마지막 인덱스가 아닌 지정한 인덱스를 기준으로
## append와의 유사점 : 하나의 인덱스에 다 때려박음(append는 넣을 위치를 지정할 수 없다.)

a.insert(0, 100)
a

### 기존의 값 : [1, 2, 3, 4, [5, 6], 7, 8, 9, 10]
### 변경된 값 : [100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

[100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [70]:
## 하나의 인덱스에 다 넣기 때문에, 리스트를 넣어도 하나의 인덱스에 들어감.

a.insert(0, [98, 99])
a

### 기존의 값 : [100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]
### 변경된 값 :  [[98, 99], 100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

[[98, 99], 100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [71]:
# in 키워드는 특정 요소가 리스트 내에 있는지 없는지 여부를 물어봅니다.

# 값 in 리스트
# 값 100이 a 리스트 내에 존재하나요? => 100 in a

99 in a

## 결과값 : false => a는 99가 없다. [98, 99]가 있을 뿐 ,,,,

False

In [73]:
## a의 0번째에 99가 있나요?

99 in a[0]

## 결과값 : true => a[0] = [98, 99]이기 때문

True

In [74]:
# not in 키워드는 특정 요소가 리스트 내부에 없는지를 물어봅니다.

# 값 not in 리스트

## 50이 a 리스트에 없습니까? -> 50 not in a

10 not in a

## 결과값 : false => a 안에 있기 때문

False

### <<연습문제>>

아래의 순서에 맞추어 직접 실행

1) 빈 리스트 생성 <br/>
2) 1에 1,2,3 추가 <br/>
3) 2의 3번째에 문자 100 추가 <br/>
4) 3에 문자 A, B를 아이템으로 가진 리스트를 추가 <br/>
5) 4를 2번 반복한 리스트 출력 <br/>

In [96]:
list = []
list

[]

In [97]:
list.extend([1,2,3])
list

[1, 2, 3]

In [98]:
list.insert(2, '100')
list

[1, 2, '100', 3]

In [99]:
list.append(['A', 'B'])
list

[1, 2, '100', 3, ['A', 'B']]

In [93]:
newList = []

In [91]:
newList.append(list)

In [92]:
newList

[[1, 2, 100, 3, ['A', 'B']], [1, 2, 100, 3, ['A', 'B']]]

In [100]:
list * 2

[1, 2, '100', 3, ['A', 'B'], 1, 2, '100', 3, ['A', 'B']]

여기부터 05.25 수업

### 1-5. 아이템 수정하기

- 인덱싱, 슬라이싱을 이용해서 아이템을 수정할 수 있다.

In [1]:
# 리스트 생성하기

a = [1, 2, 3, 4]

In [2]:
# 하나의 아이템 수정하기

## 0 번 인덱스에 있는 값을 [10, 20]으로 수정하기
## 결과 : [[10,20], 2, 3, 4]

a[0] = [10,20]
a

## ★ 인덱스로 집어넣으면 하나의 인덱스에 때려 넣는다.

[[10, 20], 2, 3, 4]

In [6]:
# 연속된 범위의 여러 아이템 수정하기

## 0번 인덱스만 선택 => 슬라이싱으로 선택

a2 = [1, 2, 3, 4]

In [8]:
a2[0:1] = [10, 20] # 0번째부터 0(1-1)번째까지

## 슬라이싱은 마지막 숫자-1을 해야함.
## 따라서 위에 있는 것과 차이가 없다.

## ★ 슬라이싱으로 넣으면, 리스트를 하나하나 풀어서 넣는다(extends와 유사)

In [9]:
a2

[10, 20, 2, 3, 4]

In [11]:
## 리스트를 슬라이싱으로 조회하면 무조건 리스트 형태로 나옴

a2[0:1]

[10]

### 정리

- 인덱스로 값 넣기 : 하나의 인덱스에 값이 입력됨
- 슬라이싱으로 값 넣기 : 하나하나 풀어서 넣어줌, 무조건 [리스트]의 형태로 넣어준다.

In [12]:
# 슬라이싱으로 값을 할당할 때의 주의점 : 전달하는 값은 1개여도 리스트로 => TypeError: can only assign an iterable

a2[0:1] = 100

TypeError: can only assign an iterable

In [13]:
## 슬라이싱으로 할당할떄는 무조건 [리스트]로 넣어주어야 함

a2[0:1] = [100]

In [14]:
a2

[100, 20, 2, 3, 4]

### <<연습 문제>>

- 아래 조건에 맞추어 리스트를 수정하세요

    [ 10, 99, 3, '사과', 73, '바나나' ]
    
- 조건1) '사과'를 'apple'로 수정

- 조건2) 99, 3을 9, 33으로 수정 ( 슬라이싱을 사용 )

- 조건3) 73을 [73, 74]로 수정

In [17]:
aa = [ 10, 99, 3, '사과', 73, '바나나' ]
aa

[10, 99, 3, '사과', 73, '바나나']

In [20]:
aa[3] = 'apple'
aa

[10, 99, 3, 'apple', 73, '바나나']

In [21]:
aa[1:3] = [9, 33]
aa

## 헷갈린다면 aa[1:(2+1)] 이런식으로 해도되긴 함

[10, 9, 33, 'apple', 73, '바나나']

In [22]:
aa[4] = [73, 74]

In [23]:
aa

[10, 9, 33, 'apple', [73, 74], '바나나']

### 1-6. 아이템 삭제하기

* 슬라이싱

* del 키워드 + 인덱싱 / 슬라이싱

* remove() 메서드 : 값을 기준으로 삭제 (인덱스가 아님!)

* pop()
    - 인자값에 아무것도 입력하지 않거나 -1을 입력하면 마지막 인덱스를 삭제
    - 특정 인덱스를 지정하여 삭제

In [24]:
# 리스트 생성하기

In [30]:
a1 = [10, 20, 30, 40, 50]
a2 = [10, 20, 30, 40, 50]

In [31]:
# 하나의 아이템 삭제하기1 : 슬라이싱 + 빈 리스트 대입

## 0번 인덱스 값 삭제하기

a1[0:1] = []
a1

[20, 30, 40, 50]

In [32]:
# 만약 슬라이싱이 아닌 인덱싱을 이용한 빈 리스트 대입시는, 빈 리스트가 해당 번호에 대입(삭제가 아님)

a2[0] = []
a2

[[], 20, 30, 40, 50]

In [33]:
# 하나의 아이템 삭제하기2 : del 키워드 + 인덱싱

del a1[-1]
a1

[20, 30, 40]

In [34]:
## del 키워드는 원래 해당 변수나 자료를 삭제해버립니다.

## 리스트 전체를 del 키워드로 걸면, 리스트가 전부 삭제됩니다.

del a2
a2

### NameError: name 'a2' is not defined

NameError: name 'a2' is not defined

In [35]:
# 하나의 아이템 삭제하기3 : remove()메서드

## 문법 : 리스트.remove(삭제할 자료를 직접 기입)  ★ 인덱스가 아님 !!!

z = [1, 2, 3, 3, 3, 4, 5]

In [36]:
## 5라는 값을 삭제(인덱스 번호로는 6)
z.remove(5)

### 5번 인덱스의 값이 삭제되는 것이 아니라 '5'라고 되어 있는 것이 삭제된다.

In [37]:
z

[1, 2, 3, 3, 3, 4]

In [38]:
## 중복된 아이템이 존재하면 가장 앞서는 인덱스 자료 하나만 삭제

### 다 삭제하는 것이 아니라 인덱스0에서 가장 가까운 것 하나만 삭제된다.

z.remove(3)
z

[1, 2, 3, 3, 4]

In [39]:
# del 키워드는 단일 자료뿐만 아니라 연속된 버무이(슬라이싱) 자료도 삭제 가능하다

del z[2:]

## 두 번쨰 이후 모든 자료를 삭제하겠다
z

[1, 2]

In [40]:
# 하나의 아이템 삭제하기 4 : pop() 메서드

## 마지막에 위치한 값이 몇이었는지 확인 시켜주고 삭제함

x = [1, 2, 3, 4, 5]

x.append(6)
x

[1, 2, 3, 4, 5, 6]

In [41]:
## 인덱스 번호를 미기입하면 마지막 인덱스 자료 삭제( 6 삭제 )

x.pop()

6

In [42]:
x

[1, 2, 3, 4, 5]

In [44]:
## 삭제하려는 인덱스 번호 지정시, 마지막이 아닌 입력된 인덱스 자료 삭제

x.pop(2)

3

In [45]:
x

[1, 2, 4, 5]

### 1-7 아이템 정렬하기

* 함수
    - sort() : 기본동작 = 오름차순 정렬(작은값이 먼저 오고 큰 값이 나중에)  ==> 원본이 변경
    
    - reverse() : 기존 리스트의 처음과 마지막 순서를 뒤집어서 나열

In [46]:
a = [10, -30, 57, -33, 71, 1, 34, -2]

In [47]:
# 값을 오름차순으로 정렬 : sort() 기본 동작 / sort (reverse = False)

## *** 원본 리스트가 시뮬레이션이 아니라 아예 '변경'됩니다.

a.sort()

In [48]:
a

[-33, -30, -2, 1, 10, 34, 57, 71]

In [49]:
# 값을 오름차순이 아닌 내림차순으로 정렬하는 경우 : .sert(reverse=True)

a.sort(reverse=True)
a

[71, 57, 34, 10, 1, -2, -30, -33]

In [50]:
# 값을 인덱스 기준으로 반대로 뒤집기 : reverse()

b = [10, 71, 32, 46, 5, 95]

In [51]:
b.reverse()
b

[95, 5, 46, 32, 71, 10]

### 1-8 아이템 개수 세기

* 함수
    - 리스트.count(값) : 값이 리스트에 몇 개 있는지 개수를 반환 => 특정 아이템 개수를 반환
    - len() : 파이썬 내장함수, 인자값으로 전달받은 객체의 길이 => 전체 아이템의 개수를 반환

In [52]:
a = [1, 2, 3, 3, 3, 4, 5, 6]

In [53]:
# 특정 아이템의 개수 : count(6)

a.count(6)

1

In [54]:
a.count(3)

3

In [55]:
a.count(7)

0

In [56]:
# 전체 아이템의 개수 : len()

len(a)

8

### 1-9 리스트 복사하기

* 할당기호(=)    ==> 같은 주소 복사 (같은 번지수)
* copy() 메서드  ==> 깊은 복사      (다른 번지수)
* list()         ==> 깊은 복사      (다른 번지수)
* 슬라이싱       ==> 깊은 복사      (다른 번지수)

In [57]:
# 1. 할당기호(=)로 복사하기

a = [1, 2, 3, 4, 5]
b = a

In [58]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [ ]:
## 파이썬도 스택과 힙을 가지고 있음

### 메인 메서드가 없어서 스택에 자동으로 저장된다.
### 스택에 변수 a를 만들고 힙에 1, 2, 3, 4, 5(100번지)를 저장하고 주소지를 a에 저장한다.
### b에다가 대입해주는 것은 100번지를 저장하는 것

### 찍을때는 당연히 print(a, b)는 둘 다 100번지를 출력하게 되는 것

In [59]:
# = 를 이용해 복사한 요소는 동일한 지점을 가리키는 복사이다.

a[0] = 10

print(a, b)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

In [60]:
# 2. .copy() 메서드로 복사하기 ( 깊은 복사 )

c = a.copy()
c

[10, 2, 3, 4, 5]

In [ ]:
## 깊은 복사 = 힙에 있는 데이터 자체를 복사해서, 힙에다 동일한 데이터를 다른 번지수로 할당함

In [63]:
## 파이썬에서는 id(자료)를 이용해 저장된 번지수 주소를 조회할 수 있다.

print("a, b의 번지수->", id(a), id(b))
print("c의 번지수->", id(c))

a, b의 번지수-> 1547075626048 1547075626048
c의 번지수-> 1547075500800

In [64]:
## 그래서 이제는 a를 변경해도 c는 영향을 받지 않는다

a[2] = 20

[10, 2, 20, 4, 5] [10, 2, 20, 4, 5] [10, 2, 3, 4, 5]

In [66]:
print(a)
print(b)
print(c)

[10, 2, 20, 4, 5]
[10, 2, 20, 4, 5]
[10, 2, 3, 4, 5]

In [ ]:
# 3. list()로 복사하기

## list(자료)를 넣으면 그 자료를 힙에 새롭게 할당해 리스트화한다.

In [68]:
d = list(c)

In [69]:
print(c)
print(d)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [70]:
## 깊은 복사 여부 확인 ==> 번지수가 다르다

print(id(c), id(d))

1547075500800 1547076469952

In [71]:
# 4. 슬라이싱으로 복사하기 ==> 번지수가 다르다.

## d의 전체 범위 복사

e = d[:]
print(id(e), id(d))

1547076415680 1547076469952

### << 연습 문제 >>

1. a 리스트를 이용하여 다음과 같은 문자열을 출력하시오.

출력문 : you too

In [81]:
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [82]:
print(a[4], a[2])

you too

In [83]:
# 리스트의 길이 구하기

len(a)

7

In [86]:
# a 리스트의 첫번째 아이템에 길이를 추가하세요

a.insert(0, len(a))

In [87]:
a

[7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

4. 아래와 같이 크기 순서가 없는 리스트를 만들고 내림차순 정렬로 바꿔보세요

[1, 4, 9, 2, 6, 10]

In [93]:
a = [1, 4, 9, 2, 6, 10]
a

[1, 4, 9, 2, 6, 10]

In [95]:
a.sort()
a

[1, 2, 4, 6, 9, 10]

In [96]:
a.reverse()
a

[10, 9, 6, 4, 2, 1]

In [98]:
# 위의 두 줄을 한번에

b = [1, 4, 9, 2, 6, 10]
b.sort(reverse=True)
b

[10, 9, 6, 4, 2, 1]

5. 다음과 같은 아이템을 가지는 리스트를 만들고 아이템을 삭제해보세요 ( 슬라이싱 숫자 3개)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
a[::2]

[1, 3, 5, 7, 9]

In [101]:
del a[::2]
a

[2, 4, 6, 8, 10]

## 2. 튜플 Tuple

- 생성 문법 기호 : ()
- 아이템을 수정/삭제할 수 없기 때문에 실수로 데이터가 변경되거나 삭제되는 위험이 적다.
- 객체를 저장하는데 더 적은 메모리를 사용한다.
- dictionary 자료형의 key로 활용할 수 있다.
- 함수의 인자는 tuple 자료형으로 전달된다.

### 2.1 튜플 생성하기

In [102]:
# 하나의 아이템을 가진 리스트

list

In [103]:
a = [1]
type(a)

list

In [104]:
# 튜플 만들기

In [105]:
## 문법기호 : 튜플은 ()을 이용해 생성하되, 생략이 가능함. ★단, 쉼표는 무조건 1개 이상 들어감

tu = 1
type(tu)

int

In [106]:
tu1 = (1)
type(tu1)

int

In [107]:
## 왜 괄호로 감싸서 만들어도 int로 나오는 것일까?

### (1+3) = (4) 와 같음
### 연산 우선순위로 쓰는 괄호

In [109]:
### 두 개 이상을 집어 넣는다면?

tu2 = (1,2)
type(tu2)

### 그럼 무조건 두 개 이상을 넣어야할까? NO !

tuple

In [110]:
# 콤마를 넣으면 무조건 생성 가능 ~_~

tu3 = (1,)
type(tu3)

tuple

In [ ]:
## 콤마(,)를 적는 것 만으로도 튜플임을 명시하는 것과 같다.

In [111]:
## 심지어 소과ㄹ호를 생략해도 됨

tu4 = 1,
type(tu4)

tuple

In [112]:
tu5 = 1, 2, 3
type(tu5)

tuple

In [113]:
# tuple(리스트)로 처리하면 리스트를 튜플로 변환할 수 있따.

b = tuple(a)
print(type(a), type(b))

<class 'list'> <class 'tuple'>

In [114]:
a

[1]

In [ ]:
## 그럼 리스트와 튜플의 차이가 뭐지?

### 튜플은 아이템을 수정/삭제할 수 없다 ㅠ
### DB같은데서 데이터를 꺼내올 때, 실수로 데이터를 변경하거나 삭제할 수 없으니 원본이 보장?된다.
### 사용할 수 있는 기능이 적다 = 기능을 로딩하는 시간이 줄어든다.

In [115]:
# 변수 하나에 여러 값을 대입하면 튜플로 간주된다.

In [116]:
x = 56, 76, 29, 10
x

(56, 76, 29, 10)

In [117]:
# 튜플 내부의 자료 개수만큼 변수를 대입해주면 하나씩 나눠서 값을 받는다.

x1, x2, x3 = 1, 2, 3

print(x1, x2, x3)

1 2 3

In [118]:
## 자료를 여러개 넣는다면? => 에러 ValueError: too many values to unpack (expected 3)

x1, x2, x3 = 1, 2, 3, 4, 5, 6

ValueError: too many values to unpack (expected 3)

### 2.2 튜플 인덱싱

In [ ]:
# 튜플도 인덱싱이 된다.(리스트랑 큰 차이는 없다.)

In [119]:
x[0]

56

In [120]:
x[0:3]

(56, 76, 29)

In [124]:
x[0:1]

(56,)

### 2.3 튜플 연산자

* 산술 연산자 : +, *

In [125]:
# 여러개의 튜플 아이템을 합쳐서 새로운 튜플로 구성하기 : +

In [126]:
x + x

(56, 76, 29, 10, 56, 76, 29, 10)

In [127]:
# 한 개의 튜플을 반복해서 확장해서 새로운 튜플 만들기 : *

In [128]:
x * 4

(56, 76, 29, 10, 56, 76, 29, 10, 56, 76, 29, 10, 56, 76, 29, 10)

### 2.4 튜플은 수정/삭제가 안됨

In [129]:
# 수정하기 -> 인덱싱으로 하나의 아이템에 접근해서 수정

## TypeError: 'tuple' object does not support item assignment

x[0] = 0

TypeError: 'tuple' object does not support item assignment

In [130]:
# 삭제하기 -> del + 인덱싱

## TypeError: 'tuple' object doesn't support item deletion

del x[0]

TypeError: 'tuple' object doesn't support item deletion